.idea/
venv/
.git/
.vscode/
static_file_list.txt
app/static/customer_upload/
app/static/files/
list_all_static.py
migrations
# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build
log/