{#1/1#}
{% extends 'profession-sub/profession-sub-base.html' %}


{% block profession_sub_content %}
    <div class="contents">


        <div class="title text-center">
            <h1 class="in-content-title"><b>制药</b></h1>
        </div>


        <div class="passage">
<p>制药行业，不管是生物制药、化学制药还是中药制药，都必须用到化学化工的知识，化学的提纯、蒸馏、复合技术已经广泛运用各种制药行业。现如今各种新药层出不穷，不断攻克以往医疗工作者束手无策的疑难杂症。</p>
<p>此外，现在新药研发的速度也越来越快。比如当流感病毒大爆发的时候，卫生部门在一到两个月内就能研制出出针对性的疫苗。因此现在我们的药物种类在逐渐增多，制药速度也在不断加快。而这一切全都得益于化学化工行业的快速发展。</p>
<p>制药行业都起源于传统医药，比如我们通常比较熟悉的田七、天麻、麦冬、干草，后来又发展到从这些天然草药中分离提取出药用成分，比如从人参中提出的人参皂角苷，从这时开始化学药物的工业生产体系才慢慢建立起来。</p>
<p>在分离天然成分的基础上，人们又开始对这些天然成分进行合成和改造，比如目前大多数抗生素都是从青霉素改造而来，也就是所谓的半合成青霉素。到此时，制药学也成为了独立的学科。化学制药的最后一个阶段是制剂加工技术的发展。</p>
<p>化学制药涉及到无机化学、分析化学、合成反应、制药工艺学、药物分析等专业知识。化学制药行业也有生产工艺复杂、原料种类繁多、产品质量要求高、污染废物多等特点。</p>
<p>化学制药翻译对专业性要求较高，因为它要求译者同时掌握化学工程和医学医药知识。启信科技翻译有专门的化学化工翻译小组，组内成员大多来自清华大学化学系和化工系，他们全都数量掌握了化学化工知识，确保翻译的专业性。</p>
<p>此外，我们还有化学化工行业的从业者担任专业校对，他们以自己丰富的行业经验，排除译稿中因为不熟悉生产实际而犯的专业错误。对于制药论文翻译，我们更有来自世界各地的外籍专家进行母语润色，确保论文语言水平达到SCI论文级别。我们承诺，所有论文因为语言问题被退稿的，我们全都负责免费修改，免除您的一切后顾之忧。</p>

        </div>
    </div>
{% endblock %}