{#1/1#}
{% extends 'profession-sub/profession-sub-base.html' %}


{% block profession_sub_content %}
    <div class="contents">


        <div class="title text-center">
            <h1 class="in-content-title"><b>化学成分检测报告翻译</b></h1>
        </div>


        <div class="passage">
<p>化学检测报告在工业生产和贸易往来中经常会用到，比如食品成分检测报告、化妆品成分检测报告、药物检测报告、医疗器械成分检测报告等等。化学检测报告可以提供产品中所含各种化学成分及其含量，尤其是检测其是否含有毒性、致癌、放射性物质。世界各地对有毒有害、致癌物质的含量都制定有不同的标准，各种化学产品在当地生产、运输或销售时必须按照当地法规给出的检测方法，检测各种化学成分的含量。</p>
<p>除此之外环境监测也会用到化学检测报告，环评机构会定期检测化工厂、垃圾处理厂、核电厂周围的土壤、水源以及空气中重金属和放射性元素的含量或辐射剂量，生成化学检测报告并判断其环评是否达标。</p>
<p>我国对食品药品安全越来越重视，任何外国进口食品药品都要出具化学检测报告，并到中国食品药品管理局登记，才能获得在中国的销售许可证。一旦出现产品安全问题，化学检测报告也是重要的评估问责依据。</p>
<p>化学检测报告的格式比较简单，一般会列出检测依据的法规标准、检测项目、检测结果。但是其专业性也比较强，要求译者有良好的化学基本知识，并熟悉常规的化学物质。</p>
<p>启信科技翻译又专业的化学化工翻译团队，团队成员来自清华大学和其他著名高校的化学化工院系，无论是化学基本知识，还是语言素养都出类拔萃，能够出色完成各类化学检测报告的翻译任务。我们有专门的项目经理统筹，全程质控，百分百保证所有翻译文件翻译水平始终如一。</p>

        </div>
    </div>
{% endblock %}