{#1/1#}
{% extends 'profession-sub/profession-sub-base.html' %}


{% block profession_sub_content %}
    <div class="contents">


        <div class="title text-center">
            <h1 class="in-content-title"><b>高分子化学翻译</b></h1>
        </div>


        <div class="passage">
<p>高分子化学是化学学科中比较年轻的一个学科，年龄不足六十岁，但是它又是发展最为迅猛的一个学科。所谓高分子化学包括高分子合成和高分子反应。高分子化学研究的如何用小分子合成高分，并将高分子材料用作生产生活的工具。</p>
<p>天然的高分子材料包括骨骼、木材、蚕丝、棉麻等等。但是二十世纪初科学家们发展出了合成高分子材料，现在它已经发展成塑料、合成橡胶和合成纤维。塑料自不必说，我们日常使用的餐盒、塑料水杯、手机壳、有机玻璃都属于塑料。现在汽车使用的含硫轮胎都是合成橡胶。合成纤维最广泛使用于制作布料衣物，锦纶、涤纶就是属于合成纤维。</p>
<p>高分子材料可以用作结构材料，可以替代金属和木材，用来制作家具等用具，还可以用作医疗器械，比如人造骨骼。</p>
<p>高分子材料还可以用作功能材料，比如半导体塑料、光导塑料、导电塑料、超导塑料。目前来说高分子液晶显示技术和高分子药物是非常热门的前言学科。二十一世纪被称作材料科学的世纪，许多重大科学突破都仰赖着材料科学的进步，而高分子化学则可以说是材料科学的基石。在本世纪，高分子化学要继续改进高分子聚合的反应和方法，开发出性能更优异的功能材料。其将成为解决能源问题、环境问题、医疗健康问题的一大利器。人类开展尖端物理研究和先进技术研发都将离不开它。随着有科学家将人工智能技术用于高分合成预测，想必该领域很快能够取得重大突破，获得喜人成果。</p>
<p>启信科技翻译建立有专门的化学化工翻译小组，能够满足各种与高分子化学有关的文献资料、学术论文的翻译需求。除了配备有著名高校化学化工专业的高材生外，我们还有经验丰富的化工行业从业者，此外，我们更有来自世界各地的外籍语言专家进行语言润色，满足您的SCI论文发表需求。我们承诺所有经过母语润色的高分子化学论文全都符合SCI期刊语言要求。</p>

        </div>
    </div>
{% endblock %}