{#1/1#}
{% extends 'profession-sub/profession-sub-base.html' %}


{% block profession_sub_content %}
    <div class="contents">


        <div class="title text-center">
            <h1 class="in-content-title"><b>化学化工文献翻译</b></h1>
        </div>


        <div class="passage">
<p>化学化工文献在工业生产和学术研究中使用得非常多，比如化学成分检测报告、化学试验报告、化学学术论文、化工学术论文、化学会议报告等等。化工行业是国民工业中的支柱产业之一，石油精炼、化学制药、化肥生产、化学矿冶、水泥生产全都属于化工行业。</p>
<p>过去一百年来，人类进行大量化工生产和大规模化学产品使用带来十分严重的环境问题。化工生产过程要使用到非常多的原料和辅料，同时也会产生非常多的废料，这些废料以废渣、废水、废弃的形式排到了环境中就造成了严重污染。比如我们北方有大量炼焦企业，这些企业会派出大量含硫气体，最终会导致酸雨。</p>
<p>另外一个问题是化学产品的大量使用带来的环境问题。比如大量使用化肥会导致土壤硬化，最终使得农作物减产；大量使用含磷洗涤剂会导致水域富营养化；大量使用农药会导致残余农药流入人体，致癌致畸。</p>
<p>针对这些环境污染问题，一方面要从源头上进行管控，比如使用煤炭脱硫技术，倡导减少使用化肥农药，或使用生物肥料和生物农药替代传统化肥农药等；另一方面要开展积极的治理，用填埋、活性炭吸收和酸碱中和等各种手段治理被污染土壤、水域。此外还要加强环境监测，严格环评流程，加大环评不达标企业处罚力度。</p>
<p>启信科技翻译有独立的化学化工翻译小组，由项目经理统筹。我们在过去的几年中一直注重专业术语的积累，现已经收录化学化工专业术语近百万条，在对文献进行正式翻译之前，我们会将原文与术语库进行比对，目前文献术语的平均符合率达到90%以上，已经大大降低了专业偏差率。我们专业翻译小组对化学化工翻译已经有了相当成熟的经验，日翻译文字量达到10万。</p>

        </div>
    </div>
{% endblock %}