{#1/1#}
{% extends 'profession-sub/profession-sub-base.html' %}


{% block profession_sub_content %}
    <div class="contents">


        <div class="title text-center">
            <h1 class="in-content-title"><b>基因工程</b></h1>
        </div>


        <div class="passage">
<p>人们对转基因食品天然存在一种恐惧感，社会上对于转基因食品俨然已经形成了水火不容的两派。支持者认为，转基因食品是解决粮食问题的唯一出路。而反对者则认为转基因食品的毒副作用尚不明朗，但是其可能存在难以预料的严重后果。大家斗士方舟子和央视名嘴崔永元之间的斗争围绕的就是这一话题。那么什么是转基因技术呢？</p>
<p>所谓转基因技术就是对DNA分子进行切割、拼接和重组，其涉及大外源基因、载体基因和本体基因。本体基因就是需要进行改造的DNA分子，外源基因就是人们想要的特定基因片段，载体基因则负责将该片段运输到本体基因上。DNA分子的切割要用到特定的剪切酶，人们称之为DNA剪刀。令人们感到担忧的是，将原本不属于本体的外源基因转入本体DNA分子会不会产生有害物质，或者导致基因变异产生难以抵御的可怕微生物。</p>
<p>转基因技术最早运用于农业领域，这也是其运用得最广泛的领域的。从上世纪八十年代开始，科学家们就已经开始研究转基因技术。虽然现在人们谈转基因色变，但是实际上世界上超过30%的玉米和60%的大豆都进行过基因改造，经过基因改造的粮食作物和经济作物在产量和品质上有显著的提升。由于转基因作物有着巨大经济效益，许多公司投入巨资进行研究，甚至形成了技术成果垄断的局面。</p>
<p>基因工程可以用来生产药物，这些生物药物具有传统化学药物所不具有的功效。这些药物已经被应用于预防和治疗癌症、糖尿病等严重疾病。目前美国和欧洲是基因工程药物发展最成熟的地区，并且其市场在快速增长。</p>
<p>本世纪将是基因工程进一步发展的世纪，其将为人类带来巨大的经济效益，帮助解决粮食、医药等问题。但与此同时，我们也要关注转基因技术的负面影响，比如潜在毒副作用，以及对生物多样性的影响等。</p>

        </div>
    </div>
{% endblock %}