{#1/1#}
{% extends 'profession-sub/profession-sub-base.html' %}


{% block profession_sub_content %}
    <div class="contents">


        <div class="title text-center">
            <h1 class="in-content-title"><b>医学论文翻译</b></h1>
        </div>


        <div class="passage">
            <p>医学论文基本要求应是客观地、真实地反映事物的本质，反映事物内部的规律性。医学论文虽然都源于临床，但决不是临床工作的平铺
直叙，应是从中取其精华，内容必须有材料、有概念、有判断、有观点，合乎逻辑，顺理成章，且材料确实(经得起考证)、概念明确、判断恰当，观点正确，不含
水分。即应具有实用性、科学性、先进性(独创性)、可读性等内容。</p>

            <p>1.实用性：</p>
            <p>需密切注视信息，才能使医学论文兼具实用性和先进性。医学
是一门应用科学，除了少量纯理论研究，绝大多数医学论文应结合临床、预防的实际，也即是对临床工作有无实际的指导作用，实际指导作用越好，实用性越强，价
值越大。前人论文既可普及，又利于提高，既看得懂，又用得上，既有社会效益，又有推广价值。</p>

            <p>2.科学性、真实性</p>
            <p>医学论文的命题要符合科学性的原则。取材可靠、客观真实，有计划、有设计、有对照，并通过计算，对象选择、分组处理，评定应是双盲、随机、客观。这样的结果有说服力，科学性强</p>

            <p>3.创新性</p>
            <p>创新性是指有所发现，有所发明，有所创造，有所前进。凡达到国际水平、国内首创，即符合创造性新，指非公知公用，非模仿抄袭，推陈出新，即从新的角度阐明新的问题。医学论文必须是先进的经验或有新的见解。</p>

            <p>4.可读性</p>
            <p>文字表达准确、简练、通顺，论点鲜明、论据充足、逻辑性强、术语规范、格式合适、结论可靠切题，并有一定的生动性，使读(编)者以最少的精力，获得最多的收获，且爱不释手。</p>
            <p>我们的医学论文翻译译员多毕业于国内外著名高校，并在各自的医学论文翻译领域有过一定翻译经验。
公司医学论文翻译人员都经过严格测试，大多有国外留学、工作经历。具有良好的医学论文翻译能力）。医学翻译网医学论文翻译项目组成员对医学论文翻译的文化
背景、语言习惯、专业术语等有深入的把握。我司鼎力提供每位医学论文翻译客户质量最高、速度最快的医学论文翻译及本地化服务。
我公司凭借严格的质量控制体系、规范化的运作流程和独特的审核标准已为各组织机构及来自全球的公司提供了高水准的医学论文翻译，较多的公司还签定了长期合
作协议。</p>
            <p>随着中国加入世贸，中外经济文化交流的越来越多，尤其是中外的病原生物学合作不断加强，在中外互译工作中，中外病原生物学方面的翻译也不断增多，这就要求
翻译人员不仅对外语要相当的精通，而且要对相关病原生物学领域要有一定的了解。启信科技拥有大量的翻译人才资源，已经为国内很多家企业完成了相关专业的翻译。</p>
            <p>医学论文翻译组在中外两地挑选最好的医学论文翻译员工，专注于中外文学作品和商业技术资料的翻译工作，医学论文翻译组的成员包括中外各国语言专家，IT、医药、食品、机械、石化、通讯等行业专家，高级译审，一般译员等。即使是国内的一般译员也要求拥有语言或专业方面的学位，并在国家生活工作两年以上。</p>
            <p>由于医学论文翻译组有更多的机会从事中外两国文学著作的互译，所以在笔译方面有更完善的质量保障措施，以确保翻译结果达到出版标准。</p>

        </div>
    </div>
{% endblock %}