{#1/1#}
{% extends 'profession-sub/profession-sub-base.html' %}


{% block profession_sub_content %}
    <div class="contents">


        <div class="title text-center">
            <h1 class="in-content-title"><b>生物制药</b></h1>
        </div>


        <div class="passage">
<p>生物制药就是在药物制造中应用生物工程技术的过程，而其中最主要的是应用基因工程技术来获得生物医药产品。生物药品的起始材料有微生物、寄生虫、动物毒素、生物组织等。目前生物制药产品有基因工程药物、生物疫苗和生物诊断试剂这三大类。生物制药在和各种传染病的斗争中，发挥着越来越重要的作用，为人类健康和寿命的延长做出了越来越大的贡献。</p>
<p>生物药物的发展也很快，具有庞大的阵营。全生物合成制造了全世界医药品的50%多，特别是合成 分子结构复杂的药物时，它不仅比化学合成法简便，而且经济效益相对来说更加高。我们生活中常用的维生素、红霉素、青霉素等等，就是用不同的微生物发酵而获得的生物制药产物。在医药上应用的 抗生素都来自于微生物，按照严格的生产标准用生物制药获得的产品。生物制药的研究发展将广泛应用在多种疾病上，比如癌症、艾滋病、糖尿病等等。</p>
<p>生物医药产业被人们称为“永不衰落的朝阳产业”。世界经济在发展，生活环境在变化，人们的健康观念也在变化，老龄化的进错在加快，这些因素使得与人类生活质量息息相关的生物医药行业近些年来一直保持这持续增长的趋势。</p>
<p>目前美国是生物制药行业的龙头老大，美国的生物技术公司一直占世界总数的三分之二，现在有1300多家。欧美发达国家在发展生物药品方面的进展也在快速扩大。英法德及俄罗斯和日本在生物技术领域赶上甚至超过美国，在开发研制生产生物药物方面取得了斐然的成绩。</p>
<p>我国的生物技术 的研究和开发起步比其他国家要晚太多，基因工程技术的应用才始于20世纪70年代初期，但在国家政策特别是863高技术计划的大力支持下，生物技术的发展非常迅速，正在逐步赶上和达到先进国家的先进水平。目前我国超过了法国和德国，已经成为全世界第三大医药市场，仅次于美国和日本，预计在2020年有望超过日本。据有关部门的预测，未来我国生物技术药物，将有不低于25%的年增长率，具有非常广阔的发展前景。</p>


        </div>
    </div>
{% endblock %}