{#1/1#}
{% extends 'profession-sub/profession-sub-base.html' %}


{% block profession_sub_content %}
    <div class="contents">


        <div class="title text-center">
            <h1 class="in-content-title"><b>生物制药</b></h1>
        </div>


        <div class="passage">
<p>制药技术分为三大领域：化学制药、生物制药和中药制药，其中生物制药就是利用上述生物工程技术生产药物，其核心技术是转基因技术和发酵工程技术。目前生物制药的产品分为转基因药物、抗生素药物、疫苗等。生物制药的材料有动物、微生物等等。</p>
<p>我们在电视上经常看到特色养殖中经常有蝎子、毒蛇、蜈蚣等，这些动物的毒素就可以用来生产生物药物。生物制药的特点是速度非常快，随着工程技术的发展，疫苗的生产周期已经缩短到了一两个月的时间，这让人们可以快速应对大规模爆发的传染疾病，比如流感。作为制药技术的一大种类，生物制药为人类对抗疾病作出了重要贡献。</p>
<p>生物制药的发展速度已经超出了人们的想象，现在要药店中销售的药物中超过一半是生物合成制造出来的。对于分子结构比较复杂的要用，用生物制药技术生产工艺更加简便，成本也更加低廉。我们使用的最多的维生素产品以及青霉素等各种抗生素就是用发酵工程技术生产的。从弗莱明发现青霉素开始，人们就已经开始用微生物生产抗生素。后来人们用转基因技术对微生物进行改造，又得到了药效更大的抗生素衍生物。</p>
<p>生物制药行业是一个新兴行业，而且是一个前景十分更广阔的行业。因为随着生活水平的不断提高，人们的健康观念也在不断加强，对药物特别是生物药物的需求不断增加，因此生物制药行业一直在快速发展，保障着人们的健康。</p>
<p>但是就生物制药技术而言，中国是远远落后于欧美等国家的，尤其是美国。美国作为最早发展生物技术的国家，技术实力雄厚，现在有超过1300家生物技术企业。欧洲的英法德等国家后来居上，在生物技术的某些领域位居世界前列，开发出了许多特效的生物药物。但是另一方面，中国又是重要的医药市场，位居美、日之后排世界第三，而且很有可能在近年超越日本。这样的大市场将成为生物制药企业的强劲推动力，预计未来生物药物的年增长率将超过25%。</p>


        </div>
    </div>
{% endblock %}