{#1/1#}
{% extends 'profession-sub/profession-sub-base.html' %}


{% block profession_sub_content %}
    <div class="contents">


        <div class="title text-center">
            <h1 class="in-content-title"><b>生命科学论文</b></h1>
        </div>


        <div class="passage">
<p>所谓生命科学就是我们常说的生物学，生物学是一门十分重要的基础学科，其研究的是生物的形状特征以及生命的规律，大至猛犸巨象，小至蜉蝣微生物都是它的研究对象。</p>
<p>大自然是个生物宝库，其多种多样的生物具有许多人们意想不到的功能，其巨大的潜力也是有待人们开发的宝贵资源。比如研究者模仿光合作用利用阳光将二氧化碳转化为有机质；利用微生物将秸秆转化为乙醇，从而制作燃料；利用植物中的愈合成分，用于治疗伤口；利用微生物的快速分裂、繁殖能力，生产各种抗生素。</p>
<p>生物学的发展历史是相当悠久的，在人类历史早期，人类就已经开始观测生物，并记录下了许多描述生物的材料。十九世纪末孟德尔开创了遗传科学，发现了遗传定律，二十世纪下半叶，沃森与克里克发现了DNA分子的双螺旋结构，标志着分子生物学的兴起。</p>
<p>上世纪就是年代，国际社会正式开始了人类基因组计划，参与计划的有美国、日本、中国等国家，最终于2004年完成了人类基因组图谱。该计划对生命科学和生物技术产业有着积极意义，有助于人们了解人类基因的奥秘。</p>
<p>我们野生动植物资源十分丰富，国家已经建立了野生动植物保护法，并划定了大量自然保护区，保护物种的多样性，这些野生动植物是丰富的基因宝库。随着未来科学技术的发展，这些资源的潜力将逐步发挥出来，其带来的经济效益将是不可估量的。</p>

        </div>
    </div>
{% endblock %}