{#1/1#}
{% extends 'profession-sub/profession-sub-base.html' %}


{% block profession_sub_content %}
    <div class="contents">


        <div class="title text-center">
            <h1 class="in-content-title"><b>高分子生物技术</b></h1>
        </div>


        <div class="passage">
<p>高分子生物技术听起来比较高端，但是人们其实并不陌生，人体内的蛋白质、DNA就都属于生物高分子。而所谓的高分子生物就是研究蛋白子和核酸这两种生物高分子，并进行改进改造，得到想要的各种工业或医学产品。</p>
<p>在当前研究者们热心研究的前沿领域当中，生物技术具有举足轻重的地位。某大学的生命科学院院长曾经说过二十一世纪是生物技术的世纪。当前几乎所有经济、科学技术的领域都涉及到生物技术，可以看到生物技术有特别广泛的影响。生物俨然已经成为人们解决能源、环境、医学等问题的利器。随着生物技术的迅速发展，它在高分子材料领域的应用也越来越广泛。国外科学家在高分子生物技术方面已经进行了大量的研究工作并取得了丰硕的成果，已经在商业上实现了用生物技术合成高分子材料。然而国内对高分子生物技术的研究仍处于起步阶段。</p>
<p>那么如何利用生物技术合成高分子材料呢？最常用的方法是发酵工程。为什么要用生物技术而不直接使用化学方法合成高分子材料呢？经济是第一考虑要素。有些高分子材料，使用传统的化学合成法存在成本过高的问题。还有一些材料用化学方法根本合成不了，比如蚕丝。运用生物技术合成的高分子材料相比化学合成材料具有一些无可比拟的优良特性，比如强度更高；更容易降解，这对环境保护来说具有十分重要的意义；另外生物高分子材料的生物亲和性更好，可以用于制作人造骨骼等生物材料和医疗器械；另外由于生物高分子本身就是来源生物，因此其生产过程不会产生化学污染，对环境更加友好。</p>
<p>本身高分子材料就是非常热门的一个研究领域，而生物高分子技术更是热门中的热门 ，具有很好的研究和应用前景。</p>
<p>人类应用生物高分子材料的历史是相当悠久的，比如常见的棉、麻、丝、竹都是生物高分子材料。现在研究者对它们进行适当改造后，它们能够发挥出更加优良的性能。</p>

        </div>
    </div>
{% endblock %}