{#1/1#}
{% extends 'profession-sub/profession-sub-base.html' %}


{% block profession_sub_content %}
    <div class="contents">


        <div class="title text-center">
            <h1 class="in-content-title"><b>生命科学文献</b></h1>
        </div>


        <div class="passage">
<p>生命是神奇的，地球上的生物经过数十亿年漫长时间的演化已经呈现出婀娜多姿的样貌。各式各样神奇的生命，不管人们能不能看到，已经占据了天空、海洋、河流、冰川、火山、戈壁、沙漠、死海等各种严酷环境的各个角落，它们以自己的生存昭示了生命强大的适应力，也让我们看到了在生存的渴望的驱使下，生命能够迸发出那么惊人的潜能。</p>
<p>生命的潜能蕴藏在DNA分子当中，就是这小小的一条分子链蕴含了无数种可能。一条DNA分子包含了成千上万中不同基因，这些基因又能表达出各种各样的性状，这些性状又能组合出千万种各不相同的个体。在各不相同的环境中，能够适应外部环境的个体最终顽强地生存了下来，继续繁衍生息，于是某个种群日渐呈现出相对稳定的性状特征。大自然的优胜劣汰法则就这样日复一日地上演着，每一个生存下来的个体都证明了自己是最适合生存环境的强者。</p>
<p>看到这里我们才知道，人类在千千万万的物种当中并没有什么不同，并不是我们自己选择自己的进化方向，并不是我们自己有意识地创造了辉煌文明，而是大自然选择了我们。在工业革命蓬勃发展之时，人们曾经狂妄地认为自己就是地球的主宰，可以征服最辽远的水域，最广阔的沙漠，最高耸的山峰，最严寒的两极，但同时也将无数物种赶尽杀绝。但是当我们最终意识到自己亲手毁掉了创造了一切的时候，我们发现扭转这一切已经不可能，我才意识到自己的力量在大自然面前简直不值一提。工业废气导致的酸雨侵蚀了屹立数千年的雕像，该如何修复？氟利昂导致的臭氧空洞该如何修补？全球变暖导致两极冰川大面积地融化要如何阻止？植被破坏导致的沙漠面积不断扩大该如何遏制？……</p>
<p>当我们最孤立无援的时候，我们发现能够拯救我们的只有我们原来一直蔑视的生物，尤其是低等的植物和微生物。科学家们已经发现可以模拟植物进行光合作用，固定二氧化碳并释放氧气，这真是一个振奋人心的消息，这意味着，能源和温室气体问题能够同时得到解决。除此之外，各种各样的生物技术正在逐步投入运用，取代传统的高污染、低效率的化学合成技术。生物技术在农业上的应用由来已久，它可以取代高污染的化学农药和化肥。总之生物技术的应用将让我们地球变得更加绿色，地球又渐渐回归到亿万年来的发展之道。</p>
<p>我们曾经毁灭了无数物种，现在又不得不在它们身上寻求解救之道，这让我们体会到一个深刻道理：敬畏生命！</p>

        </div>
    </div>
{% endblock %}