{#1/1#}
{% extends 'profession-sub/profession-sub-base.html' %}


{% block profession_sub_content %}
    <div class="contents">


        <div class="title text-center">
            <h1 class="in-content-title"><b>基因工程</b></h1>
        </div>


        <div class="passage">
<p>基因工程又称为基因拼接技术和DNA重组技术。基因工程发展始于20世纪70年代初，经过这几十年的进步和发展，已经是生物技术的核心内容。许多科学家预言基因工程和相关领域的产业即将成为21世纪的一个主导产业。基因工程是生物工程的一个重要分支，涉及工业、农业、医药、能源、环保等多个领域的应用和研究。基因工程广义上包括传统遗传操作中的杂交技术、现代遗传操作中的基因工程和细胞工程。</p>
<p>目前转基因技术在农业领域应用是最为广泛的领域之一。20世纪80年代，科学家获得第一株转基因植物，现在全球的农产品中，有60%的大豆、40%的棉花、30%的玉米都经过基因工程改造过。国外推动基因工程在农业应用的主导力量是公司，而不是政府，一些具有远见的大公司看中基因技术的巨大潜力和诱人盈利前景，纷纷投入巨资从事基因工程的研究与开发，并形成了少部分公司对基因工程的技术成果垄断。</p>
<p>基因工程药物对预防人类的多种疾病比如糖尿病遗传病肿瘤甚至艾滋病等有重要作用。基因工程药物能起到传统化学药物难以达到的作用。目前美国在基因工程制药方面的研究开发居于世界领先水平，美国是现在生物技术的发源地，是第一个应用现代生物技术研制药物的国家，首创了多数基因工程药物。欧洲发达国家在这些领域发展也比较快，在某些领域甚至赶上并超过美国。欧洲生物技术市场资本总额与美国相近，而且投资几乎在成倍的增长。</p>
<p>21世纪将是基因工程迅速发展日益完善的世纪，也是基因工程产生巨大效益的世纪。基因工程根本性的改变了药品开发，给药品生产技术带来了革命性的变化。今后，人们会加速基因工程产业化的速度，形成比较大的生产规模。基因工程在社会经济各个方面都将有非常广阔的发展前景。</p>

        </div>
    </div>
{% endblock %}