{#1/1#}
{% extends 'profession-sub/profession-sub-base.html' %}


{% block profession_sub_content %}
    <div class="contents">


        <div class="title text-center">
            <h1 class="in-content-title"><b>高分子生物技术</b></h1>
        </div>


        <div class="passage">
<p>高分子又叫大分子，是高分子化合物的简称，它的相对分子质量一般高达几千到几百万。高分子化合物虽然相对分子质量很大，但都是以简单的结构单元重复连接的。</p>
<p>分子生物技术在分子水平上对蛋白质和核算进行研究，通过研究成果改造出需要的产物。</p>
<p>生物技术是当代高科技的核心之一，也是现在世界各国研究以及发展的重点和热点。生物技术几乎涉及所有的经济和科技领域，影响格外广泛，是人类解决非常多发展问题的重要手段，广泛应用于食品、工业、医学、农业、环境保护等领域。随着生物技术的飞速发展，它也被日益应用在高分子材料领域。国外科学工作人员在这方面正在进行大量的研究，已经实现用生物技术合成高分子材料的产品工业化。而国内在高分子生物技术领域的研究还在起步状态。</p>
<p>通过生物技术合成高分子材料一般的实现方式是发酵工程。一些高分子材料，用化学方法生产成本过高，没有经济可行性，甚至无法获得，而利用生物技术，则可以成功制备。而且，生物技术制备的高分子材料和传统化学工业中的合成高分子相比， 有许多诱人的特性和起码的功能，比如，生物高分子强度很高；生物高分子一般可以通过生物降解；生物高分子具有极强的亲和性，能和许多物质或者材料发生特异性的相互作用；生物高分子来源于生物体的本质使得在工业应用方面有可持续性。</p>
<p>高分子生物技术的开发和应用，在世界各国的生物技术领域和高分子材料领域研究中具有很大的热度。</p>
<p>高分子材料的使用在人类的生活各个方面无处不见，历史悠久，可以追溯到公元前五千年。现代人类社会，高分子材料急剧发展，在国民经济各方面，高分子材料发挥的作用不可替代，尤其在生物医药领域。</p>

        </div>
    </div>
{% endblock %}