{#1/1#}
{% extends 'profession-sub/profession-sub-base.html' %}


{% block profession_sub_content %}
    <div class="contents">


        <div class="title text-center">
            <h1 class="in-content-title"><b>生物工程</b></h1>
        </div>


        <div class="passage">
<p>生物工程是一门新兴学科，但是从上世纪七十年代开始它就迅猛发展，现在已经得到了大规模的应用，被广泛应用于酿酒、食品、医药、化工等行业。现在的生物工程技术已经将基因工程、发酵工程与化工、机械和计算机等结合在一起。利用转基因技术对基因进行改造，使其能够表达出人们想要的形状，然后利用发酵技术进行大规模的生产，得到人们想要的各种产品。其生产的产品已经从抗生素等药物逐步扩大到生物高分子材料，产生的经济效益越来越大。</p>
<p>生物工程是一门与其他工程科学有机结合的学科，随着分子生物技术的发展，其应用前景将越来越广泛。</p>
<p>生物工程有以下几个研究领域：
<br>1. 基因工程，前面我们已经说到，基因工程就是利用DNA剪刀对核酸分子进行剪切并进行定向改造，其能够精确地改造生物形状，现在已经大规模应用于农业，比如转基因大豆、转基因玉米，更早之前更被用于生产各种抗生素，必须现在的各种青霉素衍生物。
<br>2. 发酵工程，就是用真菌、细菌等大规模生产人们想要的产品，微生物的繁殖速度和新陈代谢速度非常快，发酵工程正是利用了这一点快速地生产各种产品，比如乙醇，比如生物柴油。
<br>3. 酶工程，酶是生物化学反应的催化剂，所谓酶工程是指利用酶的催化能力，催化化学反应，生产工业产品。
<br>4. 细胞工程，细胞工程是指在细胞水平上改造遗传物质，并进行大规模的细胞培养。目前生物工程主要被用来大规模生产植物。在农业上广泛应用的无病毒植株就是利用细胞工程培养出来的。</p>
<p>生物工程对人类社会发展带来了重要影响：能改善农业生产，解决食品短缺的问题；在医学上能开发研制奇特的药品，提供预防和诊断疾病的有效手段，从而提高人类的生命质量，并且有延长寿命的作用；通过微生物，科学家希望找到各种得到生物能源的办法，从而解决能源危机，用生物技术可以节约能源的同时，实现对环境的保护。</p>
<p>生物工程的应用范围相当广泛，可以促进农业生产，有利于提高粮食产量；可以应用于生物制药，研发出新药物，治疗各种疑难病症；用于生产生物燃料，替代传统的化石燃料，减少环境污染，缓解能源短缺现状。</p>
<p>我国在生物工程领域起步不算晚，二十世纪七十年代就是已经开始发展，在863计划中就已经把生物工程确定为重点研究领域。</p>


        </div>
    </div>
{% endblock %}