{#1/1#}
{% extends 'profession-sub/profession-sub-base.html' %}


{% block profession_sub_content %}
    <div class="contents">


        <div class="title text-center">
            <h1 class="in-content-title"><b>生物工程</b></h1>
        </div>


        <div class="passage">
<p>生物工程是一门兴起于20世纪70年代初的综合性应用学科，一般认为它以生命科学的研究理论和技术为基础，和现代工程技术如化工机械电子计算机等结合在一起，利用分子生物学的研究成果，能够比较自由的操纵遗传物质，达到改造生物或其功能的目的目标。生物工程的研究成果，相对而言，时间能大大减少，而且能实现大量生产，具有特异的经济价值。</p>
<p>21世纪是生物的世纪，生命科学的快速发展和其与其他工程科学的交叉结合带来了生物工程发展的蓬勃势头。</p>
<p>生物工程主要有五个研究方面：
<br>1.发酵工程，主要是利用微生物来生产有用的产品，或者把微生物直接用来进行工业生产。
<br>2.基因工程，涉及分子遗传学分子生物学微生物学，其现在未来的发展前途都是无可非议的光明。
<br>3.细胞工程，已经在人类生活的极多部分发挥作用，取得了不少开创性的成果，实在的为经济发展做出了相当的贡献。
<br>4.酶工程，世界各国都在加强酶工程的发展和研究。我国必须加大研究和发展力度，改善目前投入科技开发少技术相对薄弱的局面。
<br>5.生化工程，是生物和化学工程的结合。</p>
<p>生物工程对人类社会发展带来了重要影响：能改善农业生产，解决食品短缺的问题；在医学上能开发研制奇特的药品，提供预防和诊断疾病的有效手段，从而提高人类的生命质量，并且有延长寿命的作用；通过微生物，科学家希望找到各种得到生物能源的办法，从而解决能源危机，用生物技术可以节约能源的同时，实现对环境的保护。</p>
<p>目前发达国家的生物技术公司日趋增多。在21世纪，生物技术会充分显示它的巨大威力，发挥特有的长处。</p>
<p>我国在上世纪70年代后期，就把生物工程确定为科技与产业发展的重要领域。我国1987年开始正式实施的863高新技术研究发展计划，将生物工程确定为主攻方向之一，并选择了对我国国民经济有重大影响的三项主题项目：高产、优质抗逆动植物新品种：新型药物、疫苗和基因治疗；蛋白质工程，下设了21个研究专题和110个研究课题。预计到本世纪末，我国的生物技术水平将得到较大的提高，并在一些方面处于国际领先水平。</p>


        </div>
    </div>
{% endblock %}