{#1/1#}
{% extends 'profession-sub/profession-sub-base.html' %}


{% block profession_sub_content %}
    <div class="contents">


        <div class="title text-center">
            <h1 class="in-content-title"><b>生命科学论文</b></h1>
        </div>


        <div class="passage">
<p>生命科学就是生物学，属于六大自然科学基础学科，在全球范围内，生命科学是最受关注的基础自然科学。简单的说，生命科学就是研究生命现象以及生命规律的科学。</p>
<p>生命科学主要在研究的有；什么是生物物质的化学本质，化学物质是如何发展表现出生命特征，细胞为什么会复制，各种各样的细胞是怎么工作和完成各种多样的功能的，受精卵是怎么发育成复杂的生物体的，进化是由什么引起的，人类还在进化吗，记忆是怎么形成的，智力是怎么来的，宇宙空间有和人类一样的智慧生物吗，生命的起源等等。由此可见，生命科学是非常复杂的科学。</p>
<p>生命科学的发展历史非常悠久。在人类文明的早期，人们就注意到了生命和非生命之间的区别，并整理收集了大量观察描述生物的材料。古老的生物学被当时的科学水平和神学限制下，始终停留在观察描述阶段。直到18世纪19世纪，生物学才进入新的阶段。20世纪以来，随着物理学化学等学科迅速发展，生物学也凭之建立了大量基本概念和理论。薛定谔在1945年就预告了生物学研究的新纪元的开始。20世纪后半叶，生命科学以前所未有的速度发展，特别是分子生物学的兴起。</p>
<p>随着生物技术的快速发展，1990年人类正式启动了人类基因组计划，在美国英国日本法国德国和中国科学家的共同合作下，在2004年10月公布了人类基因组完成图谱。人类基因组计划对生命科学的研究和生物产业的发展具有十分重要的意义，以及影响人类揭开生命之谜的目的。</p>
<p>我国有丰富的野生植物和畜禽种质资源，经过数十年的搜集、整理和分析，已经完成了不少优良种质资源的评价和鉴定，为进一步利用这些资源奠定了基础。国家对基础研究的重视和科研投入正在不断增长，我国科技人员在生命科学的基础研究方面已经取得了显著的成绩，在较短的时间内缩短了与国际先进水平的差距。</p>

        </div>
    </div>
{% endblock %}