#carousel{
    position: relative;
    height: 700px;
    overflow: hidden;
}
#carousel-pictures{
    position: absolute;
    left: 0px;
    height: 100%;
    width: 1000%;
}
#carousel .carousel-picture{
    float: left;
    height: 100%;
    width: 10%;
    margin: 0px;
    background-size: cover;
}
#carousel .carousel-picture.pic-1{
    background: url('../media/index/carousel-1.jpg') no-repeat;
}
#carousel .carousel-picture.pic-2{
    background: url('../media/index/carousel-2.jpg') no-repeat;
}
#carousel .content-inner{
    height: 100%;
}
#carousel .carousel-picture.pic-1 .p1{
    font-family: impact, Microsoft YaHei, SimHei;
    font-size: 72px;
    font-weight: bold;
    color: #FFFFFF;
    position: absolute;
    top: 71px;
    width: 100%;
}
#carousel .carousel-picture.pic-1 .img1{
    position: absolute;
    top: 195px;
    left: 181px;
    width: 860px;
    height: 99px;
}
#carousel .carousel-picture.pic-2 .img1{
    position: absolute;
    top: 119px;
    left: 217px;
    width: 767px;
    height: 133px;
}
#carousel .carousel-picture.pic-2 .p1{
    position: absolute;
    top: 221px;
    left: 238px;
    width: 738px;
    height: 135px;
    font-family: SimHei;
    color: white;
    font-size: 24px;
    line-height: 135px;
}
#carousel .carousel-picture.pic-2 .p2{
    position: absolute;
    top: 376px;
    width: 100%;
}
#carousel .carousel-dots-container{
    position: absolute;
    display: block;
    height: 20px;
    width: 10%;
    margin: 0 45%;
    bottom: 20px;
    text-align: center;
}
#carousel .carousel-dot{
    cursor: pointer;
    display: inline-block;
    line-height: 20px;
    height: 10px;
    width: 10px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 10px;
    background:#B4B4B4;
}
#carousel .carousel-dot.active{
    background:#E8E8E8;
}
#carousel .yellow-transparent-bk{
    background: rgba(255, 192, 1, 0.8);
    /* for IE: */
    filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#CCFFC001,endcolorstr=#CCFFC001);
}
#carousel .in-carousel-rectangle-head{
    font-size: 30px;
    font-family: impact;
    color: black;
    width: 49px;
    height: 42px;
    border: 1px solid #212121;
}
#carousel .in-carousel-rectangle-banner{
    text-align: left;
    width: 303px;
    height: 38px;
    background: rgba(255,255,255,0.3);
    /* for IE: */
    filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#4DFFFFFF,endcolorstr=#4DFFFFFF);
}
#carousel .in-carousel-rectangle-banner p{
    margin-left: 8px;
    line-height: 38px;
    font-size: 20px;
    font-family: Arial, Microsoft Yahei, SimHei;
    color: white;
}
#carousel .in-carousel-buttons{
    position: absolute;
    top: 516px;
    text-align: center;
    width: 50%;
    margin: 0 25%;
}
#carousel .in-carousel-button{
    display: inline-block;
    width: 138px;
    height: 37px;
    margin: 0 15px;
    border: 1px solid #212121;
    border-radius: 5px;
    color: black;
    font-size: 16px;
    line-height: 33px;
}
#index-content-1{
    height: 743px;
    background: url('../media/index/in-index-bk-1.jpg') center;
}
#index-content-1 .content-inner{
    height: 743px;
    color: rgb(110, 110, 110);
}
#index-content-1 .paragraph-1{
    position: absolute;
    top: 34px;
    left: 81px;
    width: 719px;
    height: 138px;
    line-height: 32px;
}
#index-content-1 .content-1-logo{
    position: relative;
    float: left;
    height: 68px;
    width: 68px;
    font-size: 68px;
    color: #ffc02e;
    line-height: 68px;
    text-align: center;
}
#index-content-1 .content-1-logo img{
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
#index-content-1 .in-content-1-block{
    float: left;
    margin-left: 30px;
    width: 296px;
    height: 113px;
}
#index-content-1 .in-content-1-block .block-title{
    font-size: 18px;
}
#index-content-1 .in-content-1-block .block-body{
    font-size: 13px;
    line-height: 26px;
}
#index-content-1 .block-1{
    position: absolute;
    top: 256px;
    left: 81px;
}
#index-content-1 .block-2{
    position: absolute;
    top: 256px;
    left: 502px;
}
#index-content-1 .block-3{
    position: absolute;
    top: 442px;
    left: 81px;
}
#index-content-1 .block-4{
    position: absolute;
    top: 442px;
    left: 502px;
}
#index-content-2{
    height: 513px;
    background: url('../media/index/in-index-bk-2.jpg') center;
}
#index-content-2 .content-inner{
    height: 513px;
    color: white;
}
#index-content-2 .title-container{
    position: absolute;
    top: 37px;
    left: 866px;
    width: 222px;
    height: 57px;
}
#index-content-2 .title-container h1{
    margin: 0px;
    line-height: 31px;
}
#index-content-2 .title-container p{
    margin-top: 3px;
    line-height: 26px;
}
#index-content-2 .content-table{
    position: absolute;
    top: 74px;
    left: 85px;
    font-size: 15px;
}
#index-content-2 th{
    font-size: 30px;
    font-weight: normal;
}
#index-content-2 th.left-col{
    color: rgb(252, 192, 46);
}
#index-content-2 .left-col{
    width: 298px;
    text-align: right;
}
#index-content-2 .center-col{
    width: 138px;
}
#index-content-2 .right-col{
    width: 180px;
}
#index-content-2 .center-col .in-center-col-block{
    width: 89px;
    height: 50px;
    margin: 11px auto;
    font-family: SimHei;
    font-size: 22px;
    color: black;
    line-height: 50px;
    vertical-align: middle;
    cursor: default;
}
#index-content-3,
#index-content-3 .content-inner{
    height: 561px;
}
#index-content-3 .paragraph-1{
    position: absolute;
    top: 175px;
    left: 10px;
    width: 385px;
    height: 197px;
}
#index-content-3 .in-content-title{
    line-height: 32px;
}
#index-content-3 .in-content-subtitle{
    line-height: 32px;
}
#index-content-3 .p1{
    color: rgb(100, 100, 100);
    font-size: 15px;
    line-height: 32px;
}
#index-content-3 .pictures.small{
    position: absolute;
    top: 76px;
    left: 432px;
    width: 800px;
    height: auto;
}
#index-content-3 .pictures.big{
    position: absolute;
    top: 216px;
    left: 432px;
    width: 800px;
    height: auto;
}
#index-content-3 .picture-container{
    position: relative;
    display: inline-block;
    margin-right: 11px;
}
#index-content-3 .picture-container.small{
    width: 181px;
    height: 129px;
}
#index-content-3 .picture-container.small img{
    width: 181px;
    height: 129px;
}
#index-content-3 .picture-container.big{
    width: 376px;
    height: 249px;
}
#index-content-3 .picture-container.big img{
    width: 376px;
    height: 249px;
}
#index-content-4{
    height: 807px;
    background: url('../media/index/in-index-bk-3.jpg') center;
}
#index-content-4 .content-inner{
    height: 807px;
}
#index-content-4 .passage-1{
    position: absolute;
    top: 206px;
    left: 64px;
    width: 473px;
    height: 394px;
}
#index-content-4 .passage-1 .title{
    font-size: 30px;
    color: #434343;
    line-height: 42px;
}
#index-content-4 .passage-1 .text{
    margin-top: 56px;
    font-size: 14px;
    color: #8c8c8c;
    line-height: 39px;
}
#index-content-4 .passage-2{
    position: absolute;
    top: 148px;
    left: 696px;
}
#index-content-4 .passage-2 .blocks{
    position: relative;
}
#index-content-4 .passage-2 .block{
    position: absolute;
    display: inline-block;
}
#index-content-4 .passage-2 .block-1{ top: 0px; }
#index-content-4 .passage-2 .block-2{ top: 144px; }
#index-content-4 .passage-2 .block-3{ top: 288px; }
#index-content-4 .passage-2 .block-4{ top: 432px; }
#index-content-4 .passage-2 .block-logo{
    position: absolute;
    margin-top: 20px;
}
#index-content-4 .passage-2 img{
    width: 50px;
    height: 50px;
}
#index-content-4 .passage-2 .text{
    position: absolute;
    left: 74px;
    width: 426px;
    font-size: 20px;
    line-height: 28px;
}
#index-content-4 .passage-2 .block-title{
    font-size: 16px;
    color: white;
}
#index-content-4 .passage-2 .block-passage{
    font-size: 13px;
    color: #8f8f8f;
}
#index-content-5,
#index-content-5 .content-inner{
    height: 642px;
}
#index-content-5 .title-block{
    width: 300px;
    margin-top: 85px;
    margin-left: auto;
    margin-right: auto;
}
#index-content-5 .blocks{
    position: absolute;
    top: 123px;
    width: 100%;
}
#index-content-5 .block{
    float: left;
    margin: 0 10px;
}
#index-content-5 .block img{
    height: 218px;
    width: 350px;
}
#index-content-5 .text{
    line-height: 24px;
    width: 377px;
    margin-top: 40px;
    text-align: left;
}
#index-content-5 .title{
    color: #484848;
    font-size: 16px;
    line-height: 24px;
}
#index-content-5 .seperator-line{
    font-size: 16px;
    color: #e6e6e6;
}
#index-content-5 .passage{
    font-size: 14px;
    color: #a8a8a8;
}
#contact-us{
    height: 619px;
    background: url('../media/index/in-index-bk-4.jpg') center;
}
#contact-us .content-inner{
    height: 619px;
    margin-top: 75px;
}
#contact-us .title-block{
    position: absolute;
    top: 10px;
    left: 2px;
    width: 300px;
    height: 78px;
    font-size: 24px;
    color: #404040;
    line-height: 36px;
}
#contact-us .title-block .subtitle{
    font-size: 16px;
    color: #cecece;
}
#contact-us .title-block p{
    font-size: 14px;
    color: #1e1e1e;
}
#contact-us .passage{
    position: absolute;
    top: 111px;
    left: 2px;
    width: 376px;
    height: 208px;
    line-height: 36px;
}
#contact-us .passage .title{
    color: rgb(255, 192, 1);
    font-size: 16px;
}
#contact-us .passage .text{
    color: rgb(150, 150, 150);
    font-size: 14px;
    margin-top: 30px;
}
#contact-us .social-networks{
    position: absolute;
    top: 332px;
    left: 2px;
}
#contact-us .SN-logo{
    height: 32px;
    width: 32px;
    margin-right: 10px;
}
#org-logos{
    position: relative;
    height: 144px;
}
#org-logos .org-logos{
    position: absolute;
    top: 0;
    z-index: -1;
    height: 144px;
}
#org-logos img{
    width: 100%;
    margin: 25px auto;
}
.banner-1{
    height: 320px;
    background-image: url('../media/other-pics/banner-1.jpg');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.banner-2{
    height: 500px;
    background-image: url('../media/other-pics/banner-2.jpg');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.banner-3{
    height: 500px;
    background-image: url('../media/other-pics/banner-3.jpg');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
#qc .content-inner{
    width: 820px;
    margin-left: 230px;
    cursor: default;
    margin-top: 63px;
    margin-bottom: 63px;
}
#qc .block{
    margin-top: 63px;
}
#qc .in-content-title{
    font-weight: bold;
}
#qc h3{
    color: rgb(33, 33, 33);
    font-weight: bold;
    font-size: 20px;
}
#qc .pic-1{
    width: 756px;
    height: 83px;
    margin-left: 20px;
}
#qc .block-1 .passage-1 p{
    margin-left: 50px;
    font-size: 14px;
    line-height: 30px;
    color: black;
}
#qc .red{
    color: rgb(216, 27, 67);
    font-size: 16px;
}
#qc .block-1 .passage-2{
    font-size: 16px;
    line-height: 30px;
}
#qc .block-1 h3{
    margin: 30px auto;

}
#qc .block-1 .passage-2 .strong{
    font-size: 16px;
    color: rgb(230, 74, 25);
    font-weight: bold;
}
#qc .block-2 .block-passage{
    margin-top: 25px;
    font-size: 14px;
    color: rgb(53, 53, 53);
    line-height: 30px;
}
#about-us-content .content-inner{
    margin-top: 70px;
    margin-bottom: 70px;
    font-size: 16px;
    line-height: 30px;
    color: rgb(53, 53, 53);
}
#about-us-content h1{
    color: rgb(24, 24, 24);
    font-size: 26px;
    margin-top: 30px;
}
#about-us-content .seperator-line{
    margin: 20px auto;
}
#about-us-content h2{
    color: rgb(24, 24, 24);
    font-size: 20px;
}
#about-us-content .passage{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}
#about-us-content .passage p{
    margin-top: 25px;
}
#about-us-content .pictures img{
    display: inline-block;
    width: 460px;
    height: 252px;
    margin: 20px;
}
#about-us-content .contact-info{
    width: 100%;
}
#about-us-content .contact-info-block{
    display: inline-block;
    width: 240px;
    margin: 70px;
}
#about-us-content .contact-info-block img{
    width: 68px;
    height: 68px;
}
#about-us-content .contact-info-block p{
    text-align: left;
    margin-top: 35px;
}
#about-us-content .location-map iframe{
    height: 400px;
    width: 1200px;
}
#allmap{ width:100%; height:500px; }
#profession-content{
    position: relative;
    margin: auto auto;
    left: auto;
    right: auto;
}
#production-content .layout-table,
#profession-content .layout-table{
    width: 100%;
    min-width: 1150px;
}
#profession-content .sidebar-navigation{
    width: 230px;
    vertical-align: top;
}
#profession-content .nav-header{
    height: 60px;
    line-height: 60px;
    font-family: SimHei;
    font-size: 18px;
    color: black;
    background: rgb(255, 192, 1);
}
#profession-content .nav-header span{
    padding: 8px;
}
#profession-content .nav-items{
    color: #b3b3b3;
    background: rgb(31, 31, 31);
    padding: 5px;
    cursor: default;
}
#profession-content .nav-item{
    line-height: 40px;
    height: 40px;
    width: 100%;
}
#profession-content .nav-item.active,
#profession-content .nav-item:hover{
    color: #ffc001;
}
#profession-content .nav-item span{
    padding: 7px 10px;
}
#profession-content .nav-items .seperator-line{
    height: 0;
    width: 100%;
    border-bottom: dashed rgb(101, 101, 101) 1px;
}
#profession-content .contents{
    margin: 30px;
    width: auto;
}
#profession-content .passage{
    margin: 26px 0 50px 0;
}
#profession-content .passage-title{
    color: rgb(252, 192, 46);
    font-weight: bold;
    font-size: 20px;
    margin: 26px 0;
}
#profession-content .passage-content{
    color: rgb(53, 53, 53);
    font-size: 16px;
    width: 100%;
    line-height: 24px;
}
#profession-content .advantage-block{
    width: 399px;
    height: 173px;
    margin: 10px 0;
}
#profession-content .advantage-title{
    position: relative;
    width: 100%;
    height: 35px;
    color: rgb(102, 102, 102);
    background: rgb(255, 192, 1);
}
#profession-content .advantage-title .icon{
    position: absolute;
    top:0px;
    left: 0px;
    font-size: 39px;
    line-height: 35px;
}
#profession-content .advantage-title .title{
    position: absolute;
    left: 80px;
    top: 0px;
    font-size: 20px;
    line-height: 35px;
}
#profession-content .advantage-text{
    width: 100%;
    height: 133px;
    padding: 20px 30px;
    background: rgb(31, 31, 31);
    color: rgb(222, 222, 222);
    font-size: 14px;
}#profession-content .example-img img{
    width: 374px;
}
#profession-content .example-title{
    margin-top: 26px;
    font-size: 16px;
    color: rgb(102, 102, 102);
}
#profession-content .see-more-button{
    display: inline-block;
    width: 123px;
    height: 41px;
    margin: 15px;
    border: 1px solid #212121;
    border-radius: 5px;
    color: black;
    font-size: 14px;
    line-height: 41px;
}
#customer-file-upload-form{
    position: absolute;
    top: 101px;
    left: 410px;
    width: 790px;
    height: 396px;
    overflow: hidden;
    background: white;
}
#customer-file-upload-form form{
    position: relative;
    margin: 30px 0;
}
#customer-file-upload-form .form-group{
    width: 100%;
    height: 36px;
    margin: 15px 0;
    line-height: 36px;
    vertical-align: middle;
}
#customer-file-upload-form label{
    font-size: 15px;
    font-weight: bold;
    color: rgb(130, 130, 130);
    width: 20%;
    padding-right: 10px;
}
#customer-file-upload-form input{
    display: inline-block;
    width: 516px;
}
#customer-file-upload-form a.a-upload{
    position: absolute;
    left: 162px;
    width: 163px;
    height: 36px;
    display: inline-block;
    font-size: 12px;
    color: #666666;
    text-align: center;
    line-height: 36px;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(218, 218, 218);
    border-radius: 4px;
    cursor: pointer;
    overflow: hidden;
}
#customer-file-upload-form input[type="file"]{
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    width: 100%;
    filter:alpha(Opacity=0);
    -moz-opacity:0;
    opacity: 0;
    cursor: pointer;
}
#customer-file-upload-form .star{
    display: inline-block;
    width: 10%;
    padding-left: 10px;
}
#customer-file-upload-form .file-upload-hint{
    position: absolute;
    left: 330px;
    display: inline-block;
    padding-left: 8px;
    font-size: 15px;
    color: rgb(130, 130, 130);
    max-width: 348px;
}
#customer-file-upload-form .file-upload-hint img{
    width: 14px;
    height: 14px;
}
#customer-file-upload-form form input[type="submit"]{
    position: absolute;
    left: 162px;
    width: 230px;
    height: 44px;
    color: white;
    font-size: 14px;
    background-color: #ffad2b;
    border: 0;
    border-radius: 0;
    margin: 15px 0;
}
#promotion-content{
    padding-bottom: 70px;
}
#promotion-content .in-content-title{
    margin-top: 50px;
    margin-bottom: 50px;
}
#promotion-content .passage{
    width: 670px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 30px;
    color: rgb(102, 102, 102);
}
#example-content{
    position: relative;
    margin: auto auto;
    left: auto;
    right: auto;
    padding: 20px 0;
}
#example-content .layout-table{
    width: 100%;
    min-width: 1150px;
}
#example-content .sidebar-navigation{
    width: 230px;
    vertical-align: top;
}
#example-content .nav-header{
    height: 60px;
    line-height: 60px;
    font-family: SimHei;
    font-size: 18px;
    color: black;
    background: rgb(255, 192, 1);
}
#example-content .nav-header span{
    padding: 8px;
}
#example-content .nav-items{
    color: #b3b3b3;
    background: rgb(31, 31, 31);
    padding: 5px;
    cursor: default;
}
#example-content .nav-item{
    line-height: 40px;
    height: 40px;
    width: 100%;
}
#example-content .nav-item.active,
#example-content .nav-item:hover{
    color: #ffc001;
}
#example-content .nav-item span{
    padding: 7px 10px;
}
#example-content .nav-items .seperator-line{
    height: 0;
    width: 100%;
    border-bottom: dashed rgb(101, 101, 101) 1px;
}
#example-content .contents{
    margin: 30px;
    width: 800px;
}
#examples-table{
    width: 795px;
}
#examples-table tr{
    height: 45px;
    color: rgb(102, 102, 102);
    font-size: 14px;
    background: rgb(246,246,246);
}
#examples-table .table-title td{
    line-height: 60px;
    font-family: SimHei;
    font-size: 16px;
    color: black;
    background: rgb(255, 192, 1);
    border-radius: 5px 5px 0 0;
    padding: 0 8px;
}
#examples-table .row{
    border-bottom: 1px dashed rgb(217,217,217);
}
#examples-table .row.last{
    border-bottom: 0;
}
#examples-table .row:hover{
    color: #ffc001;
}
#examples-table .row .name{
    width: 50%;
}
#examples-table .row .size{
    text-align: right;
    width: 30%;
}
#examples-table .row .download-link{
    text-align: center;
    width: auto;
}
