@charset "utf-8";@font-face {
    font-family: 'icomoon';
    src: url('fontsIco/icomoon.eot?-2mgmdr&v=147');
    src: url('fontsIco/icomoon.eot?#iefix-2mgmdr&v=147') format('embedded-opentype'),
         url('fontsIco/icomoon.ttf?-2mgmdr&v=147') format('truetype'),
         url('fontsIco/icomoon.woff?-2mgmdr&v=147') format('woff');
    font-weight: normal;
    font-style: normal
}
.icon{ font-family: icomoon }

body{
    position: relative;
    font-family: Microsoft YaHei, SimSun;
}
a:link{ text-decoration: none; }
a:visited{ text-decoration: none; }
a:hover{ text-decoration: none; color: inherit; }
a:active{ text-decoration: none; }
a{ color: inherit; }
p{ margin: 0px; }

.yellow-bk{ background: #ffc001; }
.content-inner{
    position: relative;
    width: 1200px;
    height: inherit;
    margin: 0 auto;
}
.in-content-title{
    color: #ffc02e;
    font-size: 24px;
}
.in-content-subtitle{
    color: #bebebe;
    font-family: Arial, Microsoft Yahei;
    font-size: 14px;
    line-height: 32px;
}
.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}

#header-div{
    position: relative;
    height: 81px;
}
#header-logo{
    position: absolute;
    left: 0px;
    bottom: -3px;
    height: 77px;
    width: 257px;
}
#header-slogan{
    position: absolute;
    width: 236px;
    height: 56px;
    left: 255px;
    bottom: 5px;
}.slogan{
    font-family: STXingkai, SimSun;
    font-size: 20px;
    color: #666666;
}
#header-phone{
    position: absolute;
    bottom: 17px;
    right: 0px;
    width: 264px;
    height: 26px;
}
#header-phone .icon{
    position: absolute;
    left: -53px;
    bottom: 0px;
    height: 47px;
    font-size: 47px;
    color: rgba(75,75,75,1);
}
#header-phone .phone-number{
    font-family: impact, Microsoft YaHei, SimHei;
    font-size: 20px;
    color: #E64A19;
 }
#header-navibar{
    height: 39px;
    background: #2b2b2b;
}
#header-navibar .item-container{
    position: relative;
    width: 614px;
    height: 100%;
    font-size: 16px;
    color: #ffc001;
    margin-left: auto;
    margin-right: auto;
}
#header-navibar a{ color: #ffc001; }
#header-navibar .navbar-item{
    cursor: default;
}
#header-navibar .navbar-button{
    width: 84px;
    height: 39px;
    background-color: #2b2b2b;
    line-height: 39px;
}
#header-navibar .navbar-button:hover,
#header-navibar .navbar-button.active{
    color: #2b2b2b;
    background-color: #ffc001;
}
#header-navibar .navbar-menu{
    visibility: hidden;
    position: absolute;
    top: 39px;
    left: -200px;
    height: 300px;
    width: 1000px;
    z-index: 100;
    background-color: #222222;
}
#header-navibar .navbar-menu .row{
    width: 100%;
    height: 224px;
    margin-top: 38px;
    margin-bottom: 38px;
}
#header-navibar .navbar-menu .menu-col{
    position: relative;
}
#header-navibar .navbar-menu .seperator-line{
    position: absolute;
    right: 0px;
    top: 0px;
}
#back-to-top-button{
    position: fixed;
    right: 40px;
    bottom: 50px;
    z-index: 200;
    width: 50px;
    height: 50px;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.5s;
}
#back-to-top-button:hover{
    opacity: 0.3;
}
#footer{
    background-color: #252525;
}
#footer a{ color: #a6a6a6 }

