#production-content .in-content-title,
#production-1 .in-content-title{
    margin: 0;
}
#production-content .sidebar-customer-service{
    width: 226px;
    height: auto;
    font-size: 14px;
    color: rgb(102, 102, 102);
    padding: 50px 0;
    vertical-align: top;
}
#production-content .sidebar-customer-service .title{
    width: auto;
    height: 45px;
    line-height: 45px;
    color: white;
    font-size: 16px;
    padding: 0 8px;
    border-radius: 5px 5px 0 0;
}
#production-content .sidebar-customer-service .content{
    width: auto;
    padding: 10px 8px;
    background: rgb(246, 246, 246);
}
#production-content .sidebar-customer-service .tencent-qq-link{
    line-height: 25px;
}
#production-content .seperator-line{
    height: 0;
    width: 100%;
    border-bottom: dashed rgb(217, 217, 217) 1px;
    margin: 8px 0;
}
#production-content .sidebar-customer-service .contact-title{
    line-height: 30px;
}
#production-content .contents{
    width: 789px;
    margin: 50px 0;
    font-size: 16px;
    color: rgb(102, 102, 102);
    line-height: 24px;
}
#production-content .contents .title{
    text-align: center;
}
#production-content .contents .passage{
    margin: 26px 0 26px 40px;
}
#production-other-sections{
    font-size: 16px;
    color: rgb(102, 102, 102);
    line-height: 24px;
}
#production-other-sections .production-1.other-section-1{
    height: 797px;
    background: url('../media/index/in-index-bk-3.jpg') center;
}
#production-other-sections .icon{
    font-family: icomoon;
    font-size: 78px;
    height: 87px;
    padding-top: 25px;
}
#production-other-sections .production-1.other-section-1 .passage-1{
    position: absolute;
    top: 174px;
    left: 687px;
    width: 433px;
    height: 242px;
}
#production-other-sections .production-1.other-section-1 .passage-1 .text{
    margin-top: 26px;
    color: rgb(222, 222, 222);
}
#production-other-sections .production-1.other-section-1 .passage-2{
    position: absolute;
    top: 121px;
    left: 48px;
    width: auto;
    height: auto;
    text-align: right;
    border-collapse:separate;
    border-spacing: 30px 30px;
}
#production-other-sections .production-1.other-section-1 .passage-2 .text{
    width: 377px;
    color: rgb(143, 143, 143);
    font-size: 13px;
}
#production-other-sections .production-1.other-section-1 .passage-2 .title{
    color: rgb(102, 102, 102);
    font-size: 20px;
    font-weight: bold;
}
#production-other-sections .production-1.other-section-2{
    height: 388px;
}
#production-other-sections .production-1.other-section-2 .passage-1{
    position: absolute;
    top: 72px;
    left: 167px;
    width: 352px;
    height: 187px;
}
#production-other-sections .production-1.other-section-2 .passage-1 .text,
#production-other-sections .production-1.other-section-3 .passage-1 .text{
    color: rgb(100, 100, 100);
    font-size: 15px;
    margin-top: 26px;
}
#production-other-sections .production-1.other-section-2 .pictures{
    position: absolute;
    top: 67px;
    left: 647px;
    width: 500px;
    height: 330px;
    overflow: hidden;
}
#production-other-sections .production-1.other-section-2 .picture-container{
    display: inline-block;
    margin-right: 11px;
    margin-bottom: 6px;
    width: 229px;
    height: 145px;
    overflow: hidden;
}
#production-other-sections .production-1.other-section-2 img{
    width: inherit;
    height: inherit;
}
#production-other-sections .production-1.other-section-3{
    height: 400px;
    background: rgb(244,255,215);
}
#production-other-sections .production-1.other-section-3 .passage-1{
    position: absolute;
    top: 90px;
    left: 744px;
    width: 385px;
    height: 135px;
}
#production-other-sections .production-1.other-section-3 .pic-1{
    position: absolute;
    top: 43px;
    left: 85px;
    width: 523px;
    height: 250px;
}
#production-other-sections .production-1.other-section-4{
    height: 455px;
}
#production-other-sections .production-1.other-section-4 .passage-1{
    position: absolute;
    top: 83px;
    left: 77px;
    width: 300px;
    height: 57px;
}
#production-other-sections .production-1.other-section-4 .pic-1{
    position: absolute;
    top: 40px;
    left: 416px;
    width: 712px;
    height: 330px;
}
#production-content .production-3 .guarantees{
    width: 900px;
    height: 262px;
    margin: 30px 0 50px 0px;
}
#production-content .production-3 .guarantee{
    height: 80px;
    margin-bottom: 50px;
    border-collapse:separate;
    border-spacing: 10px 0;
}
#production-content .production-3 .guarantee .icon{
    font-size: 63px;
    color: #ffc001;
    line-height: 64px;
}
#production-content .production-3 .guarantee .text{
    font-size: 13px;
    color: black;
    line-height: 24px;
}
#production-content .production-3 .guarantee .text .title{
    font-size: 18px;
    color: rgb(75, 75, 75);
    text-align: left;
}
#production-content .production-2 .img.advantage,
#production-content .production-3 .img.advantage{
    width: 904px;
    height: 151px;
    margin: 20px 0 50px 0;
}
#production-content .production-2 .img.price,
#production-content .production-3 .img.price{
    width: 749px;
    height: 331px;
    margin: 30px 60px;
}
#production-content .production-3 .img.procedure{
    width: 631px;
    height: 262px;
    margin: 30px 0 50px 100px;
}
#production-content .production-4 .img.procedure{
    width: 817px;
    height: 37px;
    margin: 30px 0 100px 0;
}
#production-content .production-4 .img.price{
    width: 704px;
    height: 146px;
    margin: 30px 60px;
}
#production-content .production-5 .pictures.row,
#production-content .production-6 .pictures.row{
    min-width: 900px;
    margin: 60px 0;
}
#production-content .production-5 .pictures .picture,
#production-content .production-6 .pictures .picture,
#production-content .production-7 .pictures .picture{
    width: 210px;
    height: 128px;
}
#production-content .production-5 .promise,
#production-content .production-6 .promise,
#production-content .production-7 .promise{
    font-size: 22px;
    color: rgb(33, 33, 33);
    margin: 26px 0 26px 40px;
}
#production-content .production-5 .img.classes{
    width: 819px;
    height: 471px;
    margin: 20px auto 60px 30px;
}
#production-content .production-5 .fields,
#production-content .production-6 .fields{
    height: 388px;
    margin-bottom: 60px;
}
#production-content .production-5 .fields .passage-1,
#production-content .production-6 .fields .passage-1{
    position: absolute;
    top: 72px;
    left: 0px;
    width: 430px;
    height: 187px;
}
#production-content .production-5 .fields .passage-1 .text,
#production-content .production-6 .fields .passage-1 .text{
    color: rgb(100, 100, 100);
    font-size: 15px;
    margin-top: 26px;
}
#production-content .production-5 .fields .pictures,
#production-content .production-6 .fields .pictures{
    position: absolute;
    top: 67px;
    left: 450px;
    width: 500px;
    height: 330px;
    overflow: hidden;
}
#production-content .production-5 .fields .picture-container,
#production-content .production-6 .fields .picture-container{
    display: inline-block;
    margin-right: 11px;
    margin-bottom: 6px;
    width: 229px;
    height: 145px;
    overflow: hidden;
}
#production-content .production-5 .fields img,
#production-content .production-6 .fields img{
    width: inherit;
    height: inherit;
}
#production-content .production-5 .img.price{
    width: 739px;
    height: 184px;
    margin: 30px 60px;
}
#production-content .production-6 .img.classes{
    width: 795px;
    height: 457px;
    margin: 20px auto 60px 30px;
}
#production-content .production-6 .img.price{
    width: 862px;
    height: 157px;
    margin: 30px;
}
#production-content .production-7 .img.price{
    width: 752px;
    height: 147px;
    margin: 30px;
}
#production-content .production-8 .img.price{
    width: 695px;
    height: 136px;
    margin: 30px;
}
#production-content .production-8 .img.price{
    width: 695px;
    height: 136px;
    margin: 30px;
}
#production-content .related-production-link{
    font-size: 20px;
    text-decoration: underline;
    margin: 15px 30px;
    font-weight: bold;
}