{#1/1#}
{% extends 'profession-sub/profession-sub-base.html' %}


{% block profession_sub_content %}
    <div class="contents">


        <div class="title text-center">
            <h1 class="in-content-title"><b>水利水电</b></h1>
        </div>


        <div class="passage">
<p>水电是一种清洁能源，水电站在运行过程中几乎不会产生环境污染，因地制宜发展水电对促进国民经济发展和减少环境污染具有重要意义。中国的水电资源主要集中在四川、云南、贵州、重庆等地。这些地方河流密集，同时水流落差较大，非常适合建设多级水电站对水资源进行充分利用。</p>
<p>但是水电站建设对于环境并不是没有影响的，除了尚未得到的印证的水库引发地震的质疑外，水电站大坝对河流的生态环境确实造成了巨大影响。许多淡水鱼类都有溯游产卵的习性，水电站的大坝则拦腰截断了鱼类的产卵通道。另外大坝还会造成河流泥沙堆积，导致河床升高，需要定期进行清理，这需要花费巨大的经济成本。还有就是在上游建设水电站可以导致下游径流量减少，在枯水季节可能会导致断流。之前我国在澜沧江上游建设水电站就招致了下游东南亚国家的反对，这些国家认为水电可能会引发洪水或干旱。总之水电站的建设应该与整个流域的管理结合起来，否则会影响生态、通航、旱涝等各种问题。</p>
<p>水电站只是水利设施的一种，就三峡大坝而言，其最主要的功能并非发电，而是防洪。三峡大坝建成之前长江中下游地区经常受到洪水的困扰，但是三峡建成之后，这一地区抗洪能力大大增强。除了水电站外，大坝、水井、水库、人工渠都属于水利设施。各种水利设施对于防洪抗旱，水资源调度具有非常积极的意义。中国的南水北调工程东线和中线已经贯通，每年从水资源丰富的长江流域向黄河流域，特别是北京、天津地区，计划调配淡水270多亿立方，是世界上规模最大的水利工程之一。</p>
<p>继南水北调工程之后，全国又启动了引汉济渭、引江济汉等大型水利工程，这些水利工程有望解决我们水资源分布不均的现状。但是在进行这些水利工程之前一定要进行充分的认证，比如南水北调工程就遭遇了水价过高的问题，随着海水淡化成本的进一步降低，其将逐步被海水淡化水取代。</p>



        </div>
    </div>
{% endblock %}