{#1/1#}
{% extends 'profession-sub/profession-sub-base.html' %}


{% block profession_sub_content %}
    <div class="contents">


        <div class="title text-center">
            <h1 class="in-content-title"><b>能源论文</b></h1>
        </div>


        <div class="passage">
<p>能源是驱动世界运转的动力，在当今这个世界，能源就是经济的命脉，从而也是国家的命脉。二战以来为了争夺能源有多少战争都是由能源争夺引发的，伊拉克为了石油悍然入侵科威特。南苏丹与北苏丹为了争夺油田不惜大动干戈。中国的东海和南海也是由于油气资源引起了周边国家的觊觎，从而使我们的国门久久不能平静。</p>
<p>为了保障国家的能源安全，我国采取了一系列的措施，其一是实现能源来源的多样化，中国除了从中东地区进口石油外，还积极与南美的委内瑞拉和北边的俄罗斯开展能源合作。其二是保障石油通道的安全，中国在斯里兰卡和缅甸建设租赁海港并在缅甸和巴基斯坦铺设石油管道就是此目的。其三是实现能源结构的多样化，中国现在的能源结构仍是以煤炭为主、油气次之，这种能源结构无论是从环境还是从安全角度来看都是不合理的。</p>
<p>那么实现能源多样化的措施有哪些呢？减少煤炭消费是必然的，但是减少煤炭之后，由什么新能源填补其空缺呢？那就是寻找新能源。常规意义上的新能源是除化石燃料以外的能源，比如风电、太阳能、水电、核电、生物燃料。风电是一种非常有潜力的新能源，风电储量巨大，中国北方尤其是西北是优良风场。但是风电的一大痼疾是不够稳定，会给电网造成巨大冲击。由于先前没有考虑这个问题，中国北方兴建的大量风电场被弃置，浪费的资源量十分惊人。目前需要解决的是开发大规模的储能设备，从而提高风电的利用率。</p>
<p>太阳能是一种清洁能源，在使用过程中几乎不会产生任何污染，人们对太阳能的利用早已有之，比如家家户户安装的太阳能热水器。但是太阳能的工业利用只能采用太阳能发电的形式。太阳能发电的有两大问题，其一是太阳能电池板在生产过程中会产生巨大污染，中国作为太阳能电池生产大国就深受其害。其二是其转化效率较低，生产成本也较高，目前还不能与火电竞争。</p>
<p>核电是一个敏感话题，福岛核事故之后，全世界对核电的安全表示深深的担忧。德国已经明确表示完全弃核，台湾的核电项目一直备受阻挠，日本的核电机组不知何年何月能够重新投入运营。中国之前作为积极发展核电的国家，也采取了审慎的态度，所有内陆核电项目已经完全中止。</p>
<p>我国的核电基站和核电机组在2014年就已是全球核电在建规模最大的，比例超过全球的40%。目前技术问题是我国现阶段核电发展的最大障碍，我国的核电站使用的大部分技术都是二代核电站技术，或者在二代基础上的改进技术，并且有一部分技术很被动的依赖国外的技术。而世界发达国家现在都在运用第三代技术，第四代技术的研究也取得了部分成就。我们仍然需要在运营建设和技术上投入非常多的工作。</p>
<p>除了这些人们耳熟能详的新能源外，还有一些新能源也有着举足轻重的地位，比如页岩气。美国是最早进行页岩气开采利用并成功实现工业生产的国家，凭借着页岩气革命，美国成功从石油进口国变成了石油出口国。中国当前也在积极进行页岩气的勘探利用，目前已经取得了一些突破性的进展。中国页岩气可开采资源量约为35万亿立方米，超越美国跃居世界第一。目前对于页岩气开发来说的问题是，由于国际油价较低，页岩气投资动力不足。</p>

        </div>
    </div>
{% endblock %}