{#1/1#}
{% extends 'profession-sub/profession-sub-base.html' %}


{% block profession_sub_content %}
    <div class="contents">


        <div class="title text-center">
            <h1 class="in-content-title"><b>专利</b></h1>
        </div>


        <div class="passage">
<p>专利是指发明创造者专有的权力和利益，是一种独占权。在现代，专利属于知识产权，是一种无形而有价值的财产，获得专利的发明创造需要专利权人的许可才能为非专利权人所用。政府机关和某些组织会颁发文件，来给予发明创造者以法律保护，是专利的书面形式。</p>
<p>各行各业对专利的储备量给予了极大的重视，例如手机行业是跨国公司韩国的三星和美国的高通每年都通过专利获取了巨大的利润，而国内除了中兴华为联想外，其他手机品牌手中所有的专利还无法与国外巨头品牌抗衡竞争，例如小米已经输掉数起专利官司，公司的发展受到了障碍。微软收购诺基亚手机业务，联想收购摩托罗拉，都是看中了这俩家没落手机巨头手里掌有的大量专利。</p>
<p>我国的专利申请年年增长，从2010年以来就位居世界首位。发明专利申请近年来在我国全部专利申请中保持在40%左右的比例，而企业占了国内专利申请和授权比例超过了60%，以企业为主的创新主体的专利创造和运用能力正在不断提高。我国的专利授权数量的增长已经越来越高与国民经济的增长，这种快速增长是全社会科技创新的积极性和创造性不断激发的结果，也表现象征了我国综合国力的提高。在若干领域，专利授权已经取得了一定的突破和发展。</p>
<p>国家鼓励企业增加技术储备，刺激企业对研发的投入并提供财政金融支持来促使国内企业的研发水平不断提高，进一步适应市场化经济。随着我国科技能的攀升，国内企业活在国外品牌阴影下生存的将改变为和其竞争，国内发明专利的授权必然会呈现崛起之势，国外企业一统天下的局面将不复存在。</p>

        </div>
    </div>
{% endblock %}