{#1/1#}
{% extends 'profession-sub/profession-sub-base.html' %}


{% block profession_sub_content %}
    <div class="contents">


        <div class="title text-center">
            <h1 class="in-content-title"><b>放射性药物</b></h1>
        </div>


        <div class="passage">
<p>放射性药物是一种特殊的药物，它含有放射性核素，按作用分为三大类：显像用放射性药品、诊断用放射性药品、治疗用放射性药品。放射性药物是核医学得以发展的重要基础。大多数放射性药物是放射性核素和非放射性的被标记物结合来存在的，也有直接用放射性核素的无机化合物来应用。只要药品的分子内或者制剂内含有放射性核素，都是放射性药品。</p>
<p>放射性药物也必须符合一般药物的要求，比如无菌、化学毒性小等。而与其他药品不一样的是，放射性药品内含的放射性核素会射出射线，射线具有穿透性，通过人体时会对人体组织发生电离作用，因此它的质量要求比一般药品更加严格。放射性药品必须在不使人体正常组织不受到损害的前提下，达到诊断和治疗的目的。</p>
<p>放射性药物是有效的诊断和治疗手段，它更可以在分子水平直接研究活体的功能和代谢过程，实现人体内生理病理过程的快速无损实时成像，早诊断早治疗。</p>
<p>我国的放射性药物方面几乎与国际先进水平同步。尽管目前使用的放射性治疗药物还存在安全性及有效性的各自问题，但它们在治疗癌症等严重疾病中发挥了重要作用。新型的放射性药物研究开发要求非常高，投资大，技术要求高，还有越来越大的风险，因此，必须大力发展基础放射性药物化学研究。放射性药物还是中药现代化研究的重要手段。我国未来在放射性药物领域还需大力加强医用放射性核素的研制，加强基础放射性药物化学研究，等等。</p>
<p>世界各国都在对治疗用放射性药物大力开发，治疗用药物研制和应用的新高潮将会出现，这是当前放射性药物发展的一个新方向。</p>
<p>我们可以相信，放射性药物在不懈的努力下，一定会达到安全和有效、优质和廉价的目标，会更好的服务于人类和其他动物的健康。</p>


        </div>
    </div>
{% endblock %}