{#1/1#}
{% extends 'profession-sub/profession-sub-base.html' %}


{% block profession_sub_content %}
    <div class="contents">


        <div class="title text-center">
            <h1 class="in-content-title"><b>核能核电文献</b></h1>
        </div>


        <div class="passage">
<p>核能的发展始于20世纪前半叶，起初是应用在在军事上，为战争而诞生，重要的标志是美国1945年投入日本的2枚原子弹。</p>
<p>世界上的所有物质的构成都是原子，而原子核和其周围的电子构成了原子。较重的原子核分裂释放能量就是核裂变，较轻的原子核聚合在一起释放能量就是核聚变，还有一种称为核衰变，是原子核自发衰变过程中释放的能量。</p>
<p>核裂变具有巨大的威力，270万斤的标准煤燃烧时放出的化学能，而铀原子核全部裂变释放一样的能量只需1斤。运输一卡车的核电站的核燃料，相同功率的煤电站需要运送100列火车的煤炭。而核聚变的能量十倍于核聚变。通俗的来说，能使火车开动1公里的煤炭重量，核裂变能使火车开动500万公里，而核聚变能使火车开动5000万公里，足以从地球开到月球100多次。</p>
<p>核能在20世纪的军事方面中应用后，成功成为了民用的一种新能源用于核动力工业，它是能源工业的一条新路，是全球燃料资源短缺的一种重要解决手段。核能和太阳能、风能、水能以及生物智能一样是可再生能源，并具有自己的优势：核能原料在全球储量十分丰富，成本相对来说比较低；核能的技术经过长久的发展已经成熟；核能燃料的能量密度比其他燃料要高。发展核电不仅可以带来巨大的经济效益，推动社会发展，还可以带来显著的环境效应，人民已经从核电的发展中得到了实惠。</p>
<p>核工业的发展虽然造福了人类，尤其是核电的发展，但是也存在核污染扩散和发生核事故的隐患。比如，1979年美国三里岛核电站2号机组发生严重事故，1986年前苏联切尔诺贝利核电站4号机组发生严重事故，2001年日本福岛核事故。这些事故一时给核电事业的快速发展带来了低潮，降温，但不能阻碍核电发展的趋势，现在核电事业的发展势头仍然十分快速。</p>
<p>我国的核电基站和核电机组在2014年就已是全球核电在建规模最大的，比例超过全球的40%。目前技术问题是我国现阶段核电发展的最大障碍，我国的核电站使用的大部分技术都是二代核电站技术，或者在二代基础上的改进技术，并且有一部分技术很被动的依赖国外的技术。而世界发达国家现在都在运用第三代技术，第四代技术的研究也取得了部分成就。我们仍然需要在运营建设和技术上投入非常多的工作。</p>

        </div>
    </div>
{% endblock %}