{#1/1#}
{% extends 'profession-sub/profession-sub-base.html' %}


{% block profession_sub_content %}
    <div class="contents">


        <div class="title text-center">
            <h1 class="in-content-title"><b>石油化工</b></h1>
        </div>


        <div class="passage">
<p>人们对于石油的印象就是一种液体能源，但是除了作为原料外，石油原油进行提炼能够产生各种各样的化工原料，比如我们常见的合成纤维和合成橡胶以及塑料，可以说石油化工是人类促进人类进步最重要的力量之一。</p>
<p>合成纤维是人类历史上最伟大的发明之一，各种合成纤维替代了棉、麻、丝、竹等天然纤维，制成了各种各样的布料，如果没有合成纤维就不会有今天繁荣发达的服装纺织行业，也就没有我们百花齐放的流行时尚。</p>
<p>塑料是一种高分子材料，我们日常用的奶瓶、手机壳、电脑外壳、键盘，以及屡禁不止的白色垃圾都是塑料。除了这些常见的塑料外，通过在塑料中添加一些添加剂，可以让塑料实现神奇的物理化学特性。比如有机二极管被广泛用于生产OLED屏幕，目前在手机上使用OLED屏幕已经成为一种趋势。OLED屏幕相比传统的LCD屏幕具有功耗低、尺寸薄的特点，又由于其具有自发光的特性，因此它的对比度极高，显示色彩更加鲜艳。</p>
<p>那么石油化工的原理是什么呢？首先是通过加温将原油变成气体，然后在不同温度下进行冷凝，得到分子量不同的产品，分子量从小到大依次为汽油、煤油、柴油、沥青。对于这些有机大分子还可以使用化学方法分解成各种简单的小分子，然后将这些小分子（一般是结合天然气）合成塑料、合成纤维和合成橡胶等各种高分子材料。在合成高分子材料的过程中加入各种特殊添加剂，实现导电性、超导性、磁性、发光特性、耐热性、记忆性等各种神奇的功能，再根据其理化特性制成结构材料和功能材料。</p>
<p>石油化工行业是一个技术密集型产业，需要用到有机化学、高分子材料、计算机技术、自动化技术、精密仪器、催化剂技术等各种基础知识。生产工业用油所用原油只占原油加工量的10%左右，大部分的原油通过石油化工行业转变成了各种化工原料，用于生产医药、农药、涂料和纤维等工业产品。</p>


        </div>
    </div>
{% endblock %}