{#1/1#}
{% extends 'profession-sub/profession-sub-base.html' %}


{% block profession_sub_content %}
    <div class="contents">


        <div class="title text-center">
            <h1 class="in-content-title"><b>核仪器</b></h1>
        </div>


        <div class="passage">
<p>核仪器和一般仪器相比，它利用的是放射性射线的特殊性质，来达到放射性含量和种类的测量。核仪器具有很多种类，在许多领域都广泛应用，具体如核电、核燃料工艺控制、辐照加工、育种、环境监测、核医学、石油测井、安检系统、无损检测、等等，涵盖了科研、教学、医疗卫生、航天、环境保护、海关、地质矿山、农业、工业等领域。</p>
<p>核仪器分为有源核仪器和无源核仪器两大类，特性不同。本身带有放射源的核仪器就是有源核仪器，如温度计、密度计、料位计、钢水液面计、核子称、X荧光分析仪、灰份仪等等，这些仪器主要是基于放射源与被检测对象发生吸收衰减等某种效应后，测量射线的变化从而来确定被测对象的一些参数；相对来说，无源核仪器就是不带放射源的仪器，这类仪器一般是直接测量被测对象的放射性核素种类和活度，对被测对象的放射性水平进行评价的仪器，我们经常使用的安检系统，就属于这类。</p>
<p>按照国际标准化，核仪器则被分为三大体系：1核电站运行、测量、控制与安全保护体系；2核安全与辐射防护监测体系；3通用核仪器仪表体系（核技术的研究开发应用方面）。按应用领域，有基本核仪器、工业用核仪器、农业用核仪器、核医学仪器、资源开发核仪器、核电及堆用核仪器、环境保护与辐射防护核仪器。核仪器大约贡献了75亿的GDP。</p>
<p>我国研制和生产堆用核仪器已有近30年的历史，但国内目前核电及堆用核仪器还是以模拟线路为主， 数字化水平不高，远远不能适应我国核电大发展的形势，造成这些现状的主要原因是研发人才青黄不接，研发力量分散，国家投入不足。</p>
<p>据统计，国家每年相关高等院校用于物理实验的核仪器采购额超过3000万元。工业用核仪器航天用核仪器每年市场容量可达数亿元。</p>
<p>核仪器制造是整个核电产业链的重要一环，国内核仪器成品的研究起点和技术水平需要在立足自主研发和自主创新的基础上通过内外部合作，快速有效的提高，在相关部门的政策引导下，实现跨越式可持续发展。</p>

        </div>
    </div>
{% endblock %}