{#1/1#}
{% extends 'profession-sub/profession-sub-base.html' %}


{% block profession_sub_content %}
    <div class="contents">


        <div class="title text-center">
            <h1 class="in-content-title"><b>矿产勘探</b></h1>
        </div>


        <div class="passage">
<p>矿产勘探与开采是关系国民生产的一个重要行业，能源和工业生产资料全都依赖采矿行业。中国矿产开采的历史十分悠久，可以追溯到青铜时代。中国地大物博，是一个矿产大国，矿产开采业较为发达，但是各种矿产资源的分布并不均匀，比如石油主要分布在西部和北部地区、煤炭主要集中在山西和陕西地区，页岩气主要集中在四川盆地。</p>
<p>积极发展矿产勘探对促进国民经济发展，保障能源资源安全具有十分重要的意义。例如，专家估计中页岩气资源储量达到35万亿立方米，与天然气储量基本持平，但是目前已经探明的储量只有8000亿立方，这说明页岩气勘探还有很多工作要做。再比如，中国是核大国，但是铀矿资源却相对贫乏，作为一种重要的战略资源，铀矿资源一定要掌握在自己手里才安全，可是中国目前的铀矿大部分都是从哈萨克斯坦和非洲等地区进口的。中国铀矿资源呈现分布不均和品位不高的特点，从事铀矿勘探的专家仍需要继续努力寻找。</p>
<p>除了这些能源矿产，资源矿产的开采勘探同样重要。中国目前是铁矿石第一大进口国，国家铁矿石市场稍有风吹草动，国内的炼钢厂就苦不堪言。目前中国主要从澳大利亚和智利进口铁矿石。这一问题的解决办法是有实力的中国企业走出去，并购外国的资源开采企业。</p>
<p>中国在矿产资源方面并都是处于被动的地位，比如稀土资源就掌控在我们国家手里。稀土元素是炼钢和半导体行业必不可少的添加剂、“催化剂”，而且世界上已经探明的稀土资源主要分布在中国，这无疑是上天对我们的眷顾。现在国家已经将稀土资源作为一种十分的重要的战略资源进行管控。目前稀土资源的问题已经不在于开采勘探，而在于提炼加工，由于稀土元素都是不活泼元素，并且都混合在一起，提纯起来十分复杂，而提炼稀土元素的技术主要掌握在日本等发达国家手中。</p>
<p>除了铜铁镍和稀土元素等常规矿产资源外，贵金属和宝石也是一种重要的矿产资源。黄金矿主要分布在世界上的少数几个地区。南非是黄金储量最大的国家，中国是黄金储量排名世界第三的国家，但是中国的黄金产量已经连续四年排名世界第一。</p>

        </div>
    </div>
{% endblock %}