{#1/1#}
{% extends 'profession-sub/profession-sub-base.html' %}


{% block profession_sub_content %}
    <div class="contents">


        <div class="title text-center">
            <h1 class="in-content-title"><b>放射性药物</b></h1>
        </div>


        <div class="passage">
<p>放射性药物是我们不常见到的药物，在一般药店是见不到的，因为它含有放射性同位素，会对人体健康造成严重影响，其用途也比较特殊，可用于显像、诊断和治疗。放射性药物可能与非放射性药物结合使用，也可直接使用，但是只要药物中含有放射性同位素，都应该称为放射性药物。</p>
<p>用于显像时，放射性药物相当于示踪剂，人体的某些组织发生癌变时，癌细胞的新陈代谢速度会显著高于正常细胞，将某些特殊的放射性同位素服下后，这些同位素在癌变组织中的含量会显著高于正常组织。用放射成像的方法可以明显地看出癌细胞扩散的范围和癌变组织的大小。</p>
<p>治疗用放射性药物则用于我们常说的“放疗”，也就是利用放射性同位素发出的射线杀死癌细胞。一般的做法是将放射性药物定向输送到癌变组织然后将癌细胞杀死。但是其副作用也是相当显著的，那就是射线会不加甄别地杀死周围的所有细胞，包括正常细胞，会对人体的造成相当大的损害。</p>
<p>放射性药物是如何生产的呢？一般是通过核反应堆生产的，这些反应堆可以是民用核电站的反应堆，可以是各种研究堆。为了避免对人体产生持久的伤害，一般放射性药物的选用的核素半衰期相对较短，只有几十个小时，因此必须要即取即用，这对放射性药物的存储和运输提出了很高的要求。</p>
<p>尽管放射性药物仍然存在各种问题，比如有效性不高，副作用大等，但是在诊断和治疗癌症上它仍然是一种重要手段。放射性药物的研究技术要求非常高，而且安全性要求极高，国家管控极其严格，因此我们仍要加强放射性核素的研究。</p>
<p>现在世界各国仍然仍在进行放射性药物的研究开发，当前的研究方向是提高放射性药物的安全性，降低放射性药物的成本。</p>


        </div>
    </div>
{% endblock %}