{#1/1#}
{% extends 'profession-sub/profession-sub-base.html' %}


{% block profession_sub_content %}
    <div class="contents">


        <div class="title text-center">
            <h1 class="in-content-title"><b>技术检测报告</b></h1>
        </div>


        <div class="passage">
<p>技术检测报告是把技术检测的过程和结果写成文档，并且分析发现的问题和缺陷，为纠正技术的存在的问题提供依据，同时为技术的验收和交付打下基础。</p>
<p>技术检测报告是技术检测阶段最后的文档产出物，优秀的技术检测员应该具备良好的文档编写能力，一份详细的技术检测报告包含足够的信息，包括技术质量和检测过程的评级，技术检测报告基于检测中的数据采集以及对最终的测试结果分析。</p>
<p>一份技术检测报告通常包含首页，引言，检测概要，检测结果和缺陷分析，检测结论和建议这六个部分。</p>
<p>技术检测报告的内容一般都是大同小异，对于一些技术检测报告而言，可能会把检测结果和缺陷分析、检测结论这两部分合并，逐项列出检测项、缺陷、分析和建议，这种方法也比较多见，尤其在第三方评测报告中。</p>
<p>通常，用户对检测结论部分感兴趣，开发人员希望从缺陷结果以及分析得到产品开发质量的信息，项目管理者对检测试行中的成本、资源和时间予以重视，而高层经历希望能够阅读到简单的图表并且能够与其他项目进行同向比较。技术检测报告必须让阅读者感到报告是有价值而且值得花费一点时间去关注的。</p>
<p>检测结果及缺陷分析是整个报告中最令人关注的部分，这部分主要汇总各种数据来进行度量，包括对检测过程的度量和能力评估，对技术的质量和产品评估。描述缺陷的事实和情况，分析引起缺陷的原因以及缺陷会带来的后果，描述技术的局限性和其他限制性的原因。提出预防和改进措施，弥补手段，长期策略。</p>
<p>针对这次技术检测的工作，技术检测报告结尾需要提出自己的意见或者建议，如果没有则可以填写：“无”。</p>


        </div>
    </div>
{% endblock %}