{#1/1#}
{% extends 'profession-sub/profession-sub-base.html' %}


{% block profession_sub_content %}
    <div class="contents">


        <div class="title text-center">
            <h1 class="in-content-title"><b>环境工程论文</b></h1>
        </div>


        <div class="passage">
<p>环境工程目前还处于初创阶段，是环境科学的一个分支，其核心是治理环境污染源。环境工程属于21世纪重点发展的高新科技。环境工程主要研究自然资源的保护和合理利用，日益严重的环境问题的科学手段解决，环境的质量改善、促进社会发展与环境保护，主要研究防止环境污染，提高环境质量的科学技术。环境工程学是复杂而且庞大的技术体系。它不仅研究防治环境污染和公害的措施，而且研究自然资源的保护和合理利用，探讨废物资源化技术、改革生产工艺、发展少害或无害的闭路生产系统，以及按区域环境进行运筹学管理，以获得较大的环境效果和经济效益，这些都成为环境工程学的重要发展方向。</p>
<p>人类从诞生的一开始就不可避免的污染了环境，而近现代的产业革命以来，特别是20世纪50年代以后，科学和技术生产的发展非常迅速，人类城市化急剧加速，自然环境受到的冲击和破坏越来越强烈，对环境的污染破坏日益严重。自然环境有一定的自净能力，收到污染之后，只要污染物的量不超过一个特定的数量，即环境容量，自然生态系统仍能保持平衡，环境也能在正常状态下维持。尽可能的减少污染物的排放是保护环境最理想的办法。当前最主要的污染是工业造成的污染，而工业的废水、废气和废渣中的污染物一般是未能利用的原材料或副产品、产品。防止环境污染最基本最有效的途径，是工业上加强生产管理和革新生产工艺，政府运用立法和经济措施促进工业革新技术。然而，难于从根本上予以防治生活和生产对环境的不利影响，因而控制对环境的污染是环境工程的基本任务。</p>
<p>我国环境工程的发展仍然处于初级的发展阶段，由于国人们的环保意识很薄弱，政策上得不到应有的重视，环境保护方面的技术扔比较传统，新技术的研究和开发较少。提高人民群众的环保措施，加强宣传教育，鼓励开发研究新技术是改变现状的途径。环境工程的质量贯穿了整个工程的全过程，这样才能将这种换保的理念有效的贯彻到其中的多个方面当中，才能有效的根治污染问题，从而来充分的体现出工程环保的全面。</p>

        </div>
    </div>
{% endblock %}