{#1/1#}
{% extends 'profession-sub/profession-sub-base.html' %}


{% block profession_sub_content %}
    <div class="contents">


        <div class="title text-center">
            <h1 class="in-content-title"><b>土木工程</b></h1>
        </div>


        <div class="passage">
<p>土木工程顾名思义是指在地上用土石、木材等营造各种设施的工程，但是现代的土木工程已经将活动范围扩展到了水上和地下。水上的土木工程有建造海上石油钻井平台、建造桥梁、建造人工岛屿等等。地下的土木工程有填埋管道、挖掘隧道、建造地铁轨道等等。</p>
<p>人们常见的地上土木工程涉及的项目就更多了，建造房屋、桥梁、机场、广场、核电站、港口码头都属于土木工程项目。</p>
<p>土木工程的设计施工质量关系着国计民生，几年前有则新闻报道称，一辆卡车竟然将一座修成没有多久的桥给压塌了，虽然这辆卡车确实存在超载的情况，但是这种桥脆脆还是让人们对桥梁的质量产生严重怀疑，甚至有人质疑桥梁的设计存在缺陷。另外就是当前正在修建中的港珠澳大桥的施工问题了，这座大桥具有重要经济、战略利益，是由香港和内地联合修建的，目前内地承建的部分已经完工，而香港承建的部分则因为种种施工质量问题一再延期。前段时间有人质疑香港承包商的钢筋混凝土质量存在问题，所幸经过调查并没有发现上述问题。</p>
<p>不仅公共建筑是这样，居民建筑的质量问题同样不容忽视，近些年来居民楼意外垮塌的新闻可谓层出不穷，这也给土木工程设计施工人员敲响了警钟：建筑施工容不得一点马虎。
另一方面，中国土木工程从业者也凭着自己的智慧创造了一个又一个奇迹，目前中国有11座桥梁排入了世界最长的15座桥梁榜单，其中最长的桥梁为昆山丹阳大桥，其总长达到了惊人的165公里。位于湖北巴东的四渡河大桥则是世界上建成的第一高桥。此外秦岭隧道、青藏铁路都是世界工程史上的奇迹。
</p>
<p>那么土木工程需要哪些专业知识呢？首先是结构力学，桥梁就是结构力学应用的最好范例。其次是土木工程项目管理及工程经济学，如果是道路项目，则要学习道路工程，如果是桥梁项目则要学习桥梁工程，隧道则要学习隧道工程，房屋建筑要学习房屋工程。最后总的来说还要学习项目决策与评价。</p>

        </div>
    </div>
{% endblock %}