{#1/1#}
{% extends 'profession-sub/profession-sub-base.html' %}


{% block profession_sub_content %}
    <div class="contents">


        <div class="title text-center">
            <h1 class="in-content-title"><b>环评报告</b></h1>
        </div>


        <div class="passage">
<p>随着人们对环境保护的越来越重视，环境影响评价是实施工程项目之前必不可少的环节。所谓环评就是分析该工程项目可能会对环境造成什么样的影响，这里的环境既包括自然环境（比如自然水域），也包括人们的生活环境（比如城市居民区）。分析了这些影响后还要制定相应的对策和办法。进行环境影响评价就是要求规划者在项目的规划过程中考虑环境因素，将工程活动的环境影响降到最小。</p>
<p>而环评报告则是介绍环境影响评价流程和内容的文件，环评报告应做到公平公正、全面细致、客观求实，同时要简明扼要，准确详实。</p>
<p>所有环评报告都应该遵循环评技术导则进行书写，报告列出的基础数据应该真实可靠，决不能弄虚作假。环评报告的预测要根据具体条件进行调整，报告参数也应该根据具体环境和具体污染物确定。环评报告的结论必须明确指出工程项目是否可行，要客观公正，不可主观臆断。</p>
<p>各种工程项目对环境的影响是各不相同的，因此环评报告不论是内容还是格式都不一定相同，但是它们都应该包含以下内容，既现状调查、污染调查、影响评估以及影响评价。</p>
<p>在分析工程项目的可行性的时候，一定要从社会效益和经济效益这两个角度分析项目的环境影响和经济损益进行分析，既要有定性分析，又要有定量估计。其分析的对象应包括地表水与地下水影响、土壤及农作物影响、噪声污染、电磁辐射污染、大气污染等等。在分析了这些可能的污染源和受影响对象后还要给出相应的防治和缓解措施。</p>

        </div>
    </div>
{% endblock %}