{#1/1#}
{% extends 'profession-sub/profession-sub-base.html' %}


{% block profession_sub_content %}
    <div class="contents">


        <div class="title text-center">
            <h1 class="in-content-title"><b>建筑工程</b></h1>
        </div>


        <div class="passage">
<p>建筑工程是各种工程技术中历史最悠久的一个门类，中国古代的建筑艺术取得了十分辉煌的成就，我们有世界上最大的宫殿紫禁城，有世界上最长的建筑，被称为世界八大奇迹的长城，有无数能工巧匠建造了数不清的雕栏画栋。江南有三大名楼：黄鹤楼、滕王阁、岳阳楼。全国有四大名亭：湖南的爱晚亭、浙江的兰亭、安徽的醉翁亭以及北京的陶然亭。这些亭台阁谢也成为文人墨客流连忘返之地，留下了不朽的诗词歌赋、文化著作。</p>
<p>进入近现代以后中国又诞生了一大批建筑艺术珍品，比如央视大楼——大裤衩，比如广州电视塔小蛮腰，比如上海的金茂大厦，这些建筑也成为这些地方的地标，成为了游客慕名而来的目的地，成为了城市的鲜亮名片。</p>
<p>那么现代建筑工程的内容是什么呢？所谓建筑工程既要建造房屋建筑，又要建造附属设施，并铺设相关的管道和线路。建筑工程专业还涉及到土木建设、工程造价、工程管理、给排水工程等专业知识。</p>
<p>建筑工程行业与房地产行业是息息相关的，虽然国家一直在对房地产进行调控，防止房地产投资过热，但是国人一直把房地产投资作为投资首选。而很多地方政府又将卖地作为主要财政来源，因此形成了对房地产的严重依赖关系。因此房地产行业一直发展得十分火热。另外随着国家对保障性住房和公祖房建设的投入不断增大，房地产行业发展的势头只会有增无减，而建筑工程行业的前景也是大有可为。</p>
<p>进行建筑工程首先要进行项目规划，项目规划完成后就要进行征地，然后进行实地勘探和设计，然后是进行主体部分土木施工，再然后是进行管线安装和装修工程，最后是验收完工。在建筑工程的设计规划过程中会形成标书、项目计划书、设计图纸等各种资料，这些都可能是需要翻译的资料。</p>

        </div>
    </div>
{% endblock %}