{#1/1#}
{% extends 'profession-sub/profession-sub-base.html' %}


{% block profession_sub_content %}
    <div class="contents">


        <div class="title text-center">
            <h1 class="in-content-title"><b>电气工程</b></h1>
        </div>


        <div class="passage">
<p>所谓电气工程是指与电子或电气有关的工程项目，其专业名称为电气工程及自动化专业，它与计算机学科有很大关系，因此有一种定义为，凡是与电子和光子有关的工程都可以称为电气工称，可以说其涵盖范围是相当广的。</p>
<p>电气工程有哪些应用呢？我们普通家庭安装电路线路就是属于电气工程，电路又有强电和弱点之分，普通的220V家庭用电就是属于强电，而电话线、网线以及电子设备的数据传输线就是属于弱电。电气工程就是要安装这些电路、线路、开关、闸刀、电表、仪表、监控设备等等。</p>
<p>当然电气工程并不只是应用于家庭，城市的路灯系统、信号灯系统、监控摄像头系统、自动喷灌系统都是属于电气工程的范畴，大型机车上面的电子信号系统也属于电气工程的处理对象。可以说在现代社会中电气工程的应用场景是无处不在的。</p>
<p>电气工程现在的发展趋势更加节能，更加高效，更加智能。这是因为电气工程及自动化的现状是软件设计不合理，而硬件设施不匹配，而能源损耗较大。随着AI技术和物联网技术的进一步发展，电气工程及自动化行业有望获得突破性的发展。</p>
<p>目前来说要进一步完善网络基础设施架构，要提高网络架构的统一性和整体性，促进电气工程及自动化的发展。</p>
<p>另外城市应该进行电气自动化设备改造，淘汰老旧设备，提高速度，降低能耗，实现绿色城市目标。</p>
<p>此外，还要进一步发展人工智能技术，大力发展机器人，用机器人替代工人进行重复冗余的工作，提高生产效率，降低生产成本，从而提高企业市场竞争力。</p>
<p>最后，应该进一步部署网联网技术，物联网技术的核心仍然是互联网，但是它在围绕互联网进行了拓展，将所有设备通过网络连接起来，进行信息的交换。实现智能的识别、跟踪、管理，可以广泛用于家居、公共安全、零售、服务等各个领域。</p>

        </div>
    </div>
{% endblock %}