{#1/1#}
{% extends 'profession-sub/profession-sub-base.html' %}


{% block profession_sub_content %}
    <div class="contents">


        <div class="title text-center">
            <h1 class="in-content-title"><b>环境工程文献</b></h1>
        </div>


        <div class="passage">
<p>环境工程是一个新生学科，其隶属于环境科学。随着人们对环境的日益重视，环境保护和污染治理成为了一个重要课题，环境工程也成为了一个热门学科。</p>
<p>环境工程主要研究的内容是什么呢？那就是如何保护自然资源，并对自然资源进行合理利用，但是就目前来说，由于环境污染问题比较突出，因此环境工程的核心内容也变成了污染治理。环境工程是一个复杂的学科体系，其研究的是如何用物理、化学、生物手段进行污染防治，研究对废弃物的处置和利用，研究循环无公害生产等等。</p>
<p>人类的发展总是伴随着环境的破坏与污染，在进入现代社会之前，人类对大自然的破坏力尚小，大自然可以依靠自身的自修复能力进行修复。但是进入现代以后，工业革命极大地提高了人类的生产力，提高了医疗卫生水平，降低了死亡率，使人口快速增长，而地球环境的压力越来越大。越来越多的野生动植物的家园被人类挤占、毁坏，数不尽的野生物种彻底走向灭绝。人类越来越狂妄，也越来越贪婪，对自然坏境的破坏到了无以复加的地步，曾经美丽的河流鱼虾已经绝迹，曾经宏伟的冰川已经消融殆尽，曾经辽阔的湖泊已经干涸见底，曾经浩瀚的大洋已经浮满垃圾……地球上已经难以找到宁静的净土。</p>
<p>该如何保护我们赖以生存的家园？该如何拯救濒临灭绝的野生物种？这是环境工程工作者们需要面对的问题，更是全人类要思考的问题。环境工程从业者不能仅仅是清道夫，更要参与人类发展大计的规划，要制定合理的发展策略，减少污染，降低能耗，实现绿色可持续发展。对于已经形成污染固然要治理，但是对于工业生产和居民生活产生的垃圾要想方设法设法进行利用，对于不能利用的废物更要设计合理的处置措施，防止对环境造成严重污染。</p>
<p>治理环境最根本的措施，乃是政府用经济刺激的手段，鼓励企业进行绿色生产，减少废物的产生。对于中国而言，国人薄弱的环保意识是一大问题，无论是企业还是居民都将环境保护视为拖累发展的镣铐。我们要积极转变这一观念，正视当前严峻的环境形势，依靠环境工程技术，积极治理环境，合理利用资源，实现可持续的发展目标。</p>

        </div>
    </div>
{% endblock %}