{#1/1#}
{% extends 'profession-sub/profession-sub-base.html' %}


{% block profession_sub_content %}
    <div class="contents">


        <div class="title text-center">
            <h1 class="in-content-title"><b>园林设计</b></h1>
        </div>


        <div class="passage">
<p>园林设计是一门建筑技术，更是一门艺术。园林设计种植树木花草，堆叠假山，设计园林路径，布局水流水池，最终建设一个优美如画的自然环境，使自然、建筑和人类活动之间达到和谐完美，生态良好。园林设计体现了天人合一的精神内涵，表达了人和自然和谐共存的意蕴，它与中国传统文化具有非常密切的关系。园林设计的整理理念并不随丰富的设计技巧发生变化，始终都是人与环境的和谐完美。</p>
<p>园林设计需要结合广泛的知识面，综合统一各个学科的知识，来做出园林艺术，文学、艺术、生物、工程、建筑等等都是园林设计都需要涉及的。园林不仅是现实生活中的实景，还是反应社会意识形态的空间艺术，它满足了人们精神文明的需要，也满足了人们休息娱乐的物质需要。</p>
<p>园林设计具有五大要素：山水地形构成了园林的骨架，是园林的灵魂；园林中的植物以及动物构成了共生共荣的生态景观；园林中的建筑具有画龙点睛的作用，需要精心构思；园林中的路径和广场是园林的脉络；园林中的雕塑、山石以及壁画等内容均称为园林小品。</p>
<p>世界园林主要分为四大流派，其中有英国自然风致式园林，意大利台地式园林，法国宫廷式花园，当然还有中国的自然山水园林。</p>
<p>中国自然山水园林以苏州园林为代表，无处不充满了诗情画意。在古代历史中，园林一直体现了中国的民族对自然，对生活、对美的追求和理解，是中国传统文化的重要载体。而现代园林设计百花齐放，成绩卓著。国内目前城市化进程加速进行，城市建设如火如荼，城市园林建设也具有空前的发展速度和数量增长。公共绿地、道路绿化、广场、公园、居住小区、城市雕塑等等都需要园林设计国内工作者的工作和贡献。</p>

        </div>
    </div>
{% endblock %}