{#1/1#}
{% extends 'profession-sub/profession-sub-base.html' %}


{% block profession_sub_content %}
    <div class="contents">


        <div class="title text-center">
            <h1 class="in-content-title"><b>污染检测报告</b></h1>
        </div>


        <div class="passage">
<p>污染简单说就是改变并破坏了环境正常状态的现象。人类活动的一开始就造成了污染。污染具体有大气污染、水污染、声音污染、放射性污染、重金属污染等等。环境中出现某些化学成分数量过大或者其本身阻碍了环境的自净过程，并且产生了有害环境和人类健康的物质，是污染的一种情况，另一种情况是环境中出现了外来物质或者能量，导致生物体产生不良效益或环境发生破坏。环境是否污染，是取决于各种行为造成的后果，例如人类在生产或生活中排放的各种物质，比如某些有机营养物质，会造成江河湖泊和海洋中的藻类大量的繁殖，在淡水中称为水华，海洋中叫赤潮。一般污染有大气污染、水污染、土壤污染、固体废弃污染和放射性污染。</p>
<p>污染检测报告是污染检测的污染检测工作的工作成果，报告的质量是污染检测质量的综合反映。检测必须做到满足准确、完整、清晰、易于理解、结论正确这些要求。</p>
<p>污染检测报告的格式根据要求应该统一，与检测结果相关的，必须的全部信息要全部囊括。比如标识、编号、状况、依据、日期地点、人物、数据和环境等等。</p>
<p>当已发的检测报告因为某些原因需要修改、更正时，原则上应该有报告编制的人员提出更改报告，按照手续审批后，然后将更正的报告发至原报告的发放地方，同时原来的报告作废，需要收回。</p>
<p>目前随着人类社会的高速发展，对环境的破坏和环境的污染越来越严重，因此，污染检测报告具有非常现实的意义。</p>

        </div>
    </div>
{% endblock %}