{#1/1#}
{% extends 'profession-sub/profession-sub-base.html' %}


{% block profession_sub_content %}
    <div class="contents">


        <div class="title text-center">
            <h1 class="in-content-title"><b>环评报告</b></h1>
        </div>


        <div class="passage">
<p>环境影响评价简称为环评。环评通俗来说就是分析一些项目的全部过程中会对环境产生什么样的影响，来研究出防止污染的办法和实行。鼓励在规划和决策中考虑环境因素是环境影响评价的根本目的，最终使人类活动达到更具环境相容性。环评按照对象可分为规划环境影响评价、战略环境影响评价和建设项目环境影响评价。</p>
<p>环评报告是环境影评价程序和内容的书面表达，是环境影响评价的重要技术文件，一份环评报告应该遵循以下原则：
<br>1、全面 公正 客观，概括的反应环境评价报告的全部工作。
<br>2、文字简洁准确，图标清晰，论点正确，报告应简明扼要。</p>
<p>环评报告的总体结构应该符合国家环评技术导则的要求，重点突出，内容全面。其基础数据必须可靠。环评的预测模式都有一定的适用条件，参数也随着污染物和环境条件的不同而改变。环境影响评价的结论中必须对建设项目的可行性合理性做出明确的表达，不可模棱两可，不能带有感情色彩。其表达必须准确，篇幅必须合理，不宜过长。</p>
<p>建设项目的类型不同，对环境的影响也不尽相同，环境影响报告的编制内容格式也有所不同，一般分章为现状调查，污染源调查，影响评测，影响评价来编排。</p>
<p>环评报告需要从社会效益经济效益环境效益三个方面对项目建设的环境影响经济损益进行定量定性分析项目建设的可行性。其要点有总论、建设项目概况、污染源调查评价、大气地表水地下水环境现状与影响评价、环境噪声土壤及农作物生态环境现状与影响评价、建设项目对其他环境的影响评测（比如振动电磁波放射性等）、环境保护措施极其可行性分析、环境影响经济损益分析、结论与建议。</p>

        </div>
    </div>
{% endblock %}