{#1/1#}
{% extends 'profession-sub/profession-sub-base.html' %}


{% block profession_sub_content %}
    <div class="contents">


        <div class="title text-center">
            <h1 class="in-content-title"><b>排水工程</b></h1>
        </div>


        <div class="passage">
<p>排水工程是给水排水工程的一部分。给水排水工程的研究内容是水的社会循环。我国的水危机已经成为了我国社会经济发展的主要制约因素，我国水资源相对人我国人口非常短缺，水环境污染比较严重，是为我国水危机的标志。解决我国水危机，必须依靠给水排水工程。</p>
<p>给水排水工程覆盖了很多专业领域，比如水的社会循环、水资源的保护和可持续利用、谁的生态功能、节水工作、水质及其相关的高新技术等等。</p>
<p>给水：一所现代自来水厂，利用一系列物理和化学手段每天将江河湖泊中抽取的自然水，进行净化，使其能达到生产标准和生活标准的自来水，然后通过四通八达的管道，将自来水送到各家各户。</p>
<p>排水：我们生产生活使用过的污水废水集中起来，通过先进的污水处理厂进行处理，然后干干净净的排放到江河湖泊中。抽取自然水，处理为自来水、输送自来水到用户、然后处理用户的污水，在排放处理后的污水的过程就是给水排水工程的研究的主要内容。</p>
<p>排水工程一般有排除污水集中污水的管道水系，废水处理厂，最种排放处理好的水的设备设施三个组成部分。抽升设施是通常必要的。废水就是不能使用的水，通常有生活废水，工业废水，各种地面水纱流泄的雨水和冰雪融化水等等，都统称为废水。废水的处理需要满足排放标准，有时是为了再利用，或者把再利用和处理措施结合起来。在古代，废水通常用灌溉的方式来处理。</p>
<p>收集和输送废水污水的管网，分为河流管系和分流管系，称为排水管系；废水处理厂的废水处理目标一般是去除悬浮物和改善耗氧性，有些情况下还需要进行消毒等进一步处理。废水经过处理后，满足排放要求后，通过提水机械，排入水体或排放到土地上。</p>

        </div>
    </div>
{% endblock %}