{#1/1#}
{% extends 'profession-sub/profession-sub-base.html' %}


{% block profession_sub_content %}
    <div class="contents">


        <div class="title text-center">
            <h1 class="in-content-title"><b>污染检测报告</b></h1>
        </div>


        <div class="passage">
<p>几乎所有的人类活动都会产生污染，就污染的种类而言，一般包括噪音污染、电磁辐射污染、水污染、大气污染、重金属污染、有机物污染等等。所谓环境污染不一定是在环境中产生有害环境或人体健康的物质，有些污染是由富营养物质导致的，这些物质会破坏生物体或生态系统正常的运行，导致生物体本身受损，或生态吸引受到破坏。</p>
<p>所以环境是否受到了污染，并不是看是否向环境排放了有害物质，一方面当有害物质的量比较少时，生态系统可以依靠自身的自净能力将其“消化吸收”，另一方面即便有些物质本身没有危害，但是它们一旦进入环境也可能产生不利的环境影响。比如火电厂的冷却水本身是没有毒害的，但是当其排入河流后会导致河水温度升高，导致水生动植物死亡，或扰乱其生长周期。再比如城市里的灯光本身也是没有什么危害的，但是它在夜间会扰乱候鸟迁徙的路线。又比如我们常见赤潮现象，它就是由一些有机营养物质导致的。</p>
<p>污染检测报告就是对污染检测工作进行总结的书面文件。污染检测报告的基础数据一定要做到客观公正、准确全面、完整清晰，最后得出的结论也必须准确客观，不可主观臆断。</p>
<p>污染检测报告的格式根据要求应该统一，与检测结果必须是相关的，全部信息要全部囊括。比如标识、编号、状况、依据、日期地点、人物、数据和环境等等。</p>
<p>污染检测报告不可以轻易修改，以防止利益相关者故意篡改数据和结果。当由于特殊情况需要对报告进行修改时，应该由报告编制者提出更改申请，按照手续进行审批，修改后的报告应该发送至原报告的发放处。</p>
<p>随着人类活动对环境影响越来越严重，同时污染事故频发，因此进行污染检测非常有必要。比如福岛核事故发生后，事故发生区域周围乃至日本周边国家就一直进行污染检测，确保人们的生命财产不受影响。</p>

        </div>
    </div>
{% endblock %}