{#1/1#}
{% extends 'profession-sub/profession-sub-base.html' %}


{% block profession_sub_content %}
    <div class="contents">


        <div class="title text-center">
            <h1 class="in-content-title"><b>数学论文翻译</b></h1>
        </div>


        <div class="passage">
<p>数学是科学的语言，数学语言具有自然语言不可替代的简洁、准确、严谨的特点。从古代的欧几里得、祖冲之，到近现代的莱布尼茨、牛顿、笛卡尔，数学的范围变得越来越广，有了拓扑学、统计学、概率论、运筹学等新兴分支。原本相互分离的代数学与几何学也因为笛卡尔的解析几何的发明而联系在一起。</p>
<p>数学除了纯粹的数学研究外，也越来越多地应用于其他学科领域，如经济学研究就离不开数学模型的辅助，而近年来大热的人工智能研究则同样离不开数学算法。虽然许多数学研究刚出现的时候是纯数学，但是随着时代的发展，我们越来越多地发现其实际用途。</p>
<p>对于数学的定义，人们争议已久，在十八世纪以前，人们一直将亚里士多德的“数学是数量的科学”奉为圭臬，但是在此之后出现的群论则没有明确的数量关系。甚至对于数学的定位，人们也有颇多争议，有人直接说数学只是工具而不是真正的科学。</p>
<p>不管怎么说，数学都具有以下特点：1. 严谨；2. 逻辑；3. 符号</p>

        </div>
    </div>
{% endblock %}