{#1/1#}
{% extends 'profession-sub/profession-sub-base.html' %}


{% block profession_sub_content %}
    <div class="contents">


        <div class="title text-center">
            <h1 class="in-content-title"><b>化妆品检验报告翻译</b></h1>
        </div>


        <div class="passage">
<p>化妆品是一类与人体肌肤直接接触的产品，能够直接影响人体健康，新闻报道中劣质化妆品造成用户皮肤溃烂、起痘、过敏反应的报导屡见不鲜，因此保障化妆品的安全是十分重要的。国家了为了监督化妆品的安全，将化妆品与食品、药品划归同一类进行管理，所有国内出产和国外进口的化妆品都必须在国家食品药品监督管理局进行备案。</p>
<p>随着人们生活水平的日益提高，使用进口化妆品的用户也越来越多，中国用户比较青睐的化妆品一般来自法国、日本和韩国，代表性的品牌有兰蔻、香奈儿、资生堂、韩后等等。按照国家法律法规规定，所有进口化妆品都必须提供化妆品检测报告，这些检测报告一般是厂家自己或委托第三方检测开具的，因此化妆品检测报告翻译是化妆品翻译的一大类型。</p>
<p>化妆品成分检测一般包括哪些内容呢？首先是微生物检测，检测的对象是沙门杆菌、金黄色葡萄糖球菌、肠球菌等等，检测微生物含量一般是为了检测化妆品在生产、运输的过程中有没有被污染。第二类检测物质是重金属，比如汞、铅。化妆品检测的国际惯例是检测八个大项，其中微生物检测五项，重金属检测三项。还有一些化妆品（或护肤品）会含有激素，比如面膜、修复霜。</p>
<p>以上检测项目属于卫生指标和理化指标，但是化妆品检测报告还可能包括感官指标。而感官指标是指化妆品的外观、颜色和香型。而理化指标除了重金属含量外还包括化妆品的酸碱度、粘度以及耐热性。</p>
<p>对于化妆品的安全检测，国家是有专门法规的。国家食品药品监督管理总局（简称药监局）于2015年12月23日发布2015年第268号公告《化妆品安全技术规范》（简称《规范》），这份技术规范得到了妆品标准专家委员会审议通过并从第二年12月1日起实施。该《规范》规定了中国境内生产和销售的所有化妆品的安全技术要求，明确了化妆品的通用要求、禁限用组分要求、准用组分要求以及化妆品的检验评价方法。</p>
<p>化妆品检测机构有哪些呢？除了一些国家机构（比如省市疾病控制预防中心）外，一些企业是也是可以进行检测认证的，但是一定要注意相关销售平台和监管部门承不承认这些检测机构的资质。</p>

        </div>
    </div>
{% endblock %}