{#1/1#}
{% extends 'profession-sub/profession-sub-base.html' %}


{% block profession_sub_content %}
    <div class="contents">


        <div class="title text-center">
            <h1 class="in-content-title"><b>电子产品翻译</b></h1>
        </div>


        <div class="passage">
<p>这里所谓的电子产品指的是消费电子产品。随着科技的日渐发展，电子产品的种类是越来越多，除了大家耳熟能详的手机、电脑和相机外，还有一些比较新奇的电子产品也越来越多地走进人们的生活，比如按摩仪、耳机、热疗仪、耳放、音响、声卡，如果是喜欢攒机的玩家，可能还会接触显卡、固态硬盘、处理器等等电子产品。 </p>
<p>中国是世界第一大电子产品生产国，也是第一大电子产品消费国，当今电子产品的发展趋势智能化，更准确地说是给各类电子产品赋予人工智能。首先是手机，华为海思首先推出了集成了NPU（神经网络处理器）的麒麟970处理器，除了能够加快图片识别速度外还能将人工智能用于拍照时的场景识别，从而实现更好的拍照效果。再一个是智能音响，继苹果推出了homepod之后，亚马逊、谷歌、小米都推出了自家的产品。此外，各种智能机器人自必不说，谷歌旗下的波士顿动力公司推出的机器人经过几代的发展已经相当灵活，能够在复杂的野外环境中执行运输任务。一些工厂在尝试用机器人替代工人，银行也试图用机器人替代职员。电子产品未来的前景是实现各种产品的智能化互联，提供统一的智能生活和生产。</p>
<p>电子产品资料的翻译可能涉及到产品技术说明书。产品技术说明书主要介绍产品的各项物理指标，包括耐热性、抗静电特性等等。还有就是产品的操作手册翻译，时至今日，电子产品已经实现了高度的集成化，各种产品就像一个个黑盒子，如果没有操作手册用户根本不知道其如何使用。</p>
<p>另外，产品的宣传物料可能也需要翻译。电子产品要想获得市场，良好的宣传是必不可少的。以手机行业为例，人们普遍认为ov两家大厂性价比低，但是由于广告做得足，这两大品牌还是占据了相当大的市场份额，oppo甚至一度超越华为跃居国内市场销量第一。电子产品广告宣传资料的翻译一定要结合本地文化的特征，要符合当地语言的特色，不然可能闹出苹果体翻译的笑话。</p>

        </div>
    </div>
{% endblock %}