{#1/1#}
{% extends 'profession-sub/profession-sub-base.html' %}


{% block profession_sub_content %}
    <div class="contents">


        <div class="title text-center">
            <h1 class="in-content-title"><b>物理文献翻译</b></h1>
        </div>


        <div class="passage">
<p>物理文献是多种多样的，所有力学文献、光学文献、电磁学文献、粒子物理学文献、核物理学文献、材料物理学文献都可以算作物理文献。作为自然科学中的排名第一的学科，同时作为其他自然学科基础的学科，物理学的涵盖面是相当广泛的，物理学文献同样如此。如果不加区分，机械设备技术说明书、材料力学测试报告、建筑桥梁安全评估报告、电控系统使用说明书都属于物理文献。</p>
<p>因此可以看到物理文献翻译是一门综合性、多交叉的翻译任务。其主要特点有：</p>
<p>1. 专业范围广</p>
<p>可能没有哪种文献翻译覆盖的专业范围能够物理文献翻译这么广。上至航空航天，下至深海探索，小至电子夸克，大至星际宇宙，无处不属于物理学的范畴。因此进行物理学文献翻译除了要求译者有较扎实的数理基础外还要求其能够比较广博的知识面，能熟悉天文地理等各路知识。</p>
<p>2. 专业词汇多</p>
<p>仅在物理学下面就有上百个细分学科，其带来的是不计其数的专业词汇。由于现在的科研工作者的研究范围越来越精细，也越来越狭隘，因此要让他们掌握各个学科的物理术语是不可能的。针对这个问题，启信科技翻译想到了两种方法，一是在翻译前对文件进行精确评估，确定其具体专业，然后匹配最对口的译者进行翻译；二是建立专业术语库，将原文件与术语库进行比对，直接替换库中收录的术语。目前启信科技已经收录了一百万多条物理学专业术语，匹配率达到90%以上，大大减少了翻译的专业偏差。</p>
<p>启信科技翻译有专门的数理翻译小组，能够专业快速地处理各类物理文献，团队协作，全程质控，再保证周译字量达到百万的同时还能确保译文翻译水平始终如一。</p>


        </div>
    </div>
{% endblock %}