{#1/1#}
{% extends 'profession-sub/profession-sub-base.html' %}


{% block profession_sub_content %}
    <div class="contents">


        <div class="title text-center">
            <h1 class="in-content-title"><b>化妆品资料翻译</b></h1>
        </div>


        <div class="passage">
<p>化妆品顾名思义就是能够用于化妆的产品，比如中国古代的胭脂水粉，但是发展到现代，化妆品已经不仅限于装扮面部区域，手指甲、脚趾甲、头发甚至全身都可以涂抹化妆品，也就是说能够改变人们外观的化学品都可以称为化妆品。但是“改变外观的化学品”并不能完全概况现代化妆品，有些化妆品是用于改变气味的，比如香水。</p>
<p>还有一些化妆品并不是用于改变外观和气味而是用于防护修复的。这类产品包括防晒霜和修复霜。防晒霜一般是用物理方法（细小颗粒）阻挡UVA和UVB，防止皮肤被晒伤。而修复霜等产品实际上已经模糊了化妆品和药物的界限，修复霜中一般还有激素成分，其能够促进皮肤细胞的再生。还有一些化妆品含有胶原蛋白、矿物质和植物精华，这些物质一般是细胞新陈代谢过程所需的物质，在皮肤表面喷涂这些化妆品并通过渗透过程让这些活性成分进入皮肤深层，可以促进皮肤细胞再生或增加皮肤弹性。</p>
<p>随着经济的发展，越来越多的国外化妆品开始出现在中国的市场上，奢侈化妆品品牌有香奈儿、GUCCI等，平民一点的品牌有兰蔻、韩后、资生堂等，还有一种分类方法是分为美妆产品和护肤产品、护发产品以及特殊产品。这些国外产品要进入中国市场一方面要面临中国法规的审查，中国的《化妆品监督条例》明确了化妆品生产和经验的卫生要求，另一方面还要向经销商和消费者介绍自己的产品，这就产生了大量需要翻译的化妆品资料。</p>
<p>随着经济的发展，越来越多的国外化妆品开始出现在中国的市场上，奢侈化妆品品牌有香奈儿、GUCCI等，平民一点的品牌有兰蔻、韩后、资生堂等，还有一种分类方法是分为美妆产品和护肤产品、护发产品以及特殊产品。这些国外产品要进入中国市场一方面要面临中国法规的审查，中国的《化妆品监督条例》明确了化妆品生产和经验的卫生要求，另一方面还要向经销商和消费者介绍自己的产品，这就产生了大量需要翻译的化妆品资料。</p>
<p>启信科技翻译化妆品翻译小组的骨干成员来自著名高校的化学、化工专业，熟悉化妆品的专业知识，可以确保翻译的专业准确性和语言合规性。</p>

        </div>
    </div>
{% endblock %}