{#1/1#}
{% extends 'profession-sub/profession-sub-base.html' %}


{% block profession_sub_content %}
    <div class="contents">


        <div class="title text-center">
            <h1 class="in-content-title"><b>食品检验报告翻译</b></h1>
        </div>


        <div class="passage">
<p>食品安全一直是人们的心头之患，地沟油、毒大蒜、僵尸肉……近些年食品安全事故频频发生，国家对食品安全也高度重视。食品检验检测是保证食品安全的第一道关。</p>
<p>食品检验有什么特点？第一是样品体系十分多样，我国是美食大国，传统的有八大菜系，除了八大菜系外还有各种地方小吃、山殽野湋、土产特产，此外还有层出不穷的啤酒饮料、休闲食品。随着人们的生活水平的不断提高，各种进口食品也不断涌入中国，比如进口自澳洲和美国的牛肉，进口自东南亚的大米，进口自欧洲的小麦、玉米，进口自印度的咖喱等等。这些进口食品当然也少不了检验检测的环节。这么多的样品种类给食品检验带来了很大的难度。</p>
<p>食品检验有什么特点？第一是样品体系十分多样，我国是美食大国，传统的有八大菜系，除了八大菜系外还有各种地方小吃、山殽野湋、土产特产，此外还有层出不穷的啤酒饮料、休闲食品。随着人们的生活水平的不断提高，各种进口食品也不断涌入中国，比如进口自澳洲和美国的牛肉，进口自东南亚的大米，进口自欧洲的小麦、玉米，进口自印度的咖喱等等。这些进口食品当然也少不了检验检测的环节。这么多的样品种类给食品检验带来了很大的难度。</p>
<p>食品检验有什么特点？第一是样品体系十分多样，我国是美食大国，传统的有八大菜系，除了八大菜系外还有各种地方小吃、山殽野湋、土产特产，此外还有层出不穷的啤酒饮料、休闲食品。随着人们的生活水平的不断提高，各种进口食品也不断涌入中国，比如进口自澳洲和美国的牛肉，进口自东南亚的大米，进口自欧洲的小麦、玉米，进口自印度的咖喱等等。这些进口食品当然也少不了检验检测的环节。这么多的样品种类给食品检验带来了很大的难度。</p>
<p>食品检验的另一个重要特点是标准众多，除了国家的强制性、推荐标准外，还有卫生部门针对各类产品的卫生标准，比如餐饮场所必须取得卫生许可证，以及行业自己制定的强制标准和推荐标准，在地方上还有地方标准，各个企业也有自己的企业标准。有些食品企业为了强化品牌的安全性还会寻求安全标准更高的国家或地区的机构进行检验认证，比如欧洲认证和欧洲有机认证等等。</p>

        </div>
    </div>
{% endblock %}