{#1/1#}
{% extends 'profession-sub/profession-sub-base.html' %}


{% block profession_sub_content %}
    <div class="contents">


        <div class="title text-center">
            <h1 class="in-content-title"><b>数学文献翻译</b></h1>
        </div>


        <div class="passage">
<p>数学文献涵盖的范围比较广，既有专门的数学专著，比如中国最早的数学著作《周髀算经》，西方几何学的开山之作欧几里得的《几何原本》，也有一些是在其他学科著作中掺杂了数学知识的著作，比如牛顿的《自然哲学原理》。</p>
<p>历史上的许多数学家本身还是哲学家，因此他们的数学理论通常与哲学理论混杂在一起，比较著名的有古希腊的毕达哥拉斯和近现代法国的笛卡尔。对于毕达哥拉斯，我们耳熟能详的有他的勾股定理和黄金分割率，但是他最重要的是“万物皆数”理论，既以数学解释整个世界。他的这一哲学数学思想后来还影响到了哥白尼，导致后者提出了日心宇宙模型。</p>
<p>被黑格尔盛赞为“近代哲学之父”的笛卡尔同时在哲学史上和数学史上占有举足轻重的地位。“我思故我在”是他家喻户晓的名言，而在数学上他提出了直角坐标系并在此基础上建立了解析几何，从而可以用代数方法证明几何定理，在此基础上建立的微积分打开近代数学的大门，因此笛卡尔也被称为“近代数学之父”。</p>
<p>数学文献的翻译有以下几个大特点：</p>
<p>1. 语言严谨</p>
<p>在很久以前就有人称数学为“能够得出确切结论的学科”，因此数学语言严谨，容不得任何含糊其辞的地方。进行数学文献翻译就要求译者有良好的数学素养，养成严谨明确的语言表达习惯。</p>
<p>2. 符号语言较多</p>
<p>各种符号的发明见证了数学学科的进步，从加减乘除符号，到莱布尼茨发明的微分符号，这些符号构成了数学语言的一部分。符号语言相比自然语言来说更加清晰明确，不易出现歧义。在表述中大量使用符号语言，这是数学文献的一大特征。</p>
<p>启信科技翻译数理翻译小组的骨干成员来自清华大学的数学、物理专业，数学基础扎实，语言表达符合数学学术写作的风格习惯，可以确保翻译的专业准确性和语言合规性。</p>

        </div>
    </div>
{% endblock %}