{#1/1#}
{% extends 'profession-sub/profession-sub-base.html' %}


{% block profession_sub_content %}
    <div class="contents">


        <div class="title text-center">
            <h1 class="in-content-title"><b>食品资料翻译</b></h1>
        </div>


        <div class="passage">
<p>民以食为天，人们的生活离不开食品，现在除了每天主要吃的那些饭菜，现在闲暇时刻人们还可以享受多种多样的休闲食品，在这些休闲食品中就不少是进口自国外的食品，比如韩国的海苔、俄罗斯的鱼子酱、意大利的奶酪和丹麦的饼干，这些进口食品极大了丰富了人们的生活。当然要想在中国经营销售这些进口食品就必须对这些产品进行介绍，这其中就涉及到食品资料的翻译。</p>
<p>食品资料翻译包括食品宣传册翻译、食品包装翻译、食品检验报告翻译、食品成分表翻译等等，翻译这些资料是为了方便中国的顾客了解这些食品的历史、风味、故事以及特点。</p>
<p>食品宣传册可能要介绍该食品的起源，正如中国每一样传统食品都有其历史典故，比如粽子与屈原、豆腐与淮南王，等等，外国食品也不乏这种动人的故事。比如德芙巧克力（Dove）就传说与一个动人的爱情故事有关：一个宫廷厨师为无比心爱却又得不到的公主做了一款巧克力，上面写着Dove（意思是Do you love me），后来这款巧克力就得名Dove（音译为德芙）。这些脍炙人口的故事和典故无疑增加了该食品的底蕴，也增加了食品的吸引力，吃货们在享受各种美味食品的同时还能感受一丝浪漫的气息。</p>
<p>如果没有这种动人的故事，那至少要介绍一下食品的历史。比如意大利干酪一开始是古罗马时期亚平宁半岛牧人的美味，后来一步步进入了贵族的餐桌，并进行了加工（增加了发酵等工序）和烹饪上的改进，最后才有了今日的样貌。介绍食品的这些历史无疑能够让吃货们了解本地文化，感受异域风情。</p>
<p>除了介绍历史和典故，对于一些历史比较悠久的食品品牌，还可以介绍其创业故事、发展沿革等等，这样做无疑也是为了增加品牌的卖点，让品牌文化深入人心。</p>
<p>可以看到，国外食品在宣传的时候并不只是简单地介绍其口味（自古多情留不住，唯有美食得人心），还为其营造了丰满的背景，不仅占据消费者的口腹，更占据他们的头脑，以此实现最长久有效的宣传效果。</p>
<p>启信科技翻译有专门的食品翻译小组，能够专业快速地处理各类食品资料，团队协作，全程质控，再保证周译字量达到百万的同时还能确保译文翻译水平始终如一。</p>


        </div>
    </div>
{% endblock %}