{#1/1#}
{% extends 'profession-sub/profession-sub-base.html' %}


{% block profession_sub_content %}
    <div class="contents">


        <div class="title text-center">
            <h1 class="in-content-title"><b>服装翻译</b></h1>
        </div>


        <div class="passage">
<p>服装是指人们穿的衣帽鞋袜，乃至携带的箱包，各种服装已经不仅仅是为了实现保暖的用途，还有保护的意义，时至今日更添加了装饰的意义，所谓服装已经不能很好地体现这一点，于是出现了时装的概念。</p>
<p>说到时装就不得不说人们耳熟能详的四大时装周，既巴黎时装周、米兰时装周、纽约时装周、伦敦时装周，这四大时装周每年会在春秋两季各举办一次，荟萃来自全世界的顶级时装品牌和超模。随着国际潮流文化的不断流入，现在有越来越多的人选择在国际时装周期间专门出国看秀。当然这些看秀的人并不一定全是冲着各式各样的时装去的，有些人纯粹是为了增加曝光率，除了蹭红毯外还增加了蹭秀的这个说法。</p>
<p>那么服装翻译是翻译什么内容呢？第一类是翻译介绍该服装品牌的文章，包括品牌历史、设计理念等等。第二类是翻译介绍某一地区传统服装纺织的文章，比如中国传统的有四大名绣，分别为蜀绣、苏绣、粤绣、湘绣，要想让这些名绣走向世界，当然要对其历史、特点进行介绍。第三类则是词典类的文献资料，这类资料会分门别类地介绍所有服装的局部特征、详细用料等等，是研究服装必不可少的重要资料。第四类就是所谓的潮流分析，现在网上已经有了一类人专门写这类文章，大家称之为“时尚博主”，当这些时尚博主有了相当数量的粉丝后，一般会创立自己的时装品牌。</p>
<p>服装翻译要求译者对服装纺织能够有一定了解，如果涉及到时装，可能还要求译者有一定的时尚感，平时要多关注时尚评论文章。</p>

        </div>
    </div>
{% endblock %}