{% extends "bootstrap/base.html" %}

{% block title %}启信后台{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block metas %}
    {{ super() }}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="format-detection" content="telephone=no,email=no,address=no" />
    <meta name="renderer" content="webkit" />

    <meta name="keywords" content="cc"/>
    <meta name="description" content="cc"/>
    <link type="image/x-icon" href="{{ url_for('.static', filename='media/base/favicon.ico') }}" rel="icon"/>
    <link href="{{ url_for('.static', filename='media/base/favicon.ico', _external=True) }}" rel="shortcut icon"/>
{% endblock %}

{% block styles %}
    {{ super() }}
{% endblock %}

{% block content %}
    <ul class="nav navbar-nav navbar-right">
        {% if current_user.is_authenticated %}
        <li><a href="{{ url_for('auth.logout') }}" style="margin: 0 5px;">登出</a></li>
        {% else %}
        <li><a href="{{ url_for('auth.login') }}" style="margin: 0 5px;">登录</a></li>
        {% endif %}
    </ul>

    {# show flash messages #}
    {% with messages = get_flashed_messages() %}
        <div class="container">
            {% for message in messages %}
            <div class="alert alert-warning text-center"  style="margin: 10px 0; font-size: 16px; color: brown;">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
            {% endfor %}
        </div>
    {% endwith %}

    {% block detals %}
    {% endblock %}

{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}