{#1/1#}
{% extends 'profession-sub/profession-sub-base.html' %}


{% block profession_sub_content %}
    <div class="contents">


        <div class="title text-center">
            <h1 class="in-content-title"><b>技术说明书翻译</b></h1>
        </div>


        <div class="passage">
<p>这里的技术说明书指的是各种机械电子的技术说明书。技术说明书是供给机械设备、电子设备的用户使用的，以介绍操作方法为主说明性文件。内容主要会涉及产品的技术参数、性能指标、安装方法、调试方法、维护方法，从技术角度向用户说明产品的使用、安装、调试等方法。</p>
<p>并不是所有产品都有技术说明书，但是技术比较复杂的设备、仪器一般都会配备完善的技术说明书，方便用户的使用。</p>
<p>机械电子类技术说明书翻译有以下特点：</p>
<p>1. 专业性较强</p>
<p>由于机械电子技术说明书是从技术角度撰写的说明性文件，其专业性必然较强，主要会涉及机械、电子、电路、系统与设备、计算机软件等专业知识。启信科技翻译机械电子翻译小组的译员主要来自清华大学机械、电子等专业院系，他们的在机械电子方面的专业知识相当扎实，可以满足技术说明书翻译的专业性要求。</p>
<p>2. 专业术语较多</p>
<p>机械电子说明书由于要介绍产品的技术参数、技术性能，因此必然会涉及到相当多的机械电子方面的专业词汇。启信科技翻译建有专门的专业术语库，包含了上百万条机械电子类的双语专业术语，能够涵盖90%以上的专业词汇。</p>
<p>3. 图例较多</p>
<p>技术说明书的另一个特点是图例非常多，因为要介绍产品的各个零部件及其功能，详实的图例比文字更加直观。启信科技翻译在处理图片翻译方面有相当成熟的经验，可以按照客户的要求保留原图，或翻译图片文字并保留原图格式。</p>
<p>总之，启信科技翻译在机械电子类技术说明书翻译方面既有雄厚的技术实力，又有成熟的翻译经验，科学规范的翻译质控团队，日处理翻译文字量可达10万，是您技术说明书翻译的不二之选。</p>



        </div>
    </div>
{% endblock %}