{#1/1#}
{% extends 'profession-sub/profession-sub-base.html' %}


{% block profession_sub_content %}
    <div class="contents">


        <div class="title text-center">
            <h1 class="in-content-title"><b>机械制造翻译</b></h1>
        </div>


        <div class="passage">
<p>机械制造是航空航天、船舶制造、汽车重工、化学化工、核能核电、建筑桥梁等各种现代工业的基石，因为这些现代化的产业全都离不开各种机械设备。甚至我们生活中用到的工具、仪器、仪表全都是机械制造业的产品。机械制造业占GDP的比重是衡量一个国家工业化水平的指标。</p>
<p>上世纪七八十年代开始，美国为了占据利润更高的产业，比如文化产业和信息技术产业，开始将制造业转移到中国、东南亚以及印度，正是这次制造业大转移，造就了中国制造业第一大国的地位。</p>
<p>中国虽然是制造大国，却不是制造强国，因为最精密的仪器，最精密的机床全都掌握在德国和日本手里。虽然日本爆出了神钢造假等负面新闻，但是其在制造业的底蕴仍是不容忽视的，也正是有了这份底蕴，日本汽车制造业、电子制造业才能长期位居世界前列。</p>
<p>中国现在已经意识到了这种大而不强的问题，开始大力推动从“中国制造”向“中国智造”的转变，大力推进人工智能的发展，比如投入两千亿美元扶持半导体产业，力求将紫光打造为世界级的半导体企业，将中芯国际打造为世界第二大的晶圆代工厂。</p>
<p>物联网、智能家居、大数据中心、人工智能的蓬勃发展无疑为中国的半导体制造行业提供了广阔的市场需求，这也将成为“中国智造”的强大推动力。</p>
<p>启信科技翻译能够提供最专业的机械制造翻译服务，包括机械制造文献翻译、机械制造论文翻译、机械制造专利翻译、机械说明书翻译、机械工程翻译等等。</p>
<p>我们的机械电子翻译小组主要由清华大学机械工程系的硕博研究生组成，他们既有深厚的专业基础知识，又有过硬的双语素养，能够出色完成机械制造类文献资料的翻译任务。此外，对于机械制造论文翻译，我们有真正的外籍语言专家担当语言润色工作，能够帮助您纠正英语表达上的各种错误或不地道的地方，我们保证由我们翻译的所有论文都能够满足SCI期刊的语言要求，一旦不通过，百分百负责免费修改，免除您的后顾之忧。</p>



        </div>
    </div>
{% endblock %}