{#1/1#}
{% extends 'profession-sub/profession-sub-base.html' %}


{% block profession_sub_content %}
    <div class="contents">


        <div class="title text-center">
            <h1 class="in-content-title"><b>机械电子文献翻译</b></h1>
        </div>


        <div class="passage">
<p>机械电子文献泛指英语论文、专利文件除外的其他各类文献资料，包括机械电子会议报告、机械电子技术标书、机械电子学术论文等等资料。文献资料翻译只是一个泛称，但是我们一般是指这些资料的外译中翻译，比如英语技术资料翻译、俄语科技文献翻译、韩语技术文件翻译等等。</p>
<p>机械电子文献翻译还包括许多细分学科或交叉学科的文献资料翻译，比如汽车技术文件翻译、化工设备技术文件翻译、计算机技术文件翻译、仪器设备技术文件翻译，只要与机械电子专业相关性比较大的领域我们都归入此类。</p>
<p>机械电子文献翻译有以下特点：</p>
<p>1. 专业知识较杂</p>
<p>机械电子在国民行业的方方面面都可能用到，比如汽车制造、石油化工、矿产勘探、水利水电、核能核电、航空航天、船舶工程。由于要与这些专业进行交叉交互，因此机械电子类的专业知识是十分繁杂的。因此进行机械电子文献翻译的译者除了要掌握基础的机械电子专业知识外，还要熟悉各相关学科的专业知识。</p>
<p>2. 专业深度可能较深</p>
<p>机械电子文件除了比较浅显技术说明书等文件，还有比较深奥的学术会议报告和专业论文，其专业深度更深，知识原理更专。这就需要译者有非常扎实的理工科知识基础，数量掌握基本数学、物理原理。我们的机械电子翻译小组组员大多来自清华机械电子等院系，理工知识素养是毋庸置疑的。</p>
<p>3. 名词术语较广</p>
<p>机械电子包括机械与电子两大学科，此外又涉及了其他数不清的交叉学科，因此其名词术语数量是各个学科领域中最多的。启信科技翻译一致以来致力于破解科技翻译专业性不足的难题，逐步建立完善专业术语库，通过将文献资料与完整的术语库比照，消除专业术语翻译偏差。</p>
<p>4. 文件形式众多</p>
<p>本来文献资料就可以泛指一切资料，此处的技术文献指的是一些特殊文献之外的所有资料，因此其格式仍是非常多的。启信科技翻译有成熟翻译经验，对各种格式、各种形式的机械电子文献资料翻译都得心应手。</p>
<p>针对机械电子文献翻译，我们建立了专门的翻译小组，由项目经理统筹，团队协作，将技术实力与高端人才融合，打造了一支机械电子翻译的顶级团队，周翻译标书字数可达70万，数据见证实力。</p>

        </div>
    </div>
{% endblock %}