<section class="container">
    <p>有新上传文件，请到<a href="qixin-trans.com/qixinAdmin">后台</a>查看。</p>
    <table>
        <tr>
            <td>上传时间: </td>
            <td>{{ uploadTime }}</td>
        </tr>
        <tr>
            <td>客户姓名: </td>
            <td>{{ customerName }}</td>
        </tr>
        <tr>
            <td>联系电话: </td>
            <td>{{ customerPhoneNumber }}</td>
        </tr>
        <tr>
            <td>联系邮箱: </td>
            <td>{{ customerEmail }}</td>
        </tr>
        <tr>
            <td>文件名称: </td>
            <td>{{ uploadFileName }}</td>
        </tr>
    </table>
</section>