{#1/1#}
{% extends 'profession-sub/profession-sub-base.html' %}


{% block profession_sub_content %}
    <div class="contents">


        <div class="title text-center">
            <h1 class="in-content-title"><b>信息技术文献</b></h1>
        </div>


        <div class="passage">
<p>信息技术是当今通信技术和计算机技术的总称，一般称之为IT技术。IT是行业是当今非常人们的一个行业，因为现在是信息社会。美国是信息革命的引领者，世界上最领先的一批IT企业都在美国。比如软件公司的代表微软公司，消费电子产品的代表苹果公司，搜索引擎巨头谷歌公司，社交网络巨头脸书公司，处理器霸主英特尔公司，图形技术引领者英伟达公司，通信技术巨擘高通公司，电子商务与云计算引路人亚马逊公司。这些IT巨头如今在资本市场上风生水起，今年以来股价全都大涨，尤其是苹果公司现在市值已经超过八千亿美元，而且极有可能成为第一家市值超过一万亿美元的企业。</p>
<p>IT企业这么受热捧并非没有道理，信息革命以来，IT行业已经开始引领世界发展的方向，已经运用的IT技术已经深刻改变了人类的生活方式，比如电子商务，2016年中国的电子商务交易规模已经达到22万亿元，几乎占到全国GDP的三分之一。再比如云计算，云计算让海量计算通过互联网分布在海量计算机上，大大降低了计算成本。又比如大数据，大数据让更加精确地分析客户行为成为可能。</p>
<p>而那些尚未实现，但是已经极具前景的概念将带来更加翻天覆地的变化。比如人工智能浪潮，将极大的解放人类，让人类无需从事繁重、重复、冗余的工作，让人们可以全身心投入到创造性工作中去。这将彻底变革千百年来人类的劳动和生活方式。在比如量子计算，其计算速度将大大超过现有的处理器技术，人类一直以来梦寐以求的海量计算将成为可能，地震预测、天气预测都将成为现实。</p>
<p>可以说当今的信息技术就代表着最先进的生产力的发展方向。中国已经认识到信息技术的重要性，先是投入巨资建设半导体产业，大力扶持紫光等企业的存储器事业，然后又提出了人工智能2020计划，将人工智能引入小学课堂。这些强有力的扶持将成为我国信息技术发展的强劲动力。</p>
<p>现在信息技术总的发展方向是智能化和多功能化，其在工业生产和社会生活中的重要性也越来越高，其将成为提升生产力的最重要力量。</p>

        </div>
    </div>
{% endblock %}