{#1/1#}
{% extends 'profession-sub/profession-sub-base.html' %}


{% block profession_sub_content %}
    <div class="contents">


        <div class="title text-center">
            <h1 class="in-content-title"><b>信息技术论文</b></h1>
        </div>


        <div class="passage">
<p>信息技术就是我们通常所说的IT，代表着当今先进生产力的发展方向。物质、能量和信息是人类社会生活的三个基本要素，三者缺一不可。凡是能扩展人类的信息功能的技术，都可以称为信息技术。现代的通信，计算机、计算机游戏、计算机的各种语言、电子技术、光钎技术等都是信息技术。现代信息技术的特征是计算机技术、微电子技术、和通信技术。</p>
<p>当前互联网的发展和应用使得信息技术高速发展，世界各国都在致力于信息化，世界上创新型国家几乎都将发展信息技术作为国家战略重点。信息技术有两大支柱：现代计算机技术和现代通信技术。具体可以分为卫星通信、光纤通信、移动通信、互联网、计算机硬件和软件、数据库系统等等。信息技术的发展，将人类智力的作用无限的提高，人类的智力将取代人体力和机械力作为劳动能力。人类社会也正在从工业时代过渡到信息时代。</p>
<p>当前信息技术的发展主要主力是通信技术。计算机技术和传感技术。人类对通信技术的依赖越来越高，特别是智能手机的发展十分迅猛。而计算机技术是人类文明高度发展的标志，目前计算机的智能化是计算机技术的主要发展方向，当前的语音识别和指纹识别技术较为成熟，初步实现智能化计算机。传感技术主要应用在信息识别、信息提取和信息检测等方面，传感技术的运行准确性和快捷性在不断的提高，为人类的生活提供了更有效的帮助。</p>
<p>总之，现在的信息技术的方向是智能化、多功能化、快捷化、高效化，在人类社会的发展的作用越来越大。随着科学技术的发展，信息技术将渐渐成为国民经济的主导产业。</p>
<p>我国的信息产业随着信息技术的迅速发展和应用的普及，已经成为了我国的支柱产业，我国已经成为世界第二大规模信息产业国。但我国的信息产业大而不强，核心技术仍然受控于人，急需尽快改善。虽然我国信息技术的总体水平与国际先进水平仍有不少差距，但是我国在一些影响大的关键信息技术有了振奋人心的突破。</p>

        </div>
    </div>
{% endblock %}