{#1/1#}
{% extends 'profession-sub/profession-sub-base.html' %}


{% block profession_sub_content %}
    <div class="contents">


        <div class="title text-center">
            <h1 class="in-content-title"><b>游戏汉化</b></h1>
        </div>


        <div class="passage">
<p>目前大量的外国游戏公司制作的各种游戏都在中国进行推广运行，但这些游戏都是用游戏产地国家语言开发制作的，在国内不利于大部分人的上手操作，游戏汉化由此兴起并解决这个问题。游戏汉化把外文游戏的界面内容的绝大部分都做成中文的，使得国内的玩家可以顺利的用中文视觉，更方便的进行游戏。</p>
<p>游戏汉化需要从戏开发者编制的文件中层层拨开，然后得到最终需要汉化的资源，这个过程基本上可以比拟一段推理过程。这是很大的挑战，当成功完成后，游戏汉化工作人员会得到成就感，汉化的游戏将会被很多人使用。</p>
<p>游戏汉化虽然工作量不少，汉化过程精细而且繁琐，不能出错，但是汉化流程是非常简单的，一般就是先分析需要汉化游戏的文件资源结构，然后把这些文件资源解压或者解包，在经过字库与编码处理，还需将文本和图片导出修改翻译后再导入，把处理过的字库与编码进行修改，最终把汉化后的文件资源进行封包或者压缩处理。完成以上步骤后，还要对汉化的游戏进行测试，看游戏汉化后是否能正常运营。</p>
<p>目前电子游戏工业已经发展了两个年代，形成了大规模的工业，与电影工业互相竞争成为球最获利的娱乐产业。电子游戏从发明开始，正渐渐在人类的生活环境和生活中产生了极大的改变。现在电子游戏不仅形成了一个产业，也逐渐发展成为一门专门的艺术。在未来，电子游戏将越来越深入人们生活，称为不可缺少的一部分存在于人们的生活中。</p>
<p>人工智能和3D技术的发展使得游戏具有越来越丰富的内容和可玩性，能更好的吸引游戏玩家，而游戏开发商通过游戏内容和插入的广告获得巨大的利润。目前除了计算机电子游戏和掌机游戏等等外，手机游戏随着智能手机的迅猛发展正在急速兴起。</p>

        </div>
    </div>
{% endblock %}