{#1/1#}
{% extends 'profession-sub/profession-sub-base.html' %}


{% block profession_sub_content %}
    <div class="contents">


        <div class="title text-center">
            <h1 class="in-content-title"><b>信息技术专利</b></h1>
        </div>


        <div class="passage">
<p>信息技术的最终发展目标是实现高度的人工智能，让机器设备代替人类进行体力劳动和重复性的脑力劳动，而人类只需要从事创造性的智力劳动，到时候人类社会才会真正进入信息化社会。</p>
<p>就信息技术专利技术专利而言，它主要分布在通信和计算机技术这两大领域，比如光纤技术专利就属于通信技术专利，而NPU（神经网络处理器）则属于计算机技术专利。积极积累这两大领域的技术专利，有利于中国在信息技术浪潮中占领制高点。</p>
<p>在2g、3g乃至4g时代，世界上的通信技术一直被通信巨头高通公司垄断着。在3g技术中，电信公司的CDMA技术是最稳定的，但是CDMA技术完全掌握在高通公司手中，高通公司在提供CDMA制式网络的手机上收取了高额的专利费，这就是为什么使用电信网络的手机要比其他网络制式的手机售价更高的原因，也是全网通手机迟迟得不到大规模推广的原因。现在移动通信网络正在从4g转向5g，为了在5g专利上不再受制于人，中兴和华为等中国通信设备企业正在奋力追赶。5g技术真正爆发的时间点被定为2020年，到那时中国不再是以追赶者，而是以主角的身份亮相。</p>
<p>从上世纪七十年代以来，中国信息技术行业的创新能力不断增强，信息技术专利申请数量在全国各种行业申请专利总量中所占比重最高，达到了三分之一。而在信息技术专利当中，发明专利竟然占到了68.6%，而在其他行业中发明专利的比重要远远低于这一数字。我们信息技术专利申请总量已经超过国外任何国家，当然在通信设备领域国外通信巨头的核心专利仍然处于垄断地位，这也是为什么中国企业现在要奋力追赶，想要在2020年这个时间点前实现对国外企业的弯道超车。</p>
<p>就目前的形势来说，国外企业在信息技术产业仍然占据着整体优势，无论是芯片技术还是通信设备，中国企业仍然受制于人。不管是基本电路与通信设备还是信息材料加工工艺以及电子器件，英特尔、高通、博通、英伟达、AMD等企业的优势仍然比较明显，甚至有可能进一步拉大对国内企业的领先优势。在核心专利领域，中外仍然存在巨大差距，虽然英特尔等公司愿意帮助中国企业生产中低端芯片，比如展讯与英特尔合作生产的低端处理器，但是技术上的差距仍需要通过技术创新缩短。</p>

        </div>
    </div>
{% endblock %}