{#1/1#}
{% extends 'profession-sub/profession-sub-base.html' %}


{% block profession_sub_content %}
    <div class="contents">


        <div class="title text-center">
            <h1 class="in-content-title"><b>网站本地化</b></h1>
        </div>


        <div class="passage">
<p>网站本地化就是将网站的文字内容翻译成目标客户的语言，网站本地化是进入目标市场进行推广必不可少的工作，因为如果不提供当地的语言，当地用户对网站内容的理解一定会有很大障碍。网站本地化是一个双向的过程，国外企业进入中国市场时，需要将网站的文字从外文翻译成中文，当中国企业想要开拓海外市场时，也需要将中文内容翻译成对应国家的外文。</p>
<p>当然网站本地化并不只是简单进行文字翻译，网站图片可能也需要进行调整，比如图片中文字内容可能部分需要翻译。此外图片的内容也要符合当地的宗教信仰、政治敏感话题和风俗习惯，不可以踏入雷区。如果网站中还带有视频，可能要为这些视频配备本地语言字幕。翻译后文字的篇幅可能与原文的篇幅存在较大差别，这时候就必须修改网站的css文件，调整网页布局，以达到整体美观的效果。可以看到网站本地化是一个系统性的工程。</p>
<p>网站本地化语言翻译还需要符合当地的风俗习惯，毕竟一般需要本地化的网站都是企业官网，是一个企业的门面，在方方面面都需要避免触犯客户的禁忌。一个反面的例子是，2017年的韩国音乐奖MAMA的中文页面公然将港澳台列为国家就引起了中国观众的强烈愤慨。不管主办方是否有意为之，这都是挑战中国人底线的事情。</p>
<p>随着互联网和电子商务的发展，许多企业的网站的同时也是该企业的网络销售平台之一。因此网站汉化有着十分重要的意义。</p>
<p>网站本地化有哪些流程呢？</p>
<p>1、首先对网站的内容进行分析，确定哪些内容需要翻译（包括文字和图片）；</p>
<p>2、将文字和图片提取出来，进行语言翻译；</p>
<p>3、翻译网站视频，添加字幕；</p>
<p>4、将翻译好的文件插入HTML文件；</p>
<p>5 、翻译网站后台；</p>
<p>6、对本地化后的网站进行内测，检测bug；并正常运转；</p>
<p>7、发布最终本地化版本。</p>


        </div>
    </div>
{% endblock %}