{#1/1#}
{% extends 'profession-sub/profession-sub-base.html' %}


{% block profession_sub_content %}
    <div class="contents">


        <div class="title text-center">
            <h1 class="in-content-title"><b>信息技术论文</b></h1>
        </div>


        <div class="passage">
<p>信息技术行业是当今十分人们的行业，当前的电子商务、网络金融、人工智能、5G通信、量子计算、物联网技术全都离不开信息技术。信息技术的一个比较宽泛的定义是一切能够拓展人类信息功能的技术。我们常说的通信技术、计算机技术、计算机语言（java、swift、python等）、电子技术都属于信息技术。信息技术的发展极大地便利了人们生活，也极大地改变了人们的生活方式，将来随着人工智能的大规模应用其还将改变人类的生产方式。信息技术行业的繁荣体现在金融市场上，苹果、谷歌、微软、亚马逊、腾讯、三星、阿里巴巴等公司的市值都已经超过或接近五千亿美元。</p>
<p>信息技术的两大支柱是计算机技术和通信技术。计算机技术的发展趋势是提高计算速度，虽然当前移动处理器的速度都已经达到了2GHz以上，但是随着人工智能、自动驾驶等技术的发展，当前的处理器的计算速度还是不能够满足其要求。目前英伟达公司最先进的自动驾驶汽车芯片还只能支持Level3级的自动驾驶技术。当然仅仅提高计算速度是不够的，受摩尔定律接近失效的影响，处理器的发展速度已经严重减缓，各大公司都在开发专门的人工智能专用芯片（海思生产的继承了NPU的麒麟970处理器）和自动驾驶专用芯片（英伟达和谷歌开发的自动驾驶专用计算芯片）。</p>
<p>通信技术的发展趋势则是提高带宽和降低延迟，服务物联网的发展。当前各大企业，各个国家都在争夺5G技术的发展高地，中兴、华为、高通都在积极开展5G研究。信息技术的发展极大地放大了人类智力的作用，解放了人类的双手，让人类不用做重复性的冗余工作，而有更多时间从事创造性的工作。</p>

        </div>
    </div>
{% endblock %}