{#1/1#}
{% extends 'profession-sub/profession-sub-base.html' %}


{% block profession_sub_content %}
    <div class="contents">


        <div class="title text-center">
            <h1 class="in-content-title"><b>游戏汉化</b></h1>
        </div>


        <div class="passage">
<p>玩过育碧、暴雪等国外公司的游戏大作的玩家想必对游戏汉化并不陌生。游戏汉化的目的是帮助玩家更好地操作游戏，提供与本地玩家一致的游戏体验。目前一些国外的游戏大作都不会错过中国这个巨大市场，以team平台为例，中国付费玩家数量仅次于北美地区。但是要想在中国推广自己的游戏，语言就不能成为障碍，尽管中国人的英文水平在不断提升，但是面对全英文的操作界面和人物对话，很多时候操作还是会不那么顺畅。更何况并不是所有游戏都是英文的，比如日本公司的《真三国无双》、《超级马里奥》原版就是日文的。</p>
<p>游戏汉化的目的，就是在菜单和对话框界面提供中文，甚至为游戏角色进行中文配音，从而提供更接近本地玩家的操作和游戏体验。其中比较优秀的代表是《英雄联盟》和《刺客信条》。</p>
<p>游戏汉化的方式一般是添加中文补丁，但是必不可少的步骤是从开发者编制的众多文件中删选从需要进行汉化的文件，然后对这些文件的文字进行翻译。游戏汉化一定不能脱离游戏的文化背景，比如一些历史感较强的游戏，翻译出来的语言风格一定要与当时当地的文化风俗相符。原汁原味地实现游戏汉化并不是一件容易的事。目前在市面上有很多没有针对中国推出的游戏的汉化工作都是由一些爱好者进行的汉化工作，这些作品中不少就呈现粗制滥造的现象，受制于成本，很多就是简单用机器翻译出来的。</p>
<p>游戏汉化的工作量是十分巨大的，仅翻译的任务量就十分繁杂，但是真正汉化的步骤并不复杂。首先要分析文件结构，把文件进行解压，然后进行字库和编码出来，将需要翻译的文本和图片导出翻译，翻译完成后又对字库和编码进行处理，最后对汉化的文件进行压缩。打包压缩完成后的工作就是对汉化版进行测试，如果游戏最终能够完美运行，汉化工作也就真正大功告成了。</p>


        </div>
    </div>
{% endblock %}