{#1/1#}
{% extends 'profession-sub/profession-sub-base.html' %}


{% block profession_sub_content %}
    <div class="contents">


        <div class="title text-center">
            <h1 class="in-content-title"><b>计算机软件汉化</b></h1>
        </div>


        <div class="passage">
<p>目前主要的计算机硬件和计算机软件都是美国的，还有相当一部分日本和其他欧美国家的。外文版的计算机软件资源对国人的使用体验产生了很大的障碍，而计算机软件汉化可以将计算机软件的菜单、对话框、提示等用户界面显示为中文，而软件的内核和功能保持完整，从而更加利于国人的利用。</p>
<p>计算机软件汉化除了直接汉化原版计算机软件，还有制作汉化补丁这种形式。</p>
<p>一般，计算机软件汉化要经过这几个过程，侦壳、脱壳、翻译、调试、编译、测试、发布。主要分为两个部分：主汉化和非标准资源汉化。</p>
<p>计算机软件是指计算机系统中的程序及其文档，也称软件。软件是计算机系统设计的重要依据。为了方便用户，为了使计算机系统具有较高的总体效用，在设计计算机系统时，必须通盘考虑软件与硬件的结合，以及用户的要求和软件的要求。计算机软件的目的与一般作品不同，计算机软件是使计算机完成某些目的比如控制一定生产过程，计算机软件要求法律保护软件的内容，可以引援多种法律保护，计算机软件语言和一般语言不同，是符号化形式化的，表达能力十分有限，</p>
<p>绝大多数知名软件的汉化都是找国内公司做的，鲜少又直接降词汇所需汉化列表分配给翻译公司然后提前定制。Windows以及微软的office系列，从win95开始就是以博彦公司为主做的汉化工作。国外软件公司对本地化的关注度远远高于国内，每年在本地化上投入了大量的资金。</p>

        </div>
    </div>
{% endblock %}