{#1/1#}
{% extends 'profession-sub/profession-sub-base.html' %}


{% block profession_sub_content %}
    <div class="contents">


        <div class="title text-center">
            <h1 class="in-content-title"><b>网站本地化</b></h1>
        </div>


        <div class="passage">
<p>网站本地化就是把一个需要本地化的网站的全部或者部分，编译为当地潜在和目标客户的语言，其不仅要本地化文字，还要对图片动画进行本地化处理，以及网站工程的本地化处理。网站本地化不仅仅是精确的翻译工作，还要考虑和兼顾本地化对象用户群体的民族信仰、风俗、言辞忌讳、色彩好恶等等各方面的问题。</p>
<p>互联网已经深入到全世界人们的日常生活和工作的每个地方，特别是电子商务的迅速发展，使得网站发挥着越来越重要的作用。</p>
<p>几乎每家公司都会建立一个宣传其服务和产品的网站。对于国内的比较小的公司，建立一个中文和英文显示的网站即可。而对于国际化大公司，通常要显示更多的语言，来达到向全球的目标客户跟家方便的传递信息。想翻译十几种语言并不难，难得是满足各种语言所在国家的文化背景、风俗习惯、上网的条件环境的各种差异，因此，简单的网站翻译并不能满足这些公司的需求。网站本地化就这样衍生出来了。网站本地化具有很大的工作量，是一项极其复杂的工程。</p>
<p>国外的本地化公司相对比较多，而在国内，有相当一部分地区，网站本地化和其他本地化还是一个陌生的名词，目前就深圳、上海、北京这三个一线城市有一些本地化公司。</p>
<p>网站本地化一般流程如下：</p>
<p>1、网站本地化的分析，来确定那些内容需要本地化，那些部分不需要；</p>
<p>2、对需要翻译的网站页面内容提取出来，进行网页的翻译作业；</p>
<p>3、对需要本地化的图像和动画按需要进行本地化处理；</p>
<p>4、用本地化的语言替换网页代码的源语言，并对HTML代码调整，实现本地化的版本；</p>
<p>5、对后台界面进行翻译和处理，实现开发运行程序的本地化；</p>
<p>6、对本地化的网站发布测试版本，检测运行和版本测试，来确保网站不会出现问题，并正常运转；</p>
<p>7、发布最终的网站正式本地化运行版本。</p>


        </div>
    </div>
{% endblock %}