{% extends "bootstrap/base.html" %}

{% block title %}cc{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block metas %}
    {{ super() }}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="format-detection" content="telephone=no,email=no,address=no" />
    <meta name="renderer" content="webkit" />

    <meta name="keywords" content="cc"/>
    <meta name="description" content="cc"/>
{#    <link rel='canonical' href='//www.xx12757052.icoc.me/col.jsp?id=112'>#}
    <link type="image/x-icon" href="{{ url_for('static', filename='media/favicon.ico') }}" rel="icon"/>
    <link href="{{ url_for('.static', filename='media/favicon.ico', _external=True) }}" rel="shortcut icon"/>
{% endblock %}

{% block styles %}
    {{ super() }}
    <link type="text/css" href="{{ url_for('static', filename='css/app.css', _external=True) }}" rel="stylesheet">
    {#<link type="text/css" href="{{ url_for('static', filename='css/base2.min.css', _external=True) }}" rel="stylesheet" />
    <link type="text/css" href="{{ url_for('static', filename='css/fkTheme.min.css', _external=True) }}" rel="stylesheet" id="jzThemeFrame"/>
    <link type="text/css" href="{{ url_for('static', filename='css/moduleAnimation.min.css', _external=True) }}" rel="stylesheet" />

	<link id="sysnavlink" type="text/css" href="{{ url_for('.static', filename='css/fkNav.min.css', _external=True) }}" rel="stylesheet">
    <link type="text/css" href="{{ url_for('static', filename='css/newSearchBoxStyle.min.css', _external=True) }}" rel="stylesheet">
    <link type="text/css" href="{{ url_for('static', filename='css/floatBtn1.min.css', _external=True) }}" rel="stylesheet">

    <link type="text/css" href="{{ url_for('static', filename='css/poshytipAndmCustomScrollbar.min.css', _external=True) }}" rel="stylesheet">#}
{#	<link type="text/css" href="jzcusstyle.jsp?colId=2&extId=0&_csw=0" rel="stylesheet">#}
{% endblock %}

{% block navbar %}
    <div class="container" id="header-div">
        <img id="header-logo" src="{{ url_for('static', filename='media/header-logo.png') }}" alt="header logo">
        <div id="header-slogan">
            <div class="row"><span class="slogan">专注科技翻译</span></div>
            <div class="row"><span class="slogan">用翻译提升学术价值</span></div>
        </div>
        <div id="header-phone">
            <img src="{{ url_for('static', filename='media/phone-icon.png') }}">
            <span class="phone-number">400-658-2018 | 010-5178-9898</span>
        </div>
    </div>
    <div class="container-fluid" id="header-navibar" role="navigation">
        <div class="row item-container">
            <div class="col-xs-2">
                <p class="text-center navbar-item active">网站首页</p>
            </div>
            <div class="col-xs-2">
                <p class="text-center navbar-item">翻译领域</p>
            </div>
            <div class="col-xs-2">
                <p class="text-center navbar-item">服务产品</p>
            </div>
            <div class="col-xs-2">
                <p class="text-center navbar-item">质量控制</p>
            </div>
            <div class="col-xs-2">
                <p class="text-center navbar-item">案例简介</p>
            </div>
            <div class="col-xs-2">
                <p class="text-center navbar-item">关于我们</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% block detail %}
        <div class="container">
            <div class="page_header">
                <h1>Hello, Dave!</h1>
            </div>
        </div>
    {% endblock %}

    {% block footer %}
        <footer class="footer navbar-fixed-bottom ">
            <div class="container">
                <h1>Hello, Dave!</h1>
            </div>
        </footer>
    {% endblock %}
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}