{% extends "bootstrap/base.html" %}

{% block title %}cc{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block metas %}
    {{ super() }}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="format-detection" content="telephone=no,email=no,address=no" />
    <meta name="renderer" content="webkit" />

    <meta name="keywords" content="cc"/>
    <meta name="description" content="cc"/>
{#    <link rel='canonical' href='//www.xx12757052.icoc.me/col.jsp?id=112'>#}
    <link type="image/x-icon" href="{{ url_for('.static', filename='media/base/favicon.ico') }}" rel="icon"/>
    <link href="{{ url_for('.static', filename='media/base/favicon.ico', _external=True) }}" rel="shortcut icon"/>
{% endblock %}

{% block styles %}
    {{ super() }}
    <link type="text/css" href="{{ url_for('.static', filename='css/base.css', _external=True) }}" rel="stylesheet">
    <link type="text/css" href="{{ url_for('.static', filename='css/app.css', _external=True) }}" rel="stylesheet">
{% endblock %}

{% block navbar %}
    <div id="level-1-index" style="display: none">{% block level_1_index %}0{% endblock %}</div>

    {# show flash messages #}
    {% with messages = get_flashed_messages() %}
        <div class="container">
            {% for message in messages %}
            <div class="alert alert-warning text-center"  style="margin: 10px 0; font-size: 16px; color: brown;">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
            {% endfor %}
        </div>
    {% endwith %}

    <div class="container" id="header-div">
        <img id="header-logo" src="{{ url_for('.static', filename='media/base/header-logo.png') }}" alt="header logo">
        <div id="header-slogan">
            <div class="row"><span class="slogan">专注科技翻译</span></div>
            <div class="row"><span class="slogan">用翻译提升学术价值</span></div>
        </div>
        <div id="header-phone">
            <div class="icon">&#xe9a0;</div>
            <span class="phone-number">010-81669998 | 15910981088</span>
        </div>
    </div>

    <div id="header-navibar" class="container-fluid" role="navigation">
        <div class="row item-container">
            <div class="col-xs-2">
                <div class="navbar-item">
                    <a href="{{ url_for('main.index') }}">
                        <div class="text-center navbar-button" data-index="1">网站首页</div>
                    </a>
                </div>
            </div>
            <div class="with-menu">
                <div class="col-xs-2">
                    <div class="navbar-item">
                        <div class="text-center navbar-button" data-index="2">翻译领域</div>
                    </div>
                </div>
                <div class="navbar-menu">
                    <div class="row">
                        <div class="col-xs-4 menu-col">
                            <div style="margin-left: 120px;">
                                <p style="line-height: 56px; margin-bottom: auto;">
                                    <a href="{{ url_for('main.profession', pid=1) }}">
                                        <span style="color: #8c8c8c;">>&nbsp&nbsp&nbsp</span>医学医药
                                    </a>
                                </p>
                                <p style="line-height: 56px; margin-bottom: auto;">
                                    <a href="{{ url_for('main.profession', pid=2) }}">
                                        <span style="color: #8c8c8c;">>&nbsp&nbsp&nbsp</span>机械电子
                                    </a>
                                </p>
                                <p style="line-height: 56px; margin-bottom: auto;">
                                    <a href="{{ url_for('main.profession', pid=3) }}">
                                        <span style="color: #8c8c8c;">>&nbsp&nbsp&nbsp</span>物理数学
                                    </a>
                                </p>
                                <p style="line-height: 56px; margin-bottom: auto;">
                                    <a href="{{ url_for('main.profession', pid=4) }}">
                                        <span style="color: #8c8c8c;">>&nbsp&nbsp&nbsp</span>化学化工
                                    </a>
                                </p>
                            </div>
                            <img class="seperator-line" src="{{ url_for('.static', filename='media/base/seperator-line.png') }}">
                        </div>
                        <div class="col-xs-4 menu-col">
                            <div style="margin-left: 120px;">
                                <p style="line-height: 56px; margin-bottom: auto;">
                                    <a href="{{ url_for('main.profession', pid=5) }}">
                                        <span style="color: #8c8c8c;">>&nbsp&nbsp&nbsp</span>生命科学
                                    </a>
                                </p>
                                <p style="line-height: 56px; margin-bottom: auto;">
                                    <a href="{{ url_for('main.profession', pid=6) }}">
                                        <span style="color: #8c8c8c;">>&nbsp&nbsp&nbsp</span>核能核电
                                    </a>
                                </p>
                                <p style="line-height: 56px; margin-bottom: auto;">
                                    <a href="{{ url_for('main.profession', pid=7) }}">
                                        <span style="color: #8c8c8c;">>&nbsp&nbsp&nbsp</span>信息技术
                                    </a>
                                </p>
                                <p style="line-height: 56px; margin-bottom: auto;">
                                    <a href="{{ url_for('main.profession', pid=8) }}">
                                        <span style="color: #8c8c8c;">>&nbsp&nbsp&nbsp</span>环境工程
                                    </a>
                                </p>
                            </div>
                            <img class="seperator-line" src="{{ url_for('.static', filename='media/base/seperator-line.png') }}">
                        </div>
                        <div class="col-xs-4 menu-col">
                            <img class="lazy" src="{{ url_for('.static', filename='media/base/in-narbar-menu-1.jpg') }}"
                                 style="height: 207px; margin-left: 30px; margin-top: 7px;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="with-menu">
                <div class="col-xs-2">
                    <div class="navbar-item">
                        <div class="text-center navbar-button" data-index="3">服务产品</div>
                    </div>
                </div>
                <div class="navbar-menu">
                    <div class="row">
                        <div class="col-xs-4 menu-col">
                            <div style="margin-left: 120px;">
                                <p style="line-height: 56px; margin-bottom: auto;">
                                    <a href="{{ url_for('main.production', pid=1) }}">
                                        <span style="color: #8c8c8c;">>&nbsp&nbsp&nbsp</span>科技文献翻译
                                    </a>
                                </p>
                                <p style="line-height: 56px; margin-bottom: auto;">
                                    <a href="{{ url_for('main.production', pid=2) }}">
                                        <span style="color: #8c8c8c;">>&nbsp&nbsp&nbsp</span>专利文件翻译
                                    </a>
                                </p>
                                <p style="line-height: 56px; margin-bottom: auto;">
                                    <a href="{{ url_for('main.production', pid=3) }}">
                                        <span style="color: #8c8c8c;">>&nbsp&nbsp&nbsp</span>技术标书翻译
                                    </a>
                                </p>
                                <p style="line-height: 56px; margin-bottom: auto;">
                                    <a href="{{ url_for('main.production', pid=4) }}">
                                        <span style="color: #8c8c8c;">>&nbsp&nbsp&nbsp</span>工程图纸翻译
                                    </a>
                                </p>
                            </div>
                            <img class="seperator-line" src="{{ url_for('.static', filename='media/base/seperator-line.png') }}">
                        </div>
                        <div class="col-xs-4 menu-col">
                            <div style="margin-left: 120px;">
                                <p style="line-height: 56px; margin-bottom: auto;">
                                    <a href="{{ url_for('main.production', pid=5) }}">
                                        <span style="color: #8c8c8c;">>&nbsp&nbsp&nbsp</span>英语论文翻译
                                    </a>
                                </p>
                                <p style="line-height: 56px; margin-bottom: auto;">
                                    <a href="{{ url_for('main.production', pid=6) }}">
                                        <span style="color: #8c8c8c;">>&nbsp&nbsp&nbsp</span>英语论文润色
                                    </a>
                                </p>
                                <p style="line-height: 56px; margin-bottom: auto;">
                                    <a href="{{ url_for('main.production', pid=7) }}">
                                        <span style="color: #8c8c8c;">>&nbsp&nbsp&nbsp</span>论文专业排版
                                    </a>
                                </p>
                                <p style="line-height: 56px; margin-bottom: auto;">
                                    <a href="{{ url_for('main.production', pid=8) }}">
                                        <span style="color: #8c8c8c;">>&nbsp&nbsp&nbsp</span>科技论文修图
                                    </a>
                                </p>
                            </div>
                            <img class="seperator-line" src="{{ url_for('.static', filename='media/base/seperator-line.png') }}">
                        </div>
                        <div class="col-xs-4 menu-col">
                            <img class="lazy" src="{{ url_for('.static', filename='media/base/in-narbar-menu-2.jpg') }}"
                                 style="height: 207px; margin-left: 80px; margin-top: 7px;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="navbar-item">
                    <a href="{{ url_for('main.qc') }}">
                        <div class="text-center navbar-button" data-index="4">质量控制</div>
                    </a>
                </div>
            </div>
            <div class="with-menu">
                <div class="col-xs-2">
                    <div class="navbar-item">
                        <div class="text-center navbar-button" data-index="5">案例简介</div>
                    </div>
                </div>
                <div class="navbar-menu">
                    <div class="row">
                        <div class="col-xs-4 menu-col">
                            <div style="margin-left: 40px;">
                                <a href="{{ url_for('main.examples', pid=1) }}">
                                    <img class="lazy" src="{{ url_for('.static', filename='media/base/in-narbar-menu-3.jpg') }}"
                                         style="height: 158px; width: 253px; margin-top: 7px;">
                                    <p class="text-center" style="margin-top: 21px;">科技文献翻译案例</p>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-4 menu-col">
                            <div style="margin-left: 40px;">
                                <a href="{{ url_for('main.examples', pid=2) }}">
                                    <img class="lazy" src="{{ url_for('.static', filename='media/base/in-narbar-menu-4.jpg') }}"
                                         style="height: 158px; width: 253px; margin-top: 7px;">
                                    <p class="text-center" style="margin-top: 21px;">英语论文翻译案例</p>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-4 menu-col">
                            <div style="margin-left: 40px;">
                                <a href="{{ url_for('main.examples', pid=3) }}">
                                    <img class="lazy" src="{{ url_for('.static', filename='media/base/in-narbar-menu-5.jpg') }}"
                                         style="height: 158px; width: 253px; margin-top: 7px;">
                                    <p class="text-center" style="margin-top: 21px;">技术标书翻译案例</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="navbar-item">
                    <a href="{{ url_for('main.about') }}">
                        <div class="text-center navbar-button" data-index="6">关于我们</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="back-to-top-button" hidden="hidden">
        <img src="{{ url_for('.static', filename='media/base/back-to-top-button.png', _external=True) }}">
    </div>
{% endblock %}

{% block content %}
    {% block detail %}

    {% endblock %}

    {% block footer %}
        <div id="footer">
            <div class="text-center">
                <div style="height: 66px; width: 100%"></div>
                <img class="img-1" src="{{ url_for('.static', filename='media/base/in-footer-1.png') }}">
                <p class="text-center" style="font-size: 16px; color: #a6a6a6">
                    <a href="{{ url_for('.profession', pid=1) }}">医学医药</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="{{ url_for('.profession', pid=2) }}">机械电子</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="{{ url_for('.profession', pid=3) }}">数学物理</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="{{ url_for('.profession', pid=4) }}">化学化工</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="{{ url_for('.profession', pid=5) }}">生命科学</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="{{ url_for('.profession', pid=6) }}">核能核电</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="{{ url_for('.profession', pid=7) }}">信息技术</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="{{ url_for('.profession', pid=8) }}">环境工程‍</a>
                </p>
                <div style="height: 52px; width: 100%"></div>
                <p class="text-center">
                    <span style="color:#C40000;font-size:38px;">启信科技</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span style="color:#CCCCCC;font-family:'Times New Roman';font-size:38px;">Credite Scitech</span>
                </p>
                <div style="height: 54px; width: 100%"></div>
                <p class="text-center" style="font-size: 14px; color: #a6a6a6">
                    电话：010-81669998 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;邮箱：caiyubin2017@icloud.com &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 地址：北京市海淀区知春路111号理想大厦1904室
                </p>
                <div style="height: 38px; width: 100%"></div>
            </div>
        </div>
    {% endblock %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('.static', filename='js/app.js') }}"></script>
{#    <script type="text/javascript" src="{{ url_for('.static', filename='js/jquery.lazyload.min.js') }}"></script>#}
{#    <script type="text/javascript" src="{{ url_for('.static', filename='js/app-lazyload.js') }}"></script>#}
    <script type="text/javascript" src="//s.union.360.cn/155353.js" async defer></script>
    <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?6def6bfc1947ae37ed030a22fce99175";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
    </script>

{% endblock %}
