<section class="container-fluid" id="contact-us">
    <div class="content-inner">
        <div class="title-block float-up">
            联系我们&nbsp;&nbsp;<span class="subtitle">CONTACT</span>
            <p>——————</p>
        </div>
        <div class="passage float-up">
            <div class="title">北京启信信息技术有限公司</div>
            <div class="text">
                <p>联系邮箱：caiyubin2017@icloud.com</p>
                <p>热线电话：010-81669998</p>
                <p>联系电话：15910981088</p>
                <p>联系地址：北京市海淀区知春路111号理想大厦1904室</p>
            </div>
        </div>
        <div class="social-networks float-up">
            <a href="http://wpa.qq.com/msgrd?v=3&uin=4006822826&site=qq&menu=yes">
                <img class="SN-logo lazy" src="{{ url_for('.static', filename='media/index/social-network-logo-weixin.png') }}">
            </a>
            <a href="http://wpa.qq.com/msgrd?v=3&uin=4006822826&site=qq&menu=yes">
                <img class="SN-logo lazy" src="{{ url_for('.static', filename='media/index/social-network-logo-sina.png') }}">
            </a>
            <a href="http://wpa.qq.com/msgrd?v=3&uin=4006822826&site=qq&menu=yes">
                <img class="SN-logo lazy" src="{{ url_for('.static', filename='media/index/social-network-logo-qq.png') }}">
            </a>
        </div>
        <div id="customer-file-upload-form" class="float-up">
            <form class="form-inline" method="POST" action="{{ url_for('main.upload_file') }}" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.customerName.label(class="text-right") }}
                    {{ form.customerName(class="form-control",placeholder="Name") }}
                    <div class="star red">*</div>
                </div>
                <div class="form-group">
                    {{ form.customerPhoneNumber.label(class="text-right") }}
                    {{ form.customerPhoneNumber(class="form-control",placeholder="Phone Number") }}
                    <div class="star red">*</div>
                </div>
                <div class="form-group">
                    {{ form.customerEmail.label(class="text-right") }}
                    {{ form.customerEmail(class="form-control",placeholder="Email") }}
                    <div class="star red">*</div>
                </div>
                <div class="form-group">
                    {{ form.uploadFile.label(class="text-right") }}
                    <a href="" class="a-upload">
                        {{ form.uploadFile() }}选择文件
                    </a>
                    <div class="file-upload-hint">
                        <img src="{{ url_for('static', filename='media/other-pics/siteFormFUDescIcons.png') }}">文件大小不超过50M<span class="red">*</span>
                    </div>
                </div>
                {{ form.submit(class="btn btn-default") }}
            </form>
        </div>
    </div>
</section>
<section class="container text-center" id="org-logos">
    <div class="org-logos">
        <img class="lazy float-up" src="{{ url_for('.static', filename='media/index/in-index-org.jpg') }}">
    </div>
</section>