{#翻译案例-英语论文翻译#}
{% extends "base.html" %}
{% block title %}成功案例_客户案例_翻译案例_启信科技翻译{% endblock %}
{% block metas %}
    {{ super() }}

    <meta name="keywords" content="成功案例, 翻译解决方案,翻译成功案例"/>
    <meta name="description" content="启信翻译在IT行业、电子行业、通讯行业、机械行业、汽车行业、建筑行业、钢铁行业、能源行业、化工行业、医药行业、法律行业、财经行业、管理咨询、专利科技、教育行业、旅游行业等领域有大量翻译成功案例。"/>

{% endblock %}

{% block level_1_index %}5{% endblock %}

{% block styles %}
    {{ super() }}
{% endblock %}

{% block detail %}
    <section id="example-banner" class="container-fluid banner-3"></section>
    <section id="example-content" class="container">
        <table class="layout-table"><tr>
            <td class="sidebar-navigation">
                <div class="nav-header"><span>案例导航</span></div>
                <div class="nav-items">
                    <a href="{{ url_for('main.examples', pid=1) }}">
                        <div class="nav-item"><span>案例简介-文献翻译</span></div>
                    </a>
                    <div class="seperator-line"></div>
                    <div class="nav-item active"><span>案例简介-英语论文翻译</span></div>
                    <div class="seperator-line"></div>
                    <a href="{{ url_for('main.examples', pid=3) }}">
                        <div class="nav-item"><span>案例简介-技术标书翻译</span></div>
                    </a>
                    <div class="seperator-line"></div>
                    <a href="{{ url_for('main.examples', pid=4) }}">
                        <div class="nav-item"><span>案例展示-其他案例</span></div>
                    </a>
                </div>
            </td>
            <td>
                <div class="contents">
                    <div class="title text-center">
                        <h1 class="in-content-title"><b>翻译案例-英语论文翻译</b></h1>
                    </div>
                    <div style="height: 50px;"></div>
                    <table id="examples-table">
                        <tr class="table-title"><td colspan="4">英语论文翻译案例下载</td></tr>
                        {% for file in example_files %}
                        <tr class="row{% if loop.last %} last{% endif %}">
                            <td class="name">{{ file[0] }}</td>
                            <td class="size">{{ file[1] }}KB</td>
                            <td class="download-link">
                                <a href="{{ url_dirpath + '/' + file[0] }}">下载</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </td></tr>
        </table>
    </section>
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}