{#启信科技英语论文润色#}
{% extends "production-base.html" %}

{% block production_title %}启信科技英语论文润色{% endblock %}
{% block production_title_en %}ENGLISH EDITING{% endblock %}

{% block prodution_introduction %}
<div class="text-center">
135位各专业学科清华博士，丰富英文论文写作、发表经验；<br>
85位国内资深语言专家，10年以上中英翻译、编校经验；<br>
16位外籍专家顾问，最高达教授级，100%英语母语写作能力，<br>
我们是您最值得信赖的语言服务专家，
</div>
{% endblock %}

{% block production_content %}
<div class="production-6">
    <div class="pictures row">
        <div class="col-xs-3">
            <img class="picture" src="{{ url_for('static', filename='media/profession/production-5-1.jpg') }}">
        </div>
        <div class="col-xs-3">
            <img class="picture" src="{{ url_for('static', filename='media/profession/production-5-2.jpg') }}">
        </div>
        <div class="col-xs-3">
            <img class="picture" src="{{ url_for('static', filename='media/profession/production-5-3.jpg') }}">
        </div>
        <div class="col-xs-3">
            <img class="picture" src="{{ url_for('static', filename='media/profession/production-5-4.jpg') }}">
        </div>
    </div>
    <p class="promise text-center">
        <b>我们承诺，由我们润色的论文100%符合SCI/SSCI/EI等顶级英文期刊发表语言标准！</b>
    </p>
    <div class="price text-left">
        <div class="in-content-title"><b>英语论文润色级别</b></div>
        <div class="in-content-subtitle">CLASSES OF SERVICE</div>
        <img class="text-center img classes" src="{{ url_for('static', filename='media/profession/production-6-classes.png') }}">
    </div>
    <div class="fields">
        <div class="content-inner">
            <div class="passage-1">
                <div class="in-content-title"><b>最优秀的多学科校编团队</b></div>
                <div class="in-content-subtitle">BEST TEAM ON VARIOUS FILEDS</div>
                <p class = "text">
                    涵盖8大领域，25个一级学科，1000多个细分学科，135位具备英语论文发表经验的博士研究生以及16位外籍专家顾问
                </p>
            </div>
            <div class="pictures">
                    <div class="picture-container small"><img src="{{ url_for('static', filename='media/index/in-content-3-1.jpg') }}"></div>
                    <div class="picture-container small"><img src="{{ url_for('static', filename='media/index/in-content-3-6.jpg') }}"></div>
                    <div class="picture-container small"><img src="{{ url_for('static', filename='media/index/in-content-3-2.jpg') }}"></div>
                    <div class="picture-container small"><img src="{{ url_for('static', filename='media/index/in-content-3-5.jpg') }}"></div>
            </div>
        </div>
    </div>
    <div class="price text-left">
        <div class="in-content-title"><b>英语论文翻译价格与速度</b></div>
        <div class="in-content-subtitle">PRICE&SPEED</div>
        <img class="text-center img price" src="{{ url_for('static', filename='media/price/price-english-editing.png') }}">
    </div>
</div>
{% endblock %}

{% block production_other_sections %}
{% endblock %}
