{#启信科技英语论文翻译#}
{% extends "production-base.html" %}
{% block title %}图纸翻译_专业图纸翻译_图纸翻译公司_启信科技翻译{% endblock %}
{% block metas %}
    {{ super() }}

    <meta name="keywords" content="工程图纸翻译，施工图纸翻译，机械图纸翻译"/>
    <meta name="description" content="启信是—家专业图纸翻译公司，可提供CAD图纸翻译，建筑图纸翻译，技术图纸翻译，机械图纸翻译，施工图纸翻译，设计图纸翻译，工程图纸翻译等专业翻译服务，服务热线 010 81669998"/>

{% endblock %}


{% block production_title %}启信科技英语论文翻译{% endblock %}
{% block production_title_en %}ENGLISH TRANSLATION{% endblock %}

{% block prodution_introduction %}
启信科技的英语论文翻译由具备专业学科背景的翻译员与编辑紧密合作，通过5轮语言质量控制，
准确表达您的研究成果，使您的论文语言达到国际期刊的发表要求。
{% endblock %}

{% block production_content %}
<div class="production-4">
    <div class="price text-left">
        <div class="in-content-title"><b>工程技术图纸翻译流程</b></div>
        <div class="in-content-subtitle">PROCEDURES OF TRANSLATION</div>
        <img class="text-center img procedure" src="{{ url_for('.static', filename='media/profession/procedure-technical-drawings.png') }}">
    </div>
    <div class="price text-left">
        <div class="in-content-title"><b>工程技术图纸翻译价格</b></div>
        <div class="in-content-subtitle">PRICE OF SERVICE</div>
        <img class="text-center img price" src="{{ url_for('.static', filename='media/price/price-technical-drawings.png') }}">
    </div>
</div>
{% endblock %}

{% block production_other_sections %}
{% endblock %}
