{#启信科技英语论文翻译#}
{% extends "production-base.html" %}

{% block production_title %}启信科技英语论文翻译{% endblock %}
{% block production_title_en %}ENGLISH TRANSLATION{% endblock %}

{% block prodution_introduction %}
启信科技的英语论文翻译由具备专业学科背景的翻译员与编辑紧密合作，通过5轮语言质量控制，
准确表达您的研究成果，使您的论文语言达到国际期刊的发表要求。
{% endblock %}

{% block production_content %}
<div class="production-4">
    <div class="price text-left">
        <div class="in-content-title"><b>工程技术图纸翻译流程</b></div>
        <div class="in-content-subtitle">PROCEDURES OF TRANSLATION</div>
        <img class="text-center img procedure" src="{{ url_for('.static', filename='media/profession/procedure-technical-drawings.png') }}">
    </div>
    <div class="price text-left">
        <div class="in-content-title"><b>工程技术图纸翻译价格</b></div>
        <div class="in-content-subtitle">PRICE OF SERVICE</div>
        <img class="text-center img price" src="{{ url_for('.static', filename='media/price/price-technical-drawings.png') }}">
    </div>
</div>
{% endblock %}

{% block production_other_sections %}
{% endblock %}
