{#启信科技文献翻译#}
{% extends "production-base.html" %}
{% block title %}文献翻译_外文文献翻译_英文文献翻译_启信科技翻译{% endblock %}
{% block metas %}
    {{ super() }}

    <meta name="keywords" content="文献翻译，科技文献翻译，文献翻译公司"/>
    <meta name="description" content="启信翻译是—家专业文献翻译公司，提供文献翻译涉及专著、论文集、报纸文章、期刊文章、学问论文、专利、报告等专业翻译服务，我们在多个专业领域建立了多语种的术语库，拥有全面的专业术语资源。如有翻译需求，请致电：010 81669998"/>

{% endblock %}

{% block production_title %}启信科技文献翻译{% endblock %}
{% block production_title_en %}DOCUMENTS TRANSLATION{% endblock %}

{% block prodution_introduction %}
科技文献是指除发表性的论文以及特殊的专利文件、技术标书、图纸文件以外的各种科技领域的教材、
专著、技术说明书、技术规格书、产品制造配方、实验报告、会议报告、检测报告等各类文献资料。
除少数中译外的专著和教材外，科技文献翻译大多为外译中，一般不需发表，翻译语言要求比论文翻译低，但是专业性要求不一定比论文翻译低。<br />
<br />
启信科技有最专业的科技翻译团队，能够提供包括英语在内的多种语言的科技文献翻译服务。
{% endblock %}

{% block production_content %}
{% endblock %}

{% block production_other_sections %}
<section class="container-fluid production-1 other-section-1">
    <div class="content-inner">
        <div class="passage-1">
            <div class="in-content-title"><b>我们的优势</b></div>
            <div class="in-content-subtitle">OUR ADVANTAGES</div>
            <p class = "text">
                我们的团队是我们的最大优势，在科技文献翻译方面，我们整合了各个行业的优秀翻译人才，
                他们都同时具备该行业的从业背景和良好的语言驾驭能力，从而能够保证专业知识准确无误，
                语言表达符合要求。在此基础上，我们再由外语专业的资深编校专家进行语言审校，
                最终打造出语言与专业性俱佳的科技翻译。
            </p>
        </div>
        <table class="passage-2">
            <tr>
                <td class="text">
                    <h3 class="title">纯人工精细翻译</h3>
                    <p>完全使用人工翻译，不跟随行业使用AI软件的风气，杜绝AI翻译带来的直译错误，坚持工匠精神，打磨高端品质</p>
                </td>
                <td class="icon">&#xe945;</td>
            </tr>
            <tr>
                <td class="text">
                    <h3 class="title">百分百品质保障</h3>
                    <p>六阶段品质管控体系保证翻译质量始终如一，严密的保密措施，确保每一位客户的信息安全</p>
                </td>
                <td class="icon">&#xe9fc;</td>
            </tr>
            <tr>
                <td class="text">
                    <h3 class="title">双重审校</h3>
                    <p>百分百坚持双重审校（译者自审+专业编校二审），可按客户要求提供译、审两稿</p>
                </td>
                <td class="icon">&#xeac1;</td>
            </tr>
            <tr>
                <td class="text">
                    <h3 class="title">一对一服务</h3>
                    <p>一对一贴心服务，时刻了解客户需求，并将其反馈到服务流程里</p>
                </td>
                <td class="icon">&#xe952;</td>
            </tr>
        </table>
    </div>
</section>
<section class="container-fluid production-1 other-section-2">
    <div class="content-inner">
        <div class="passage-1">
            <div class="in-content-title"><b>翻译领域</b></div>
            <div class="in-content-subtitle">FIELDS</div>
            <p class = "text">
                我们的服务领域以理工科为主，涵盖生物医学、机械电子、物理数学、化学化工、环境工程、核能核电、财贸金融、人文艺术等八大领域
            </p>
        </div>
        <div class="pictures">
                <div class="picture-container small"><img src="{{ url_for('.static', filename='media/index/in-content-3-1.jpg') }}"></div>
                <div class="picture-container small"><img src="{{ url_for('.static', filename='media/index/in-content-3-6.jpg') }}"></div>
                <div class="picture-container small"><img src="{{ url_for('.static', filename='media/index/in-content-3-2.jpg') }}"></div>
                <div class="picture-container small"><img src="{{ url_for('.static', filename='media/index/in-content-3-5.jpg') }}"></div>
        </div>
    </div>
</section>
<section class="container-fluid production-1 other-section-3">
    <div class="content-inner">
        <div class="passage-1">
            <div class="in-content-title"><b>服务语言</b></div>
            <div class="in-content-subtitle">LANGUAGES</div>
            <p class = "text">
                我们的服务服务语言包括但不仅限于英、日、韩、俄、法、德、意、阿拉伯等八种常用外语，更多语言请详询客服
            </p>
        </div>
        <img class="pic-1" src="{{ url_for('.static', filename='media/other-pics/in-production-1-languages.png') }}">
    </div>
</section>
<section class="container-fluid production-1 other-section-4">
    <div class="content-inner">
        <div class="passage-1">
            <div class="in-content-title"><b>科技文献翻译服务价格</b></div>
            <div class="in-content-subtitle">PRICE</div>
        </div>
        <img class="pic-1" src="{{ url_for('.static', filename='media/price/price-science-literature.png') }}">
    </div>
</section>
{% endblock %}
