{#1/1#}
{% extends 'profession-sub/profession-sub-base.html' %}


{% block profession_sub_content %}
    <div class="contents">


        <div class="title text-center">
            <h1 class="in-content-title"><b>制药</b></h1>
        </div>


        <div class="passage">
            <p>制药包括生物制药、中药制药和化学制药，其中化学制药又包括一般化学制药和放射化学制药。不管生物制药还是化学制药都涉及到化学物质的萃取、提纯、合成等工艺流程，其中放射化学制药还涉及到放射性同位素的制备、储存、运输。因此制药工程是一个涉及到化学、生物学、微生物学、药学、中医药学、物理学、工程学的多学科专业。</p>
            <h2>1.化学制药</h2>
            <p>所有化学制药过程都包括化学原料生产和药剂生产两大过程。后者是指从天然物质中分离得到纯化学物质，比如青蒿素、奎宁、咖啡因等，或者使用化学物质直接合成药剂成分，比如治疗感冒的阿司匹林。化学制药工程需要掌握有机化学、分析化学、无机化学、制药工程与设备等专业知识。</p>
            <h2>2.中药制药</h2>
            <p>中药制药是中国的特色产业，中国传统的中药产业就属于此，但是随着科学技术发展现代中药制药加入了现代化的栽培、提纯、复合技术。中药制药专业应掌握中药研发的基本理论，并具备中药质量、药效、安全评估能力，以及药物制备的基本操作技能。</p>
            <h2>3.生物制药</h2>
            <p>生物制药是指运用现代化的生物技术制备药剂的过程，一般是指运用微生物技术，生产抗生素等药物，比如青霉素、链霉素、红霉素。生物制药专业又包括微生物培养、工业发酵、灭菌以及无菌技术等专业知识。</p>
            <p>制药翻译涉及到大量的专业知识，相关翻译人员应该熟悉医药学词汇、药学基本知识、化学工程专业知识，并了解制药工程仪器、设备、工艺以及评估标准。</p>
            <p>启信科学翻译的进行制药翻译的译者全都了解相关专业知识，并熟悉制药翻译的一般流程，在制药翻译方面我们有以下优势：
            <br>1.医学医药术语库完备，数十万专业术语一网打尽。
            <br>2.医药学硕博研究生翻译，熟悉基本知识，了解翻译流程。
            <br>3.制药从业者校对，用深厚的行业经验纠正一切专业错误。
            <br>4.科学完善的翻译质控流程，全程监控翻译质量，100%反馈客户意见，确保翻译水平始终如一。</p>
        </div>
    </div>
{% endblock %}