{#1/1#}
{% extends 'profession-sub/profession-sub-base.html' %}


{% block profession_sub_content %}
    <div class="contents">


        <div class="title text-center">
            <h1 class="in-content-title"><b>检查报告翻译</b></h1>
        </div>


        <div class="passage">
<p>检查报告是指体检报告、化验报告、诊断书、医生意见书等医学材料。现在越来越多的人为了寻求更高水平的医学治疗或健康体检，会到美国、欧洲等医疗水平更发达的国家和地区去看病，其中必然会收到这些国家的医院或其他医疗机构开具的各种检查报告。不管是病人家属自己需要了解检查结果，还是归国后医生需要知悉详细的检查项目、检查结果以及医生意见，都需要对这些检查报告进行翻译。</p>
<p>检查报告的翻译一般具有以下特点：</p>
<p>1. 时间性要求较高</p>
<p>一般顾客会在去医院之前才发现检查报告需要翻译，这时候就要求能够将检查报告快速及时地翻译出来，有时甚至是第二天就需要翻译结果。启信科技翻译医学翻译小组能够处理各种紧急翻译任务，一旦客人有特殊需要，要求第二天甚至当天就需要译件，我们的译员会在夜里加班完成，如果任务量较大，我们还会组织团队协作完成，目前我们日翻译量能够达到10万字。</p>
<p>2. 翻译要求仔细严谨</p>
<p>检查报告不同于其他文献，容不得出现任何差错，因为一个数字的差错都可能使得后边的医生出现重大误判，最后导致延误病情甚至危及病人生命安全的结果。我们深感检查报告翻译的责任重大，不但要求译员翻译时严谨仔细，而且会将所有译稿与原文进行比对审查，消除一切低级错误。</p>
<p>3. 专业术语较多</p>
<p>检查报告虽然不会涉及基本的医学理论或药理知识，但是仍然会有不少医学专业术语或医药名词。对于检查报告，我们一般会安排医学专业的研究生或医疗机构的临床医师进行翻译，真正确保名词术语翻译的准确性。</p>


        </div>
    </div>
{% endblock %}