{#1/1#}
{% extends 'profession-sub/profession-sub-base.html' %}


{% block profession_sub_content %}
    <div class="contents">


        <div class="title text-center">
            <h1 class="in-content-title"><b>医学文献翻译</b></h1>
        </div>


        <div class="passage">
            <p>医学文献是指英语论文、病例、检查报告、诊断书等特殊问题以外的所有与医学相关的文献资料，包括医学会议报告、外译中论文、医疗器械说明书、医学检测报告等等。医学文献翻译一般为将英语资料翻译成中文，主要用途为内部参阅，不涉及发表、专利申报、保险理赔或用作其他证明材料。相对来说，医学文献翻译的语言要求没有英语论文的要求高，但是对于译者来说仍是巨大挑战。</p>
            <p>一方面医学文献翻译要求译者熟悉医学、医药、医疗器械、医药制备、医药评估等各种与医药学相关的专业知识，对于中医文献翻译来说，还需要译者熟练掌握中医基本药理知识以及相关专业术语。启信科技翻译文献翻译小组，全部由北大医学部等著名高校的医学专业研究生和医疗机构医生、药剂师等专业人员组成，不但有深厚的专业素养，而且有丰富的翻译经验。</p>
            <p>另一方面，医学文献翻译需要译者全面掌握医学中英专业术语，这对所有译者来说都是巨大的挑战。为了应对这个问题，我们除了完善人才结构，挑选最优秀的医学专业译者外，还逐步建立了完善的医学专业语料库，目前已经收录专业术语数十万条，从而大大降低了译者的翻译难度，既提高了翻译速度，又降低专业偏差。</p>
            <p>在医学文献翻译方面，我们建立了专门的翻译小组，由项目经理统筹，在对文件进行预处理后，与语料库进行比对，然后再将项目进行划分切割，按照专业相关性，细分给基础医学、临床医学、预防医学、解剖医学、中医学等各个细分专业的译者，翻译完成后再交给审校者进行专业审校。最后进行通稿整理，并交给客户。</p>
            

        </div>
    </div>
{% endblock %}