{#1/1#}
{% extends 'profession-sub/profession-sub-base.html' %}


{% block profession_sub_content %}
    <div class="contents">


        <div class="title text-center">
            <h1 class="in-content-title"><b>病例翻译</b></h1>
        </div>


        <div class="passage">
<p>病例翻译是医学材料翻译中比较常见的一种翻译类型。需要翻译病例的情况一般有两种情形，一种是为了跨国医疗旅行，医生或病人家属看不懂其他语言的病例，需要翻译，这种情形看似对翻译要求不高，但实际并非如此，如果不是可靠的翻译公司提供的翻译，医生可能会在看翻译病例作出重大误判，其后果将不堪设想。</p>
<p>第二种情形是保险理赔，保险公司在受理医疗理赔时，对外国的病例会要求提供有资质的翻译件，因为只有这样才具有法律效力。启信科技翻译是资质齐全的涉外翻译机构，有公安部特批的翻译专用章，所有盖章译件得到公安部、外交部、外领事馆、工商管理局、大学、公证处等各种机构承认，百分百保证有效。</p>
<p>启信科技翻译医学翻译小组有丰富的病例翻译经验，所译文件专业知识正确，文件格式规范，更加重要的是，我们的态度始终严谨仔细，多番检查，确保翻译病例百分百忠实原文。在病例翻译方面我们有以下优势：</p>
<p>1. 所有译者至少是医学专业的博士研究生，能够熟练掌握医学知识，不会出现术语不懂，意译、直译的情况；</p>
<p>2. 所有病例翻译都必须经过专业医生的审校，我们的医学审校来自北京协和、解放军总医院等医疗单位，他们都具备丰富的处理病例的经验，能够发现译者由经验不足带来的错误；</p>
<p>3. 所有病例翻译都必须经过二次检查，抱着对病人负责的态度，所以病例审校完后，我们还会进行二次检查，二次检查的技术难度虽然不高，但是能够发现数字等明显的错误或缺漏，人命关天，不容有失；</p>
<p>4. 翻译完成后客户如果对原文有少许修改，我们会负责对译文进行修改，此过程不再收取任何费用。</p>


        </div>
    </div>
{% endblock %}